%section
  .container
    .heading.clearfix
      %h1= t('hints.how_it_works')

    %article.main-article
      %header
        %h1= t 'hints.how_it_works_page.headers.a'
        .chapter-images.pull-left
        .chapter-text
          %p
            %b= t 'hints.lesson_is'
            = t 'hints.lesson_is_description'
          %p
            %b= t 'hints.course_is'
            = t 'hints.course_is_description'
          %small= t 'hints.how_it_works_page.text_parts.a'

    %article.main-article
      %header
        %h1= t 'hints.how_it_works_page.headers.b'
        .chapter-images.pull-right
        .chapter-text
          %p
            = link_to t('hints.how_it_works_page.text_parts.b'), lessons_path
            = t 'hints.how_it_works_page.text_parts.c'
          %p= t 'hints.how_it_works_page.text_parts.d'
          %p
            = t 'hints.how_it_works_page.text_parts.e'
            %span.green>= t 'buy'
            = t 'hints.how_it_works_page.text_parts.f'
          %p
            = t 'hints.how_it_works_page.text_parts.g'
            %small= t 'hints.how_it_works_page.text_parts.h'
          %p
            = t 'hints.how_it_works_page.text_parts.i'
            %small= t 'hints.how_it_works_page.text_parts.j'
          %p
            %small= t 'hints.how_it_works_page.text_parts.k'
          %p
            %small= t 'hints.how_it_works_page.text_parts.l'

    %article.main-article
      %header
        %h1= t 'hints.how_it_works_page.headers.c'
        .chapter-images.pull-left
        .chapter-text
          %p= t 'hints.how_it_works_page.text_parts.m'
          %p
            = t 'hints.how_it_works_page.text_parts.n'
            = link_to t('hints.how_it_works_page.text_parts.o'), new_user_session_path
          %p
            = t 'hints.how_it_works_page.text_parts.p'
            %span.orange>= t 'auth.sign_in_via.facebook'
            = t 'hints.how_it_works_page.text_parts.q'
            %span.orange>= t 'auth.sign_in_via.vkontakte'
            = t 'hints.how_it_works_page.text_parts.r'
          %p
            %b= t 'hints.how_it_works_page.text_parts.s'
          %p
            = t 'hints.how_it_works_page.text_parts.t'
            %small= t 'hints.how_it_works_page.text_parts.u'

    %article.main-article
      %header
        %h1= t 'hints.how_it_works_page.headers.d'
        .chapter-images.pull-right
        .chapter-text
          %p= t 'hints.how_it_works_page.text_parts.v'
          %p= t 'hints.how_it_works_page.text_parts.w'

    %article.main-article
      %header
        %h1= t 'hints.how_it_works_page.headers.e'
        .chapter-images.pull-right
        .chapter-text
          %p
            = t 'hints.how_it_works_page.text_parts.x'
            %span.orange Teach-Me
            = t 'hints.how_it_works_page.text_parts.y'
            %b "PRO".
          %p
            = t 'hints.how_it_works_page.text_parts.z'
            %b "PRO"
            = t 'hints.how_it_works_page.text_parts.aa'
            %span.orange= (Lesson::PRO_DISCOUNT_FOR_STUDENT * 100).to_i.to_s + '%'
            = t 'hints.how_it_works_page.text_parts.ab'
            %span.orange= (Lesson::PRO_DISCOUNT_FOR_TEACHER * 100).to_i.to_s + '%.'
          %p
            = t 'hints.how_it_works_page.text_parts.ac'
            = link_to 'Help', static_page_path(:help), class: 'orange'
            = t 'hints.how_it_works_page.text_parts.ad'
            = link_to t('static_pages.names.how_it_works'), static_page_path(:how_it_works), class: 'orange'
    %p= t 'hints.how_it_works_page.team_sign'




