.sign_up
  .form_wrapper
    - failed_fields = resource.errors.messages.keys
    - if failed_fields.present?
      .auth_error_messages
        \-
        = resource.errors.full_messages.first
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:autocomplete => 'off'}) do |f|
      .pretty_input{ class: failed_fields.include?(:email) ? 'auth_error_login' : 'login_register' }
        .left
        .right
          = f.email_field :email, placeholder: t('user.email')
      .pretty_input{ class: failed_fields.include?(:first_name) ? 'auth_error_login' : 'login_register' }
        .left
        .right
          = f.text_field :first_name, placeholder: t('user.first_name')
      .pretty_input{ class: failed_fields.include?(:last_name) ? 'auth_error_login' : 'login_register' }
        .left
        .right
          = f.text_field :last_name, placeholder: t('user.last_name')
      .pretty_input{ class: failed_fields.include?(:password) ? 'auth_error_pass' : 'pass_register' }
        .left
        .right
          = f.password_field :password

      .pretty_input{ class: failed_fields.include?(:password) ? 'auth_error_pass' : 'pass_register' }
        .left
        .right
          = f.password_field :password_confirmation
      .submittable#submit_button
        %a
          %span= t('auth.sign_up')
      .delimiter
      .shared_links
        .shared_sign_in
          = link_to t('auth.sign_in'), new_session_path(resource_name)
        .shared_forgot_password
          = link_to t('auth.forgot_password'), new_password_path(resource_name)
