.payment-box.pro-selection
  .column-1
    .pro-box.clearfix
      %a.student-ticket{:href => "#"}
        = image_tag 'ticket-10.png'
      .chooser
        %h3
          = t 'hints.payment_page.price'
          %span.icon.icon-pro
          = t 'hints.payment_page.of_account'
        %label
          %input{:name => "pro", :type => "radio"}/
          %span.checkbox-input
          %span.price
            %b.count 75
            = t 'currency'
          %b.sign.math х
          %span.month
            %b 1 #{t 'hints.payment_page.month', count: 1}
          %b.math =
          %b.count 75
          = t 'currency'
        %label
          %input{:name => "pro", :type => "radio"}/
          %span.checkbox-input
          %span.price
            %b.count 65
            = t 'currency'
          %b.sign.math х
          %span.month
            %b 3 #{t 'hints.payment_page.month', count: 3}
          %b.math =
          %b.count 195
          грн.
        %label
          %input{:name => "pro", :type => "radio"}/
          %span.checkbox-input
          %span.price
            %b.count 55
            = t 'currency'
          %b.sign.math х
          %span.month
            %b 6 #{t 'hints.payment_page.month', count: 6}
          %b.math =
          %b.count 330
          = t 'currency'
        %label
          %input{:name => "pro", :type => "radio"}/
          %span.checkbox-input
          %span.price
            %b.count 50
            = t 'currency'
          %b.sign.math х
          %span.month
            %b 12 #{t 'hints.payment_page.month', count: 12}
          %b.math =
          %b.count 600
          = t 'currency'
  .column-2.text-center
    .price
      = t 'lesson.price'
      %b.pro-price 0
      = t 'currency'
    %p.account-due.hide
      = t 'hints.payment_page.your_account'
      %b> PRO
      = t 'hints.payment_page.will_be_available'
      %br/
      = t 'hints.payment_page.since'
      %b.date_since= Date.today.to_s(:russian)
      = t 'hints.payment_page.till'
      %b.date_till
    -# TODO add tooltip
    -#%p
    -#  %a{:href => "#"}
    -#    Подробней о возможностях "
    -#    %b> PRO
    -#    "