- force_visible = false unless defined?(force_visible)
- selected = false unless defined?(selected)
.payment-box.pro-selection{ class: force_visible ? 'force-visible' : ''}
  .column-1
    .pro-box.clearfix
      %a.student-ticket{:href => "#"}
        = image_tag 'ticket-10.png'
      .chooser
        %h3
          = t 'hints.payment_page.price'
          %span.icon.icon-pro
          = t 'hints.payment_page.of_account'
        - [1, 3, 6, 12].each do |term|
          %label{ build_pro_option_data(term, selected) }
            %input{:name => "pro", :type => "radio"}/
            %span.checkbox-input
            %span.price
              %b.count= Lesson::PRO_PRICE_RELATIONS[term.to_s] * term
              = t 'currency'
            %b.sign.math х
            %span.month
              %b #{term} #{t 'hints.payment_page.month', count: term}
            %b.math =
            %b.count= Lesson::PRO_PRICE_RELATIONS[term.to_s] * term
            = t 'currency'
  .column-2.text-center
    .price
      = t 'lesson.price'
      %b.pro-price 0
      = t 'currency'
    %p.account-due.hide
      = t 'hints.payment_page.your_account'
      %b> PRO
      = t 'hints.payment_page.will_be_available'
      %br/
      = t 'hints.payment_page.since'
      %b.date_since= Time.now.to_s(:russian)
      = t 'hints.payment_page.till'
      %b.date_till
    -# TODO add tooltip
    -#%p
    -#  %a{:href => "#"}
    -#    Подробней о возможностях "
    -#    %b> PRO
    -#    "