%section
  .container
    .heading
      %h1= t 'hints.payment_page.header'
    %h2.heading-min= t 'hints.payment_page.hint'
    - if current_user.pro_account_enabled?
      = render 'pro_lesson', lesson: @lesson
    - else
      = render 'no_pro_lesson', lesson: @lesson
      = render 'pro_selection', lesson: @lesson

    - if @lesson.certificates.present?
      .row.button-bar.certificate-selection
        .span12
          = form_tag verify_certificate_path, class: 'form-inline pull-right verify-certificate-form' do
            = button_tag t('hints.payment_page.have_certificate'), class: 'btn btn-info certificate-form-button'
            = text_field_tag 'certificate_code', nil, class: 'hide tall-input'
            = hidden_field_tag 'lesson_id', @lesson.id
            = submit_tag t('hints.payment_page.submit_certificate'), class: 'btn btn-info hide'
    .total
      = t 'hints.payment_page.total'
      - if current_user.pro_account_enabled?
        .hide.initial-price= @lesson.discount_adjusted_price
        %b= '%d,00' % @lesson.discount_adjusted_price
      - else
        .hide.initial-price= '%d,00' % @lesson.adjusted_price
        .hide.discount-price= '%d,00' % @lesson.discount_adjusted_price
        %b= '%d,00' % @lesson.adjusted_price
      = t 'currency'
    .clearfix

    -# buy button
    %form.pay-form{action: 'https://www.liqpay.com/api/pay', method: 'POST', 'accept-charset' => 'utf-8', class: 'liqpay-payment-form'}
      -# - order_id = "#{@lesson.id}_#{current_user.id}"
      = hidden_field_tag :public_key, Lesson::MERCHANT_ID
      = hidden_field_tag :amount, @lesson.adjusted_price, class: 'charge-amount'
      = hidden_field_tag :currency, 'UAH'
      = hidden_field_tag :description, t('hints.payment_page.pay_for', name: @lesson.name)
      -# = hidden_field_tag :order_id, order_id, class: 'order-id', data: { pure_order_id: order_id }
      = hidden_field_tag :result_url, lesson_url(@lesson)
      = hidden_field_tag :server_url, Lesson::LIQPAY_SERVER_RESPONSE_URL
      = hidden_field_tag :type, 'buy'
      = hidden_field_tag :language, 'ru'
      = hidden_field_tag :sandbox, Rails.env.development? ? 1 : 0

      .button-bar.text-center
        %a.btn.btn-success.pay-button{:href => "#"}= t 'hints.payment_page.do_pay'

    -# certifiate button
    = form_tag buy_with_certificate_passes_path(@lesson), class: 'certificate-payment-form hide' do
      = hidden_field_tag :certificate_code
      .button-bar.text-center
        = link_to t('hints.payment_page.do_pay_with_certificate'), '#', class: 'btn btn-success pay-button submittable'

#push
