%section
  .container
    .heading
      %h1= t 'hints.payment_page.header'
    %h2.heading-min= t 'hints.payment_page.hint'
    - if current_user.pro_account_enabled?
      = render 'pro_lesson', lesson: @lesson
    - else
      = render 'no_pro_lesson', lesson: @lesson
      = render 'pro_selection', lesson: @lesson
    -# buy button
    %form{:action => "#"}
      .button-bar.text-center
        %a.btn.btn-success{:href => "#"}= t 'hints.payment_page.do_pay'
#push