%section
  .container
    .heading
      %h1= t 'hints.payment_page.header'
    %h2.heading-min= t 'hints.payment_page.hint'
    - if current_user.pro_account_enabled?
      - @course.lessons.enabled.upcoming.each do |lesson|
        = render 'pro_lesson', lesson: lesson
    - else
      - @course.lessons.enabled.upcoming.each do |lesson|
        = render 'no_pro_lesson', lesson: lesson, from_course: true

    .total
      = t 'hints.payment_page.total'
      %b= @course.calculate_lessons_price(current_user)
      = t 'currency'
    .clearfix

    -# buy button
    %form.pay-form{action: 'https://www.liqpay.com/api/pay?do=clickNbuy', method: 'POST'}
      -# order_id = "buycourse_#{@course.id}_#{current_user.id}"
      = hidden_field_tag :public_key, Lesson::MERCHANT_ID
      = hidden_field_tag :amount, @course.calculate_lessons_price(current_user), class: 'charge-amount'
      = hidden_field_tag :currency, 'UAH'
      = hidden_field_tag :description, t('hints.payment_page.pay_for', name: @course.name)
      =# hidden_field_tag :order_id, order_id, class: 'order-id', data: { pure_order_id: order_id }
      = hidden_field_tag :result_url, course_url(@course)
      = hidden_field_tag :server_url, Lesson::LIQPAY_SERVER_RESPONSE_URL # Lesson::LIQPAY_SERVER_COURSE_RESPONSE_URL
      = hidden_field_tag :type, 'buy'
      = hidden_field_tag :language, 'ru'
      = hidden_field_tag :sandbox, Rails.env.development? ? 1 : 0

      .button-bar.text-center
        %a.btn.btn-success.pay-button{:href => "#"}= t 'hints.payment_page.do_pay'
#push
