%tr
  %td
    %font{:color => '#2c2c24', :face => 'Arial', :size => '3', :style => 'font:16px/16px Arial, Helvetica, sans-serif;'}
      = t 'mailer.welcome.nice_to_meet'
      %b= "#{@user.full_name},"
%tr
  %td{:style => 'line-height: 0; font-size: 0;'}
    %img{:height => '30', :src => mailer_image_url('none.gif'), :width => '520'}/
%tr
  %td
    %font{:color => '#2c2c24', :face => 'Arial', :size => '2', :style => 'font:13px/21px Arial, Helvetica, sans-serif;'}
      = t 'mailer.welcome.glad_to_see_you'
      %a{:href => 'http://teach-me.com.ua/', :target => '_blank'}
        %font{:color => '#e94f1f', :face => 'Arial', :size => '2', :style => 'font:13px/21px Arial, Helvetica, sans-serif;'} Teach-me.com.ua.
%tr
  %td{:style => 'line-height: 0; font-size: 0;'}
    %img{:height => '30', :src => mailer_image_url('none.gif'), :width => '520'}/
%tr
  %td
    %font{:color => '#2c2c24', :face => 'Arial', :size => '3', :style => 'font:bold 16px/21px Arial, Helvetica, sans-serif;'}
      = t 'mailer.welcome.study_with_us'
%tr
  %td
    %font{:color => '#2c2c24', :face => 'Arial', :size => '2', :style => 'font:13px/21px Arial, Helvetica, sans-serif;'}
      = t 'mailer.welcome.info_student'
%tr
  %td{:style => 'line-height: 0; font-size: 0;'}
    %img{:height => '30', :src => mailer_image_url('none.gif'), :width => '520'}/
%tr
  %td
    / Button Style
    %table{:cellpadding => '0', :cellspacing => '0', :width => '520'}
      %tr
        %td{:style => 'line-height: 0; font-size: 0;'}
          %img{:height => '40', :src => mailer_image_url('none.gif'), :width => '125'}/
        %td{:style => 'line-height: 0; font-size: 0;'}
          %img{:height => '40', :src => mailer_image_url('green_button_left.png'), :width => '10'}/
        %td{:align => 'center', :bgcolor => '#6c9925', :width => '270'}
          %a{:href => 'http://teach-me.com.ua/lessons', :style => 'text-decoration: none;', :target => '_blank'}
            %font{:color => '#ffffff', :face => 'Arial', :size => '2', :style => 'font: bold 13px/40px Arial, Helvetica, sans-serif;'}
              = t 'mailer.welcome.check_lessons'
        %td{:style => 'line-height: 0; font-size: 0;'}
          %img{:height => '40', :src => mailer_image_url('green_button_right.png'), :width => '10'}/
        %td{:style => 'line-height: 0; font-size: 0;'}
          %img{:height => '40', :src => mailer_image_url('none.gif'), :width => '125'}/
    / Button Style END
%tr
  %td{:style => 'line-height: 0; font-size: 0;'}
    %img{:height => '30', :src => mailer_image_url('none.gif'), :width => '520'}/
%tr
  %td
    %font{:color => '#2c2c24', :face => 'Arial', :size => '3', :style => 'font:bold 16px/21px Arial, Helvetica, sans-serif;'}
      = t 'mailer.welcome.learn_with_us'
%tr
  %td
    %font{:color => '#2c2c24', :face => 'Arial', :size => '2', :style => 'font:13px/21px Arial, Helvetica, sans-serif;'}
      = t 'mailer.welcome.info_teacher'
%tr
  %td{:style => 'line-height: 0; font-size: 0;'}
    %img{:height => '30', :src => mailer_image_url('none.gif'), :width => '520'}/
%tr
  %td
    / Button Style
    %table{:cellpadding => '0', :cellspacing => '0', :width => '520'}
      %tr
        %td{:style => 'line-height: 0; font-size: 0;'}
          %img{:height => '40', :src => mailer_image_url('none.gif'), :width => '125'}/
        %td{:style => 'line-height: 0; font-size: 0;'}
          %img{:height => '40', :src => mailer_image_url('green_button_left.png'), :width => '10'}/
        %td{:align => 'center', :bgcolor => '#6c9925', :width => '270'}
          %a{:href => 'http://teach-me.com.ua/lessons/new', :style => 'text-decoration: none;', :target => '_blank'}
            %font{:color => '#ffffff', :face => 'Arial', :size => '2', :style => 'font: bold 13px/40px Arial, Helvetica, sans-serif;'}
              = t 'mailer.welcome.create_lesson'
        %td{:style => 'line-height: 0; font-size: 0;'}
          %img{:height => '40', :src => mailer_image_url('green_button_right.png'), :width => '10'}/
        %td{:style => 'line-height: 0; font-size: 0;'}
          %img{:height => '40', :src => mailer_image_url('none.gif'), :width => '125'}/
    / Button Style END