.comment_wrapper{ class: comment.commenter_type }
  .commenter_info
    - if comment.user.image_attachment.try(:image, :thumb)
      .avatar
        = image_tag comment.user.image_attachment.try(:image, :thumb)
    - else
      .avatar.missing
        = image_tag 'missing.png'
    .name
      .full_name= comment.user.full_name
      .delimiter
      .commenter_type= t "comment.commenter_type.#{comment.commenter_type}"
  .body_wrapper
    = comment.body
  .delimiter
.delimiter

