.comment-row.clearfix{ class: comment.commenter_type == :teacher ? '' : 'comment-row-user'}
  .user-photo
    = link_to user_path(comment.user) do
      = image_tag comment.user.photo_url(:medium)
  .comment-content
    .comment-title
      %h4
        = comment.user.full_name
        - if comment.commenter_type == :teacher
          %i (#{t('hints.is_teacher')})
      %span= comment.created_at.to_s(:custom_db)
    %p= comment.body