.comments
  .row
    .span8
      .comments-column
        %h3
          %i.icon-comments.hidden-phone
          = t('hints.leave_a_comment')
        .comments-box{ class: lesson.comments.blank? ? 'hide' : ''}
          = render lesson.comments

        .comments-form
          = form_for lesson.comments.new do |f|
            = f.hidden_field :lesson_id
            .input-append.clearfix

              - if current_user.blank?
                = f.text_area :body, placeholder: t('comment.textarea_disabled'), readonly: true
              - else
                = f.text_area :body, placeholder: t('comment.textarea_placeholder'), size: '16', type: 'text', class: 'span5'
                = button_tag 'Enter', class: 'btn submittable', type: 'button'
