%h4= t 'admin.email_distributions.header'
.hide.user-email-field-template
  .form-row
    = text_field_tag 'users[]', nil, class: 'text-input'
.lessons-page
  = form_tag admin_email_distributions_path do
    .row-fluid
      .form-row.user-emails
        = text_field_tag 'users[]', nil, class: 'text-input'
        .btn.btn-info.add-email= t 'admin.email_distributions.more_email'
      .form-row
        = label_tag :email_text, class: 'form-label' do
          = t 'admin.email_distributions.label'
          .pull-right.admin-text-insertable
            = link_to t('admin.email_distributions.add_basic_teacher_text'), '#', data: { 'insertable-text' => t('admin.email_distributions.basic_teacher_text') }
          .pull-right.admin-text-insertable.margin-right-10
            = link_to t('admin.email_distributions.add_basic_extension_text'), '#', data: { 'insertable-text' => t('admin.email_distributions.basic_extension_text') }

        = text_area_tag :email_text, nil, class: 'text-input input-full-width', cols: '30', rows: '15'
      .bottom-btn
        = link_to t('admin.confirmation_submit'), '#', class: 'btn btn-large btn-info submittable'