.user-sidebox
  .personal
    .illustration
      = image_tag user.photo_url(:medium), class: 'img-circle'
    %h2.name= user.full_name
    .tags= user_skill_list(user)
    %a.interests-link{:href => "#"}= t 'user_page.add_interests'
    - if user == current_user
      .rating
        %span= user.ratings.size
    - else
      #jsRatingVote.rating
        %a.vote-up{:href => "#"} палец вверх
        %a.vote-down{:href => "#"} палец вниз
        %span= user.ratings.size
        .message-vote
          Спасибо
          %br>/
          за голос
        .text рейтинг
    - if user.online?
      .status.online= t 'user.online'
    - else
      .status.offline
        = t 'user.last_seen_at'
        = user.updated_at.to_formatted_s(:long)
  .signers
    .title Мои подписчики
    .signers-list-holder
      %ul.signers-list
        %li{"data-placement" => "bottom", "data-toggle" => "popover"}
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/img-ac-1.png"}/
          %div
            .popover-holder.clearfix
              %a.popover-user-photo{:href => "#"}
                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
              .popover-user-text
                %b
                  %a{:href => "#"} Артур Павлюк 9
                %p UI Дизайн, Веб разработки, Фотография
                .popover-action-links
                  %a{:href => "#"} Профайл
                  %a{:href => "#"} Подписаться
        %li.even{"data-placement" => "bottom", "data-toggle" => "popover"}
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/img-ac-2.png"}/
          %div
            .popover-holder.clearfix
              %a.popover-user-photo{:href => "#"}
                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
              .popover-user-text
                %b
                  %a{:href => "#"} Артур Павлюк 9
                %p UI Дизайн, Веб разработки, Фотография
                .popover-action-links
                  %a{:href => "#"} Профайл
                  %a{:href => "#"} Подписаться
        %li{"data-placement" => "bottom", "data-toggle" => "popover"}
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/img-ac-3.png"}/
          %div
            .popover-holder.clearfix
              %a.popover-user-photo{:href => "#"}
                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
              .popover-user-text
                %b
                  %a{:href => "#"} Артур Павлюк 9
                %p UI Дизайн, Веб разработки, Фотография
                .popover-action-links
                  %a{:href => "#"} Профайл
                  %a{:href => "#"} Подписаться
        %li.even{"data-placement" => "bottom", "data-toggle" => "popover"}
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/img-ac-4.png"}/
          %div
            .popover-holder.clearfix
              %a.popover-user-photo{:href => "#"}
                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
              .popover-user-text
                %b
                  %a{:href => "#"} Артур Павлюк 9
                %p UI Дизайн, Веб разработки, Фотография
                .popover-action-links
                  %a{:href => "#"} Профайл
                  %a{:href => "#"} Подписаться
        %li{"data-placement" => "bottom", "data-toggle" => "popover"}
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/img-ac-1.png"}/
          %div
            .popover-holder.clearfix
              %a.popover-user-photo{:href => "#"}
                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
              .popover-user-text
                %b
                  %a{:href => "#"} Артур Павлюк 9
                %p UI Дизайн, Веб разработки, Фотография
                .popover-action-links
                  %a{:href => "#"} Профайл
                  %a{:href => "#"} Подписаться
        %li.even{"data-placement" => "bottom", "data-toggle" => "popover"}
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/img-ac-2.png"}/
          %div
            .popover-holder.clearfix
              %a.popover-user-photo{:href => "#"}
                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
              .popover-user-text
                %b
                  %a{:href => "#"} Артур Павлюк 9
                %p UI Дизайн, Веб разработки, Фотография
                .popover-action-links
                  %a{:href => "#"} Профайл
                  %a{:href => "#"} Подписаться
        %li{"data-placement" => "bottom", "data-toggle" => "popover"}
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/img-ac-3.png"}/
          %div
            .popover-holder.clearfix
              %a.popover-user-photo{:href => "#"}
                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
              .popover-user-text
                %b
                  %a{:href => "#"} Артур Павлюк 9
                %p UI Дизайн, Веб разработки, Фотография
                .popover-action-links
                  %a{:href => "#"} Профайл
                  %a{:href => "#"} Подписаться
        %li.even{"data-placement" => "bottom", "data-toggle" => "popover"}
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/img-ac-4.png"}/
          %div
            .popover-holder.clearfix
              %a.popover-user-photo{:href => "#"}
                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
              .popover-user-text
                %b
                  %a{:href => "#"} Артур Павлюк 9
                %p UI Дизайн, Веб разработки, Фотография
                .popover-action-links
                  %a{:href => "#"} Профайл
                  %a{:href => "#"} Подписаться
        %li{"data-placement" => "bottom", "data-toggle" => "popover"}
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/img-ac-1.png"}/
          %div
            .popover-holder.clearfix
              %a.popover-user-photo{:href => "#"}
                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
              .popover-user-text
                %b
                  %a{:href => "#"} Артур Павлюк 9
                %p UI Дизайн, Веб разработки, Фотография
                .popover-action-links
                  %a{:href => "#"} Профайл
                  %a{:href => "#"} Подписаться
        %li.even{"data-placement" => "bottom", "data-toggle" => "popover"}
          %a{:href => "#"}
            %img{:alt => "", :src => "/assets/img-ac-2.png"}/
          %div
            .popover-holder.clearfix
              %a.popover-user-photo{:href => "#"}
                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
              .popover-user-text
                %b
                  %a{:href => "#"} Артур Павлюк 9
                %p UI Дизайн, Веб разработки, Фотография
                .popover-action-links
                  %a{:href => "#"} Профайл
                  %a{:href => "#"} Подписаться
    .text-center
      %a.all-signers-link{:href => "#"}
        %b> 123
        всего
.ticket-box
  %a.student-ticket{:href => "#"}
    %img{:alt => "Скидка 10% на все уроки", :src => "/assets/ticket-10.png"}/
  %p Действителен до: 21.12.2014
  %a.btn.btn-success.btn-small{:href => "#"} Продлить