- if user.student_lessons.blank? && user.teacher_lessons.blank?
  .helper-text-box
    .helper-heading
      = t 'user.greet_1'
      %b= "\"#{user.full_name}\""
    .helper-heading
      = t 'user.greet_2'
      %span Teach-me.com.ua
      \.
    .student-panel.clearfix
      %p.helper-inner-heading= t 'user.greet_steps.heading'
      %ul
        %li= link_to t('user.greet_steps.step_a'), lessons_path
        %li= link_to t('user.greet_steps.step_b'), new_lesson_path
        %li= link_to t('user.greet_steps.step_c'), static_page_path(:how_it_works)
        %li= link_to t('user.greet_steps.step_d'), static_page_path(:contacts)
        %li= t 'user.greet_steps.step_e'
    .helper-btn-holder
      = link_to t('user.start_learning'), lessons_path, class: 'btn btn-block btn-large btn-info'

- else
  .student-panel.clearfix
    %ul.stat-list
      %li
        %b= user.student_lessons.count
        = t 'user.hint.lessons_total'
      %li
        %b= user.student_lessons.map(&:duration).sum / 60
        = t 'user.hint.hours_total'
      %li
        %b= user.comments.count
        = t 'user.hint.comments_total'
    .total

= render partial: '/lessons/lesson_with_comments', collection: user.upcoming_student_lessons

.coming-lessons-holder.clearfix
  - if @user.upcoming_suitable_lessons.count > 0
    .coming-lessons-titile.clearfix
      %a#jsComingLessonsToggle.btn.btn-mini{:href => "#"} Скрыть
      %h4= t 'user.hint.upcoming_suitables'
    .coming-lessons
      = render partial: '/lessons/suggested_lesson', collection: @user.upcoming_suitable_lessons