- teacher_lessons = user.teacher_lessons
.teacher-panel.clearfix
  %ul.stat-list
    %li
      %b= teacher_lessons.count
      = t 'user.hint.lessons_total'
    %li
      %b= teacher_lessons.map(&:duration).sum / 60
      = t 'user.hint.hours_total'
    %li
      %b= teacher_lessons.map(&:students).flatten.uniq.count
      = t 'user.hint.students_total'
  .total
    = t 'user.hint.earnings_total'
    -# TODO add this after premium implemented
    %b 0
    = t 'currency'
  .pro.clickable_popover{"data-placement" => "bottom"}
    - unless current_user.pro_account_enabled?
      %i.icon-pro
      %a{:href => "#"}= t 'possibilities'
    %div
      .pro-additional
        %ol
          %li= t 'user.hint.promo.l1'
          %li= t 'user.hint.promo.l2'
          %li
            = t 'user.hint.promo.l3'
            %b Teach-me
            = t 'user.hint.promo.l4'
            %b #{(Lesson::PRO_DISCOUNT_FOR_STUDENT * 100).to_i}%
            = t 'user.hint.promo.l5'
        = link_to t('user.hint.promo.buy_pro'), user_pro_path(current_user), class: 'btn btn-success btn-block btn-large'

= render partial: 'lessons/teaching_lesson', collection: user.upcoming_teacher_lessons
.bottom-btn
  = link_to t('user.hint.create_your_class_2'), new_lesson_lessons_path, class: 'btn btn-large btn-info'
