.lessons-page
  %table.table.table-striped.table-hover.table-condensed
    %tr
      %th Field
      %th Value
    %tr
      %td id
      %td= @lesson.id
    %tr
      %td interest_id
      %td= @lesson.interest_id
    %tr
      %td sub_interest_id
      %td= @lesson.sub_interest_id
    %tr
      %td course_id
      %td= @lesson.course_id
    %tr
      %td name
      %td= @lesson.name
    %tr
      %td city
      %td= @lesson.city
    %tr
      %td address_line
      %td= @lesson.address_line
    %tr
      %td level
      %td= @lesson.level
    %tr
      %td duration
      %td= @lesson.duration
    %tr
      %td description_top
      %td= @lesson.description_top
    %tr
      %td capacity
      %td= @lesson.capacity
    %tr
      %td places_taken
      %td= @lesson.places_taken
    %tr
      %td place_price
      %td= @lesson.place_price
    %tr
      %td start_datetime
      %td= @lesson.start_datetime
    %tr
      %td created_at
      %td= @lesson.created_at
    %tr
      %td updated_at
      %td= @lesson.updated_at
    %tr
      %td is_premium
      %td= @lesson.is_premium
    %tr
      %td description_bottom
      %td= @lesson.description_bottom
    %tr
      %td enabled
      %td= @lesson.enabled
    %tr
      %td adjusted_price
      %td= @lesson.adjusted_price
    %tr
      %td full_price_liqpay_token
      %td= @lesson.full_price_liqpay_token
    %tr
      %td discount_price_liqpay_token
      %td= @lesson.discount_price_liqpay_token