.connected_user
  .avatar_wrapper
    .avatar
      %a{ href: user_path(connected_user) }
        = image_tag(connected_user.image_attachment.try(:image, :thumb) || 'missing.png')
    .bottom
    .user_hover_hint_wrapper
      .user_hover_hint
        .line
          .hover_hint_left
            = t('user.rating') + ':'
          .hover_hint_right
            = connected_user.ratings.sum(&:rating)
        .delimiter
        .line
          .hover_hint_left
            = t('user.teaches') + ':'
          .hover_hint_right
            = connected_user.teacher_lessons.size
        .delimiter
        .line
          .hover_hint_left
            = t('user.learns') + ':'
          .hover_hint_right
            = connected_user.student_lessons.size
        .delimiter
  .info
    .full_name
      = link_to connected_user.full_name, user_path(connected_user)
    .delim
    .management
      - if current_user.try(:id).to_i == params[:user_id].to_i
        .subscribe.invisible
          %a{ href: user_user_connections_path(connected_user), data: { method: :post, connection_type: connection_type } }
            %span= t('user.return')
        .unsubscribe
          %a{ href: user_user_connections_path(connected_user), data: { method: :delete, connection_type: connection_type } }
            %span