%section
  .container.user-profile.current-user
    .row
      .span3
        %aside
          = render 'users/sidebox', user: user
      .span8.offset1
        .tabbable
          / Only required for left/right tabs
          .nav-tabs-holder.clearfix
            %ul.nav.nav-tabs
              %li.active= link_to t('user.tabs.i_study'), '#tab1', 'data-toggle' => 'tab'
              %li= link_to t('user.tabs.i_teach'), '#tab2', 'data-toggle' => 'tab'
            .add-btn.pull-right.clickable_popover{'data-placement' => 'bottom'}
              = link_to '+', '#', class: 'btn btn-success'
              %div
                .popover-holder.clearfix
                  = link_to t('user.hint.create_your_class'), new_lesson_lessons_path, class: 'btn btn-block btn-large btn-info'
                  .sep= t('hints.or')
                  = link_to t('user.hint.visit_lesson'), lessons_path, class: 'btn btn-block btn-large btn-info'
          .tab-content
            #tab1.tab-pane.active
              = render 'users/current_user/student_tab', user: user
            #tab2.tab-pane
              = render 'users/current_user/teacher_tab', user: user
