.main
  .profile
    .left
      .avatar
        = image_tag user.image_attachment.try(:image, :medium)
      .avatar_bottom
      .activity
        - if user.online?
          .online
            = t("user.online")
        - else
          .last_seen
            = t("user.last_seen_at")
          .at
            = user.updated_at.to_formatted_s(:long)
        .online
      .delim
      .rating
        .value= user.ratings.size
        .vote_up
        .vote_down
      .delim
      .subscriptions
        .hint
          My subscribers:
        .subscribers
          - followers.limit(9).each_slice(3) do |slice|
            .line
              - slice.each do |follower|
                .subscriber
                  %a{ href: user_path(follower) }
                    = image_tag follower.image_attachment.image(:thumb)
        .delimiter
        - if followers.count > 9
          .load_more.clickable= t("load_more")
    .right
      .tabs
        .tab.active{ data: { tab_name: 'teach'} }
          = t("user.tabs.i_teach")
        .tab{ data: { tab_name: 'study'} }
          = t("user.tabs.i_study")
        .tab{ data: { tab_name: 'watchlist'} }
          = t("user.tabs.i_am_interested")
        .tab{ data: { tab_name: 'subscribers'} }
          = t("user.tabs.my_subscribers")
      .content

