%section
  .container
    .row
      .span3
        %aside
          .user-sidebox
            .personal
              .illustration
                %img.img-circle{:alt => "", :src => "/assets/img-1.jpg"}/
              %h2.name Артур Павлюк
              .tags
                %a{:href => "#"}> UI Дизайн
                ,
                = succeed "," do
                  %a{:href => "#"} Веб разработки
                %a{:href => "#"} Фотография
              %a.interests-link{:href => "#"} Добавить интересы
              #jsRatingVote.rating
                %a.vote-up{:href => "#"} палец вверх
                %a.vote-down{:href => "#"} палец вниз
                %span 100
                .message-vote
                  Спасибо
                  %br>/
                  за голос
                .text рейтинг
              .status.online На сайте
            .signers
              .title Мои подписчики
              .signers-list-holder
                %ul.signers-list
                  %li{"data-placement" => "bottom", "data-toggle" => "popover"}
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/img-ac-1.png"}/
                    %div
                      .popover-holder.clearfix
                        %a.popover-user-photo{:href => "#"}
                          %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                        .popover-user-text
                          %b
                            %a{:href => "#"} Артур Павлюк 9
                          %p UI Дизайн, Веб разработки, Фотография
                          .popover-action-links
                            %a{:href => "#"} Профайл
                            %a{:href => "#"} Подписаться
                  %li.even{"data-placement" => "bottom", "data-toggle" => "popover"}
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/img-ac-2.png"}/
                    %div
                      .popover-holder.clearfix
                        %a.popover-user-photo{:href => "#"}
                          %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                        .popover-user-text
                          %b
                            %a{:href => "#"} Артур Павлюк 9
                          %p UI Дизайн, Веб разработки, Фотография
                          .popover-action-links
                            %a{:href => "#"} Профайл
                            %a{:href => "#"} Подписаться
                  %li{"data-placement" => "bottom", "data-toggle" => "popover"}
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/img-ac-3.png"}/
                    %div
                      .popover-holder.clearfix
                        %a.popover-user-photo{:href => "#"}
                          %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                        .popover-user-text
                          %b
                            %a{:href => "#"} Артур Павлюк 9
                          %p UI Дизайн, Веб разработки, Фотография
                          .popover-action-links
                            %a{:href => "#"} Профайл
                            %a{:href => "#"} Подписаться
                  %li.even{"data-placement" => "bottom", "data-toggle" => "popover"}
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/img-ac-4.png"}/
                    %div
                      .popover-holder.clearfix
                        %a.popover-user-photo{:href => "#"}
                          %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                        .popover-user-text
                          %b
                            %a{:href => "#"} Артур Павлюк 9
                          %p UI Дизайн, Веб разработки, Фотография
                          .popover-action-links
                            %a{:href => "#"} Профайл
                            %a{:href => "#"} Подписаться
                  %li{"data-placement" => "bottom", "data-toggle" => "popover"}
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/img-ac-1.png"}/
                    %div
                      .popover-holder.clearfix
                        %a.popover-user-photo{:href => "#"}
                          %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                        .popover-user-text
                          %b
                            %a{:href => "#"} Артур Павлюк 9
                          %p UI Дизайн, Веб разработки, Фотография
                          .popover-action-links
                            %a{:href => "#"} Профайл
                            %a{:href => "#"} Подписаться
                  %li.even{"data-placement" => "bottom", "data-toggle" => "popover"}
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/img-ac-2.png"}/
                    %div
                      .popover-holder.clearfix
                        %a.popover-user-photo{:href => "#"}
                          %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                        .popover-user-text
                          %b
                            %a{:href => "#"} Артур Павлюк 9
                          %p UI Дизайн, Веб разработки, Фотография
                          .popover-action-links
                            %a{:href => "#"} Профайл
                            %a{:href => "#"} Подписаться
                  %li{"data-placement" => "bottom", "data-toggle" => "popover"}
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/img-ac-3.png"}/
                    %div
                      .popover-holder.clearfix
                        %a.popover-user-photo{:href => "#"}
                          %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                        .popover-user-text
                          %b
                            %a{:href => "#"} Артур Павлюк 9
                          %p UI Дизайн, Веб разработки, Фотография
                          .popover-action-links
                            %a{:href => "#"} Профайл
                            %a{:href => "#"} Подписаться
                  %li.even{"data-placement" => "bottom", "data-toggle" => "popover"}
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/img-ac-4.png"}/
                    %div
                      .popover-holder.clearfix
                        %a.popover-user-photo{:href => "#"}
                          %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                        .popover-user-text
                          %b
                            %a{:href => "#"} Артур Павлюк 9
                          %p UI Дизайн, Веб разработки, Фотография
                          .popover-action-links
                            %a{:href => "#"} Профайл
                            %a{:href => "#"} Подписаться
                  %li{"data-placement" => "bottom", "data-toggle" => "popover"}
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/img-ac-1.png"}/
                    %div
                      .popover-holder.clearfix
                        %a.popover-user-photo{:href => "#"}
                          %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                        .popover-user-text
                          %b
                            %a{:href => "#"} Артур Павлюк 9
                          %p UI Дизайн, Веб разработки, Фотография
                          .popover-action-links
                            %a{:href => "#"} Профайл
                            %a{:href => "#"} Подписаться
                  %li.even{"data-placement" => "bottom", "data-toggle" => "popover"}
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/img-ac-2.png"}/
                    %div
                      .popover-holder.clearfix
                        %a.popover-user-photo{:href => "#"}
                          %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                        .popover-user-text
                          %b
                            %a{:href => "#"} Артур Павлюк 9
                          %p UI Дизайн, Веб разработки, Фотография
                          .popover-action-links
                            %a{:href => "#"} Профайл
                            %a{:href => "#"} Подписаться
              .text-center
                %a.all-signers-link{:href => "#"}
                  %b> 123
                  всего
          .ticket-box
            %a.student-ticket{:href => "#"}
              %img{:alt => "Скидка 10% на все уроки", :src => "/assets/ticket-10.png"}/
            %p Действителен до: 21.12.2014
            %a.btn.btn-success.btn-small{:href => "#"} Продлить
      .span8.offset1
        .tabbable
          / Only required for left/right tabs
          .nav-tabs-holder.clearfix
            %ul.nav.nav-tabs
              %li.active
                %a{"data-toggle" => "tab", :href => "#tab1"} Я изучаю
              %li
                %a{"data-toggle" => "tab", :href => "#tab2"} Я преподаю
            .add-btn.pull-right{"data-placement" => "bottom", "data-toggle" => "popover"}
              %a.btn.btn-success{:href => "#"} +
              %div
                .popover-holder.clearfix
                  %a.btn.btn-block.btn-large.btn-info{:href => "#"} Создать свой урок & курс
                  .sep или
                  %a.btn.btn-block.btn-large.btn-info{:href => "#"} Пойти на урок
          .tab-content
            #tab1.tab-pane.active
              .course-box.course-box-prem
                .entry-content
                  .photo.hidden-phone
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/img-none.jpg"}/
                    .rating
                      %b> 87
                      ( рейтинг )
                  .entry-text
                    %header.entry-header
                      .short-info
                        Курс состоит из
                        %b 5
                        уроков.
                      %h3
                        %a{:href => "#"} Как я провел лето или зачем нужны трусы на пляже?
                      .author Иванов Иван Иванович
                      .tags
                        %a{:href => "#"}> Сказки
                        ,
                        = succeed "," do
                          %a{:href => "#"} Романы
                        = succeed "." do
                          %a{:href => "#"} Искуство писателя
                    .meta
                      .time
                        %span
                          %i.icon-time
                          27 Марта
                        %span Начало в 15:00
                      %address
                        %i.icon-map-marker
                        Одесса.,  ул. Екатериненская 115
                .entry-footer
                  .comments-form
                    %form
                      .textarea-holder.clearfix
                        %textarea{:placeholder => "Оставить сообщение...", :size => "16", :type => "text"}
                        %button.btn{:type => "button"} Enter
              .course-box
                .entry-content
                  .photo.hidden-phone
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/img-none.jpg"}/
                    .rating
                      %b> 87
                      ( рейтинг )
                  .entry-text
                    %header.entry-header
                      .short-info
                        Курс состоит из
                        %b 5
                        уроков.
                      %h3
                        %a{:href => "#"} Как я провел лето или зачем нужны трусы на пляже?
                      .author Иванов Иван Иванович
                      .tags
                        %a{:href => "#"}> Сказки
                        ,
                        = succeed "," do
                          %a{:href => "#"} Романы
                        = succeed "." do
                          %a{:href => "#"} Искуство писателя
                    .meta
                      .time
                        %span
                          %i.icon-time
                          27 Марта
                        %span Начало в 15:00
                      %address
                        %i.icon-map-marker
                        Одесса.,  ул. Екатериненская 115
                .entry-footer
                  .comments-form
                    %form
                      .textarea-holder.clearfix
                        %textarea{:placeholder => "Оставить сообщение...", :size => "16", :type => "text"}
                        %button.btn{:type => "button"} Enter
              .coming-lessons-holder.clearfix
                .coming-lessons-titile.clearfix
                  %a#jsComingLessonsToggle.btn.btn-mini{:href => "#"} Скрыть
                  %h4 Предстоящие уроки из списка моих интересов:
                .coming-lessons
                  .course-box.course-box-coming
                    .entry-content
                      .photo.hidden-phone
                        %a{:href => "#"}
                          %img{:alt => "", :src => "/assets/img-none.jpg"}/
                      .entry-text
                        %header.entry-header
                          .short-info
                            Курс состоит из
                            %b 5
                            уроков.
                          %h3
                            %a{:href => "#"} Как я провел лето или зачем нужны трусы на пляже?
                        .meta
                          %address
                            %i.icon-map-marker
                            Одесса.,  ул. Екатериненская 115
                          .time
                            %span
                              %i.icon-time
                              27 Марта
                            %span Начало в 15:00
                        %a.btn.btn-info.pull-right{:href => "#"} Подробнее
                  .course-box.course-box-coming
                    .entry-content
                      .photo.hidden-phone
                        %a{:href => "#"}
                          %img{:alt => "", :src => "/assets/img-none.jpg"}/
                      .entry-text
                        %header.entry-header
                          .short-info
                            Курс состоит из
                            %b 5
                            уроков.
                          %h3
                            %a{:href => "#"} Как я провел лето или зачем нужны трусы на пляже?
                        .meta
                          %address
                            %i.icon-map-marker
                            Одесса.,  ул. Екатериненская 115
                          .time
                            %span
                              %i.icon-time
                              27 Марта
                            %span Начало в 15:00
                        %a.btn.btn-info.pull-right{:href => "#"} Подробнее
            #tab2.tab-pane
              .teacher-panel.clearfix
                %ul.stat-list
                  %li
                    %b> 10
                    Занятий всего
                  %li
                    %b> 120
                    Кол-во часов
                  %li
                    %b> 350
                    У меня студентов
                .total
                  Заработал на сайте:
                  %b 24.500
                  грн.
                .pro{"data-placement" => "bottom", "data-toggle" => "popover"}
                  %i.icon-pro
                  %a{:href => "#"} Возможности
                  %div
                    .pro-additional
                      %ol
                        %li Ваши уроки будут всегда иметь высокий преоритет предет остальными участниками проекта.
                        %li Вы сможете получить свою собственную веб страничку для работы с нашим сервисом.
                        %li
                          Вы больше не платите комиссию сайту
                          %b Teach-me
                          за проведение своих уроков, а на посищение уроков других пользователей мы даем вам
                          %b 10%
                          скидку на период действия “PRO”.
                      %a.btn.btn-success.btn-block.btn-large{:href => "#"} Купить “PRO” Аккаунт
              .course-box.course-box-own
                .entry-content
                  .short-info
                    Курс состоит из
                    %b 5
                    уроков.
                  %h3
                    %a{:href => "#"} Как я провел лето или зачем нужны трусы на пляже?
                  .photo.hidden-phone
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/img-none.jpg"}/
                  .entry-text
                    .meta
                      .duration.pull-right
                        %i.icon-timing
                        Продолжительность  3:00ч.
                      %ul.places-data
                        %li.prod-all
                          Всего мест:
                          %b 20
                        %li.prod-sold
                          Купленно:
                          %b 9
                        %li.prod-left
                          Осталось:
                          %b 11
                    .person-list-holder
                      %ul.person-list
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 1
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 2
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text.3
                                %b
                                  %a{:href => "#"} Артур Павлюк
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 4
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 5
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 6
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 7
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 8
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 9
                                %p UI Дизайн, Веб разработки, Фотография
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li.sales-info (45% купленно)
                    .meta
                      .time
                        %span
                          %i.icon-time
                          27 Марта
                        %span Начало в 15:00
                      %address
                        %i.icon-map-marker
                        Одесса.,  ул. Екатериненская 115
              .course-box.course-box-own
                .entry-content
                  .short-info
                    Курс состоит из
                    %b 5
                    уроков.
                  %h3
                    %a{:href => "#"} Как я провел лето или зачем нужны трусы на пляже?
                  .photo.hidden-phone
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/img-none.jpg"}/
                  .entry-text
                    .meta
                      .duration.pull-right
                        %i.icon-timing
                        Продолжительность  3:00ч.
                      %ul.places-data
                        %li.prod-all
                          Всего мест:
                          %b 20
                        %li.prod-sold
                          Купленно:
                          %b 9
                        %li.prod-left
                          Осталось:
                          %b 11
                    .person-list-holder
                      %ul.person-list
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 1
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 2
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text.3
                                %b
                                  %a{:href => "#"} Артур Павлюк
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 4
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 5
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 6
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 7
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 8
                                %p UI Дизайн, Веб разработки, Фотография
                        %li.active{"data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => ""}
                          %a{:href => "#"}
                          %div
                            .popover-holder.clearfix
                              %a.popover-user-photo{:href => "#"}
                                %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                              .popover-user-text
                                %b
                                  %a{:href => "#"} Артур Павлюк 9
                                %p UI Дизайн, Веб разработки, Фотография
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li
                          %a{:href => "#"}
                        %li.sales-info (45% купленно)
                    .meta
                      .time
                        %span
                          %i.icon-time
                          27 Марта
                        %span Начало в 15:00
                      %address
                        %i.icon-map-marker
                        Одесса.,  ул. Екатериненская 115
              .course-box
                .entry-content
                  .photo.hidden-phone
                    %a{:href => "#"}
                      %img{:alt => "", :src => "/assets/img-none.jpg"}/
                    .rating
                      %b> 87
                      ( рейтинг )
                  .entry-text
                    %header.entry-header
                      .short-info
                        Курс состоит из
                        %b 5
                        уроков.
                      %h3
                        %a{:href => "#"} Как я провел лето или зачем нужны трусы на пляже?
                      .author Иванов Иван Иванович
                      .tags
                        %a{:href => "#"}> Сказки
                        ,
                        = succeed "," do
                          %a{:href => "#"} Романы
                        = succeed "." do
                          %a{:href => "#"} Искуство писателя
                    .meta
                      .time
                        %span
                          %i.icon-time
                          27 Марта
                        %span Начало в 15:00
                      %address
                        %i.icon-map-marker
                        Одесса.,  ул. Екатериненская 115
                .entry-footer
                  %a.btn.btn-success{:href => "#"} Купить билет
                  .price
                    Цена:
                    %b 275,00
                    грн.
                  %ul.places-data
                    %li.prod-all
                      Всего мест:
                      %b 20
                    %li.prod-sold
                      Купленно:
                      %b 9
                    %li.prod-left
                      Осталось:
                      %b 11
              .bottom-btn
                %a.btn.btn-large.btn-info{:href => "#"} Создать свой урок или курс

-#%script#file_upload{ type: 'text/x-tmpl'}
-#  .invisible= "{%=o.name%}"
-#.profile
-#  .left
-#    .avatar_wrapper
-#      = form_for ImageAttachment.new, multipart: true do |f|
-#        .avatar= image_tag user.image_attachment.try(:image).try(:url, :medium)
-#        .invisible
-#          = f.file_field :image
-#        .progress_bar
-#        .avatar_management
-#          %span= t 'image_attachment.upload_photo'
-#        .avatar_bottom
-#        .user_hover_hint_wrapper
-#          .user_hover_hint
-#            .line
-#              .hover_hint_left
-#                = t('user.name') + ':'
-#              .hover_hint_right
-#                = user.full_name
-#            .delimiter
-#            .line
-#              .hover_hint_left
-#                = t('user.email') + ':'
-#              .hover_hint_right
-#                = user.email
-#            .delimiter
-#            .line
-#              .hover_hint_left
-#                = t('user.city') + ':'
-#              .hover_hint_right
-#                = t 'lesson.cities.odessa'
-#            .delimiter
-#            .edit_link
-#              = link_to t("user.edit"), edit_user_path(current_loginned_user)
-#            .delimiter
-#    .activity
-#      - if user.online?
-#        .online
-#          = t 'user.online'
-#      - else
-#        .last_seen
-#          = t 'user.last_seen_at'
-#        .at
-#          = user.updated_at.to_formatted_s(:long)
-#      .online
-#    .delim
-#    .rating
-#      .value= user.ratings.size
-#      .delimiter
-#    .delim
-#    - if followers.count > 0
-#      .subscriptions
-#        .hint
-#          = t 'user.hint.my_subscribers'
-#        .subscribers
-#          - followers.limit(9).each_slice(3) do |slice|
-#            .line
-#              - slice.each do |follower|
-#                .subscriber
-#                  %a{ href: user_path(follower) }
-#                    = image_tag (follower.image_attachment.try(:image).try(:url, :thumb) || 'thumb_missing.jpg')
-#                  .hover_hint= link_to follower.full_name, user_path(follower)
-#        .delimiter
-#        - if followers.count > 9
-#          .more_loadable= t("load_more")
-#      .delim
-#    - if watchlist_lessons.count > 0
-#      .watchlist
-#        .hint
-#          = t "user.hint.my_watchlist"
-#        .lessons
-#          - watchlist_lessons.limit(5).each_with_index do |lesson, index|
-#            .lesson
-#              = "#{index+1})"
-#              = link_to lesson.name.truncate(52), lesson_path(lesson)
-#            - if index < 4
-#              .delim
-#        - if watchlist_lessons.count > 5
-#          .more_loadable= t "load_more"
-#    - if user.courses.any?
-#      .my_courses
-#        .hint
-#          = t "user.hint.my_courses"
-#        .courses
-#          - user.courses.each_with_index do |course, index|
-#            .course
-#              = "#{index+1})"
-#              = link_to course.name.truncate(52), course_path(course)
-#  .right
-#    .ajax_loader.invisible
-#    .tabs
-#      .tab{ data: { url: user_teacher_lessons_path(user) } }
-#        = t("user.tabs.i_teach")
-#      .tab.active{ data: { url: user_student_lessons_path(user)} }
-#        = t("user.tabs.i_study")
-#      .tab#subscribers_tab{ data: { url: user_connected_users_path(user, :followers) } }
-#        = t("user.tabs.my_subscribers")
-#      .tab{ data: { url: user_connected_users_path(user, :leaders) } }
-#        = t("user.tabs.my_subscriptions")
-#    .content
-#  .delimiter