.user-sidebox
  .personal
    .illustration
      = image_tag user.photo_url(:medium), class: 'img-circle'
    %h2.name= user.full_name
    .tags= user_skill_list(user)
    %a.interests-link{:href => "#"}= t 'user_page.add_interests'
    - if user == current_user
      .rating
        %span= user.ratings.size
    - else
      #jsRatingVote.rating
        %a.vote-up{:href => "#"} палец вверх
        %a.vote-down{:href => "#"} палец вниз
        %span= user.ratings.size
        .message-vote
          Спасибо
          %br>/
          за голос
        .text рейтинг
    - if user.online?
      .status.online= t 'user.online'
    - else
      .status.offline
        = t 'user.last_seen_at'
        = user.updated_at.to_formatted_s(:long)

  .signers
    - if followers.count > 0
      .title= t 'user.hint.my_subscribers'
      .signers-list-holder
        %ul.signers-list
          - followers.each_with_index do |follower, index|
            - li_class = index % 2 == 1 ? 'even' : ''
            - li_class += index > 11 ? ' hide' : ''
            %li{"data-placement" => "bottom", "data-toggle" => "popover", class: li_class}
              = link_to user_path(follower) do
                = image_tag follower.photo_url(:thumb)
              %div
                .popover-holder.clearfix
                  %a.popover-user-photo{:href => "#"}
                    = image_tag follower.photo_url(:thumb), width: 50, height: 50
                  .popover-user-text
                    %b
                      = link_to follower.full_name, user_path(follower)
                    %p= user_skill_list(follower)
                    .popover-action-links
                      %a{:href => "#"} Профайл
                      %a{:href => "#"} Подписаться
      - if followers.count > 12
        .text-center
          %a.all-signers-link{:href => "#"}
            %b= followers.count
            всего
.ticket-box
  %a.student-ticket{:href => "#"}
    %img{:alt => "Скидка 10% на все уроки", :src => "/assets/ticket-10.png"}/
  %p Действителен до: 21.12.2014
  %a.btn.btn-success.btn-small{:href => "#"} Продлить