- show_avatar_upload = false unless defined?(show_avatar_upload)

- if show_avatar_upload
  %script#file_upload{ type: 'text/x-tmpl'}
    .invisible= "{%=o.name%}"

.user-sidebox
  .personal
    .illustration
      = image_tag user.photo_url(:preview), class: 'img-circle'

    - if show_avatar_upload
      = form_for ImageAttachment.new, multipart: true do |f|
        %div
          .custom-file#new_image_attachment
            = f.file_field :image
            = link_to t('user.upload_photo'), '#', class: 'btn btn-info btn-block btn-form'
        .progress.progress-striped.active
          .bar

    %h2.name= user.full_name
    .tags= user_skill_list(user)
    - if user == current_user
      = link_to t('user_page.add_interests'), user_interests_path(user), class: 'interests-link'
    - if user == current_user || current_user.blank?
      .rating
        %span= user.total_rating
    - else
      #jsRatingVote.rating
        %a.vote-up{ :href => "#", data: { url: user_ratings_path(user), method: :post }, class: user.is_positive_rated_by?(current_user) ? 'disabled' : '' }
        %a.vote-down{:href => "#", data: { url: user_ratings_path(user), method: :put }, class: user.is_negative_rated_by?(current_user) ? 'disabled' : '' }
        %span.value= user.total_rating
        .message-vote
          = t 'user.thanks'
          %br>/
          = t 'user.for_the_voice'
        .text= t 'user.rating'
    - if user.online?
      .status.online= t 'user.online'
    - else
      .status.offline
        = t 'user.last_seen_at'
        = Russian::strftime(user.updated_at, '%H:%M, %d %B %Y')

  .signers
    - if user.followers.count > 0
      - if user == current_user
        .title= t 'user.hint.my_subscribers'
      - else
        .title= t 'user.hint.subscribers'
      .signers-list-holder
        %ul.signers-list
          - user.followers.each_with_index do |follower, index|
            - li_class = index % 2 == 1 ? 'even' : ''
            - li_class += index > 11 ? ' hide' : ''
            %li.hover_popover.clickable_popover{"data-placement" => "bottom", class: li_class}
              = link_to user_path(follower) do
                = image_tag follower.photo_url(:thumb)
              %div
                .popover-holder.clearfix
                  %a.popover-user-photo{:href => "#"}
                    = image_tag follower.photo_url(:thumb), width: 50, height: 50
                  .popover-user-text
                    %b
                      = link_to follower.full_name, user_path(follower)
                    %p= user_skill_list(follower)
                    .popover-action-links
                      = link_to t('auth.profile'), user_path(follower)
                      -# TODO change to user_user_connections_path(user)
                      - if current_user.try(:is_subscribed_to?, follower)
                        = link_to t('user.unsubscribe'), '#', class: 'unsubscribe'
                      - else
                        = link_to t('user.subscribe'), '#', class: 'subscribe'
      - if user.followers.count > 12
        .text-center
          %a.all-signers-link{:href => "#"}
            %b= user.followers.count
            всего
-#.ticket-box
-#  %a.student-ticket{:href => "#"}
-#    %img{:alt => "Скидка 10% на все уроки", :src => "/assets/ticket-10.png"}/
-#  %p Действителен до: 21.12.2014
-#  %a.btn.btn-success.btn-small{:href => "#"} Продлить