%h1 Edit Profile
%div
  = semantic_form_for current_user do |f|
    = f.semantic_errors
    = f.inputs :first_name, :last_name, :email
    = f.input :sex, :as => :select, :collection => %w(female male)
    = f.action :submit
%div
  = link_to "Edit password", user_edit_password_path(current_user)