- errors = current_user.errors
%h1.italic_header
  = t 'headers.edit_user'
.pretty_form
  = form_for current_user do |f|
    .line
      .half_line_input.left
        .hint
          = t "user_form.first_name"
          - if errors[:first_name].present?
            %span.error= "(#{errors[:first_name].first})"
        .text_input
          = f.text_field :first_name
      .half_line_input.right
        .hint
          = t "user_form.last_name"
          - if errors[:last_name].present?
            %span.error= "(#{errors[:last_name].first})"
        .text_input
          = f.text_field :last_name
      .delimiter
    .line
      .half_line_input.left
        .hint
          = t "user_form.email"
          - if errors[:email].present?
            %span.error= "(#{errors[:email].first})"
        .text_input
          = f.text_field :email
      .half_line_input.right
        .hint
          = t "user_form.sex"
          - if errors[:sex].present?
            %span.error= "(#{errors[:sex].first})"
        .select_input
          = f.select :sex, t('user_form.sex_types')
      .delimiter
    .line
      .create_lesson.submittable
        %a
          %span= t("user_form.edit_user")
      .delimiter

%h1.italic_header
  = t 'headers.edit_password'
.pretty_form
  = form_for current_user do |f|
    .line
      .half_line_input.left
        .hint
          = t "user_form.password"
          - if errors[:password].present?
            %span.error= "(#{errors[:password].first})"
        .text_input
          = f.password_field :password
      .half_line_input.right
        .hint
          = t "user_form.password_confirmation"
          - if errors[:password_confirmation].present?
            %span.error= "(#{errors[:password_confirmation].first})"
        .text_input
          = f.password_field :password_confirmation
      .delimiter
    .line
      .create_lesson.submittable
        %a
          %span= t("user_form.edit_password")
      .delimiter