%section
  .container
    .row
      .span3
        %aside
          = render 'sidebox', user: @user, followers: @followers
      .span8.offset1
        .tabbable
          .nav-tabs-holder.clearfix
            %ul.nav.nav-tabs
              %li.active
                = link_to t('user.my_interests'), '#interests_tab', 'data-toggle' => 'tab'
          .tab-content
            #interests_tab.tab-pane.active
              .interests
                %h3= t 'user.interests_hint'
                .interests-list
                  - @interests.each do |interest|
                    .interests-category{ class: "cat-#{interest.name}"}
                      %a.main-category{:href => "#"}
                        %span.icon
                        %span.text= t("interests.#{interest.name}")
                        %span.state
                      .sub-level
                        %ul
                          - interest.sub_interests.each do |sub_interest|
                            - next if sub_interest.name.to_s.downcase == 'other'
                            %li
                              - class_name = 'toggle-interest '
                              - class_name += @selected_interests.include?(sub_interest) ? 'checked' : ''
                              = link_to user_map_interest_path(current_user, sub_interest), class: class_name do
                                %span= t "sub_interests.#{sub_interest.name}"
                                %i{data: { yes_word: t('word_yes'), no_word: t('word_no') } }= @selected_interests.include?(sub_interest) ? t('word_yes') : t('word_no')
                      .tags{ data: { helper_text: t('user.interested_in', interest: t("interests.#{interest.name}")) } }
                        - intersection = interest.sub_interests & @selected_interests
                        - if intersection.present?
                          = t 'user.interested_in', interest: t("interests.#{interest.name}")
                          - intersection.map do |sub_interest_intersect|
                            = link_to t("sub_interests.#{sub_interest_intersect.name}"), sub_interest_lessons_path(interest, sub_interest_intersect)
                        - else
                          = t 'user.no_selected_interests'
              .bottom-btn
                = link_to t('user.save_my_interests'), user_path(@user), class: 'btn btn-large btn-info'