%h1 User profile

%div
  First name
  %br
  = current_user.first_name
%div
  Last name
  %br
  = current_user.last_name
%div
  Email
  %br
  = current_user.email
%div
  Sex
  %br
  = current_user.sex.capitalize
%div
  Last sign in
  %br
  = current_user.last_sign_in_at
%div
  Last updated
  %br
  = current_user.updated_at
%div
  Registration date
  %br
  = current_user.created_at
%div
  =link_to "Edit profile", edit_user_path(current_user)
