%h1 User profile
- if @user == current_user
  .current_user
    .main_user_info
      = render partial: 'users/current_user/main_user_info', locals: { user: @user }
    .skills
      = render partial: 'users/current_user/skills', locals: { user: @user }
    .lesson_subscriptions
      = render partial: 'users/current_user/upcoming_subscribed_lessons', locals: { user: @user }
    .subscribers
      = render partial: 'users/current_user/followers', locals: { user: @user }
    %div
      = link_to "Edit profile", edit_user_path(current_user)
- else
  .foreign_user
    .main_user_info
      = render partial: 'users/foreign_user/main_user_info', locals: { user: @user }
    .social_contacts
      = render partial: 'users/foreign_user/social_contacts', locals: { user: @user }