%h1 User profile

%div
  First name:
  = @user.first_name
%div
  Last name:
  = @user.last_name
%div
  Email:
  = @user.email
- if @user.sex
  %div
    Sex:
    = @user.sex.capitalize
%div
  Last sign in:
  = @user.last_sign_in_at
%div
  Last updated:
  = @user.updated_at
%div
  Registration date:
  = @user.created_at
%div
  - if @user == current_user
    = link_to "Edit profile", edit_user_path(current_user)
