%section.reset-password
  .container
    .heading
      %h1= t 'auth.reset_password_header'
    .row.spacer-40
      .span10.offset1
        .login-form-box
          .row-fluid
            .span4.offset4
              = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
                = f.hidden_field :reset_password_token
                .form-row{ class: flash[:reset_error].present? ? 'error' : '' }
                  = f.label 'password', t('user_form.password'), class: 'form-label'
                  = f.password_field :password, placeholder: t('user.password'), class: 'text-input input-full-width'
                  - if flash[:reset_error].present?
                    .form-error-message
                      %sup *
                      = flash[:reset_error]
                .form-row{ class: alert.present? ? 'error' : '' }
                  = f.label :password_confirmation, t('user_form.password_confirmation'), class: 'form-label'
                  = f.password_field :password_confirmation, class: 'text-input input-full-width', placeholder: t('user.password_confirmation')
                .form-inline.form-row.form-btn-row.clearfix
                  = button_tag t('user_form.edit_user'), class: 'btn btn-warning from-submit pull-right'