.profit-label.profit
  %span.icon
    %span.w1
      %span.w2= t('hints.profitable')
  %span.label
    = lesson.place_price.to_s + ', '
    %sup 00
    %span= t('currency')
.title= link_to lesson.name, lesson_path(lesson)
.name= lesson.teacher.full_name
.tag= t("interests.#{lesson.interest.name}") + ', ' + t("sub_interests.#{lesson.sub_interest.name}")
.footer
  %i.icon-map-marker
  = t("lesson.address", { city: t("lesson.cities.#{lesson.city.downcase}"), address_line: lesson.address_line })