.profit-label.rating
  %span.icon
    %span.w1
      %span.w2= t('lesson.rating')
  %span.label= lesson.teacher.total_rating
.title= link_to lesson.name, lesson_path(lesson)
.name= lesson.teacher.full_name
.tag= lesson.interest.translation + ', ' + lesson.sub_interest.translation
.footer
  %i.icon-map-marker
  = t("lesson.address", { city: t("lesson.cities.#{lesson.city.downcase}"), address_line: lesson.address_line })
