= content_for :title, t("meta.index.title")
= content_for :meta_description, t("meta.index.description")
= content_for :meta_keywords, t("meta.index.keywords")
.intro
  .container
    .ribbon
      .ribbon-left
        = link_to t('lesson_form.start_study'), lessons_path
      .ribbon-right
        = link_to t('lesson_form.start_learning'), new_lesson_path
      .divider= t('hints.or')
    %nav.category-nav
      %ul
        - @interests.each do |interest|
          %li{ class: "cat-#{interest.name}"}
            = link_to interest_lessons_path(interest) do
              %span= t("interests.#{interest.name}")
              %i
.promo
  .container
    %h1= t('hints.nearest_lessons')
    .row
      - @nearest_lessons.each do |lesson|
        .span3
          .promo-column
            .illustration
              = image_tag lesson.teacher.photo_url(:medium), class: 'img-circle'
            .title= link_to lesson.name, lesson_path(lesson)
            .name= lesson.teacher.full_name
            .tag
              = t("interests.#{lesson.interest.name}") + ', ' + t("sub_interests.#{lesson.sub_interest.name}")
            .footer
              %i.icon-map-marker
              = t("lesson.address", { city: t("lesson.cities.#{lesson.city.downcase}"), address_line: lesson.address_line })
    .row
      .span4
      .span4.button
        = link_to t('hints.all_lessons'), lessons_path, class: 'btn btn-block btn-large btn-info'
      .span4
.profit-box
  .container.clearfix
    .sticker.visible-desktop
      %p.title= t('hints.did_you_know')
      %blockquote
        %p= @random_quote.try(:body)
    .profit-box-wrapper
      %h2= t('hints.profitable_offers')
      .row-fluid
        .span4
          .promo-column
            = render 'lowest_price_lesson', lesson: @lowest_price_lesson if @lowest_price_lesson.present?
        .span4
          .promo-column
            = render 'most_popular_lesson', lesson: @most_popular_lesson if @most_popular_lesson.present?
        .span4
          .promo-column
            = render 'most_rated_lesson', lesson: @most_rated_lesson if @most_rated_lesson.present?
.active-users-box.hidden-phone
  .container.clearfix
    %h3= t('hints.most_active_users')
    .active-users.clearfix
      .box.box-1
        %h4 ( #{t('hints.our_pride')} )
        = render 'user_list', users: @random_users[0..4] if @random_users[0..4].present?
      .box.box-2
        %h4 ( #{t('hints.leaders')} )
        = render 'user_list', users: @random_users[5..9] if @random_users[5..9].present?
      .box.box-3
        %h4 ( #{t('hints.upcoming_leaders')} )
        = render 'user_list', users: @random_users[10..14] if @random_users[10..14].present?
.brands-box.hidden-phone
  .brands-wrapper
    .container.clearfix
      .brands
        -#%a.logo-new-york-times{:href => "#"} The New york Times
        -#%a.logo-ted{:href => "#"} TED
        -#%a.logo-fast-company{:href => "#"} Fast Company
        -#%a.logo-today{:href => "#"} Today
        -#%a.logo-mashable{:href => "#"} Mashable
        -#%a.logo-tech-crunch{:href => "#"} Tech Crunch