.paper-sheet-wrapper
  .paper-sheet.t1.home
    .top
    .mid
      .header= t 'pages.index.learn_title'
      .content= t 'pages.index.learn'
    .bot
  .paper-sheet-bottom
.paper-connection.t1
.paper-sheet-wrapper
  .paper-sheet.t2.home
    .top
    .mid
      .header= t 'pages.index.study_title'
      .content= t 'pages.index.study'
    .bot
  .paper-sheet-bottom
.paper-connection.t2
.paper-sheet-wrapper
  .paper-sheet.t3.home
    .top
    .mid
      .header= t 'pages.index.perspectives_title'
      .content= t 'pages.index.perspectives'
    .bot
  .paper-sheet-bottom
