= content_for :title, t("meta.index.title")
= content_for :meta_description, t("meta.index.description")
= content_for :meta_keywords, t("meta.index.keywords")
.intro
  .container
    .ribbon
      .ribbon-left
        = link_to t('lesson_form.start_study'), lessons_path
      .ribbon-right
        = link_to t('lesson_form.start_learning'), new_lesson_path
      .divider или
    %nav.category-nav
      %ul
        %li.cat-cook
          %a{:href => lessons_path}
            %span Кулинария
            %i
        %li.cat-art
          %a{:href => lessons_path}
            %span Искусство
            %i
        %li.cat-biz
          %a{:href => lessons_path}
            %span Бизнесс
            %i
        %li.cat-lifeway
          %a{:href => lessons_path}
            %span Образ жизни
            %i
        %li.cat-tech
          %a{:href => lessons_path}
            %span Технологии
            %i

.promo
  .container
    %h1 Новые проекты на сегодня:
    .row
      .span3
        .promo-column
          .illustration
            %img.img-circle{:alt => "", :src => "assets/img-1.jpg"}/
          .title Веб Дизайн: Как начало длинной и тернистой дорогои на пути к ....
          .name Артур Павлюк
          .tag UI Дизайн, Веб разработки, Фотография
          .footer
            %i.icon-map-marker
            Одесса.,  ул. Троицкая, 12а,
      .span3
        .promo-column
          .illustration
            %img.img-circle{:alt => "", :src => "assets/img-1.jpg"}/
          .title Использование креативных идей.
          .name Максим Резниченко
          .tag Ruby on Reals Development
          .footer
            %a.btn.btn-success.btn-small{:href => "#"} Оnline урок
      .span3
        .promo-column
          .illustration
            %img.img-circle{:alt => "", :src => "assets/img-1.jpg"}/
          .title Как я провел лето или зачем нужны трусы на пляже?
          .name Иванов Иван Иванович
          .tag Сказки, Романы, Искуство писателя.
          .footer
            %i.icon-map-marker
            Одесса.,  ул. Екатериненская 115
      .span3
        .promo-column
          .illustration
            %img.img-circle{:alt => "", :src => "assets/img-1.jpg"}/
          .title Как я провел лето или зачем нужны трусы на пляже?
          .name Иванов Иван Иванович
          .tag Сказки, Романы, Искуство писателя.
          .footer
            %i.icon-map-marker
            Одесса.,  ул. Екатериненская 115
    .row
      .span4
      .span4.button
        %a.btn.btn-block.btn-large.btn-info{:href => lessons_path} Все уроки
      .span4
.profit-box
  .container.clearfix
    .sticker.visible-desktop
      %p.title А знаете ли Вы?
      %blockquote
        %p Прежде, чем выиграть президентские выборы в 1860 году, Авраам Линкольн потерпел поражение на восьми выборах различных уровней.
    .profit-box-wrapper
      %h2 Выгодные предложения:
      .row-fluid
        .span4
          .promo-column
            .profit-label.profit
              %span.icon
                %span.w1
                  %span.w2 Выгодный
              %span.label
                25,
                %sup 00
                %span грн.
            .title Преподавательский жаргон. №445 Сколько раз нужно повторять.
            .name Николай Сотников
            .tag Преподавание, школа.
            .footer
              %i.icon-map-marker
              Харьков.,  ул. Розы Люксенбург, 15
        .span4
          .promo-column
            .profit-label.popular
              %span.icon
                %span.w1
                  %span.w2 Популярный
              %span.label 15284
            .title Жаргон. №445 sРаз нужно повторять.
            .name Иван Ивонович Иванов
            .tag Ruby on Reals Development
            .footer
              %a.btn.btn-success.btn-small{:href => "#"} Оnline урок
        .span4
          .promo-column
            .profit-label.rating
              %span.icon
                %span.w1
                  %span.w2 Рейтинг
              %span.label 100
            .title Веб Дизайн: Как начало длинной и тернистой дорогои на пути к ....
            .name Артур Павлюк
            .tag UI Дизайн, Веб разработки, Фотография
            .footer
              %i.icon-map-marker
              Одесса.,  ул. Екатериненская 115
.active-users-box.hidden-phone
  .container.clearfix
    %h3 Активисты на сайте:
    .active-users.clearfix
      .box.box-1
        %h4 ( Наша гордость )
        %ul
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img-ac-1.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img-ac-2.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img-ac-3.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img-ac-4.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img-ac-5.png"}/
      .box.box-2
        %h4 ( Передовики производства  )
        %ul
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img-ac-1.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img-ac-2.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img-ac-3.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img-ac-4.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img-ac-5.png"}/
      .box.box-3
        %h4 ( Уверенно идущие вперед  )
        %ul
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img-ac-1.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img-ac-2.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img-ac-3.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img-ac-4.png"}/
          %li
            %a{:href => "#"}
              %img{:alt => "", :src => "assets/img-ac-5.png"}/
.brands-box.hidden-phone
  .brands-wrapper
    .container.clearfix
      .brands
        %a.logo-new-york-times{:href => "#"} The New york Times
        %a.logo-ted{:href => "#"} TED
        %a.logo-fast-company{:href => "#"} Fast Company
        %a.logo-today{:href => "#"} Today
        %a.logo-mashable{:href => "#"} Mashable
        %a.logo-tech-crunch{:href => "#"} Tech Crunch

-#        OLD
-#%h1.invisible= t "meta.index.header"
-#.paper-sheet-wrapper
-#  .paper-sheet.t1.home
-#    .top
-#    .mid
-#      %h2.header= t 'pages.index.study_title'
-#      .content= t 'pages.index.study'
-#      .study_button
-#        %a{ href: new_lesson_path}
-#          %span= t "lesson_form.start_study"
-#    .bot
-#  .paper-sheet-bottom
-#.paper-connection.t1
-#.paper-sheet-wrapper
-#  .paper-sheet.t2.home
-#    .top
-#    .mid
-#      %h2.header= t 'pages.index.learn_title'
-#      .content= t 'pages.index.learn'
-#      .learn_button
-#        %a{ href: lessons_path}
-#          %span= t "lesson_form.start_learning"
-#    .bot
-#  .paper-sheet-bottom
-#.paper-connection.t2
-#.paper-sheet-wrapper
-#  .paper-sheet.t3.home
-#    .top
-#    .mid
-#      %h2.header= t 'pages.index.perspectives_title'
-#      .content= t 'pages.index.perspectives'
-#      .perspectives_button
-#        %a{ href: static_page_path(:perspectives)}
-#          %span= t "load_more"
-#    .bot
-#  .paper-sheet-bottom
-#.delimiter
-#.suitable_lessons_wrapper.home
-#  .delim
-#  .suitable_lessons
-#    = render partial: 'lessons/profile_suitable_lesson', collection: @upcoming_lessons, locals: { view_type: :home }
-#    .delimiter
-#