= content_for :title, t("meta.index.title")
= content_for :meta_description, t("meta.index.description")
= content_for :meta_keywords, t("meta.index.keywords")
= content_for :no_padding_header, true
.intro
  .container
    .intro-text
      %h1
        = t 'home_page.become_member'
        %b= t 'home_page.of_our_project'
      %p= t 'home_page.start_with_us'
      - unless signed_in?
        = link_to t('home_page.registration'), new_user_session_path, class: 'btn btn-large'
    .intro-illustration.hidden-xs.hidden-sm
      %p
        = t 'home_page.we_here'
        %br
        = t 'home_page.share'
        %br
        = t 'home_page.knowledge'
.category-panel
  .container
    .ribbon
      .ribbon-left= link_to t('home_page.start_study'), lessons_path
      .ribbon-right= link_to t('home_page.start_learning'), new_lesson_path
      .ribbon-divider= t('hints.or')

    %nav.category-nav.clearfix
      %ul
        - @interests.each do |interest|
          %li{ class: "cat-#{interest.name}"}
            = link_to interest_lessons_path(interest) do
              %span= interest.translation
            %ul
              - interest.sub_interests.each do |sub_interest|
                - next if @lesson_counts[sub_interest.id].to_i.zero?
                %li
                  = link_to sub_interest_lessons_path(interest, sub_interest) do
                    %span= sub_interest.translation
                    %i= "(#{@lesson_counts[sub_interest.id].to_i})"
.item-list
  .container
    %h2= t('hints.nearest_lessons')
    - @nearest_lessons.to_a.in_groups_of(3).each do |lesson_group|
      .row
        - lesson_group.each do |lesson|
          - next unless lesson
          .span4
            .item-el
              .item-illustration
                - if lesson.image_attachments.present?
                  - image = lesson.image_attachments.first.image_url(:gallery)
                - else
                  - image = lesson.teacher.photo_url(:gallery)
                = link_to lesson_path(lesson) do
                  = image_tag image
              .item-data
                %h3.item-title= link_to lesson.name, lesson_path(lesson)
                .item-tags
                  = link_to lesson.interest.translation, interest_lessons_path(lesson.interest)
                  = ', '
                  = link_to lesson.sub_interest.translation, sub_interest_lessons_path(lesson.interest, lesson.sub_interest)
                .item-description= truncate_html(lesson.description, length: 320, omission: '...')
                .item-author.clearfix
                  .author-photo.hidden-xs
                    = link_to user_path(lesson.teacher) do
                      = image_tag lesson.teacher.photo_url(:thumb), height: 44, width: 44
                  .author-data
                    .author-name
                      = link_to lesson.teacher.full_name, user_path(lesson.teacher)
                    .author-tags
                      = user_skill_list(lesson.teacher)
              .item-footer
                %i.icon-map-marker
                = t("lesson.address", { city: t("lesson.cities.#{lesson.city.downcase}"), address_line: lesson.address_line })
    .row
      .span4
      .span4.button
        = link_to t('hints.all_lessons'), lessons_path, class: 'btn btn-block btn-large btn-warning'
      .span4
.active-users-box.hidden-phone
  .container.clearfix
    %h3= t('hints.most_active_users')
    .active-users.clearfix
      .box.box-1
        %h4 ( #{t('hints.our_pride')} )
        = render 'user_list', users: @random_users[0..4] if @random_users[0..4].present?
      .box.box-2
        %h4 ( #{t('hints.leaders')} )
        = render 'user_list', users: @random_users[5..9] if @random_users[5..9].present?
      .box.box-3
        %h4 ( #{t('hints.upcoming_leaders')} )
        = render 'user_list', users: @random_users[10..14] if @random_users[10..14].present?

.brands-box.hidden-phone
  .brands-wrapper
    .container.clearfix
      .brands
        %a.pull-left.logo-bf
        %a.pull-left.logo-go
        %a.pull-left.logo-mim
        -#%a.logo-fast-company{:href => "#"} Fast Company
        -#%a.logo-today{:href => "#"} Today
        -#%a.logo-mashable{:href => "#"} Mashable
        -#%a.logo-tech-crunch{:href => "#"} Tech Crunch
