%section
  .container
    .heading
      %h1= t 'headers.edit_sub_interest'

    = form_for @sub_interest, url: {action: 'update'} do |f|
      = f.label t('admin.interest')
      = f.select :interest_id, Interest.all.collect { |p| [ p.name, p.id ] }
      = f.label t('admin.name')
      = f.text_field :name
      = f.label t('admin.description')
      = f.text_area :description
      %br
      %button.btn.btn-info.submittable{type: 'submit', name: 'commit'}= t 'headers.edit_sub_interest'