.span8
  - if show_subtitle
    .sub-title= t('lesson.lesson')
  %article.main-article
    %header
      %h1
        - if is_in_form
          = link_to lesson.name, lesson_path(lesson)
        - else
          = lesson.name
        = t 'hints.lesson_not_confirmed' unless lesson.enabled?
      %h2.teacher-link= link_to lesson.teacher.full_name, user_path(lesson.teacher)
      .tags
        = link_to(lesson.interest.translation, interest_lessons_path(lesson.interest)) + ' , '
        = link_to lesson.sub_interest.translation, sub_interest_lessons_path(lesson.interest, lesson.sub_interest)
        = ', ' + lesson.tags.map(&:name).join(' , ') if lesson.tags.present?
    %p= lesson.description_top.try(:html_safe)
    - if lesson.image_urls(:gallery).present?
      = render 'lessons/lessons_carousel', image_urls: lesson.image_urls(:gallery)
    %p= lesson.description_bottom.try(:html_safe)
    .pull-right.vk_share{ data: { lesson_name: lesson.name, button_text: t("vk_share_button.button_text"), common_title: t("vk_share_button.post_title"), url: lesson_url(lesson) } }
    .clearfix
.span3.offset1= render 'lessons/sidebox', lesson: lesson, native_lesson_price: is_in_form
