.lesson_wrapper
  .invisible
  .title
    = link_to lesson.name, lesson_path(lesson)
  .body
    .text= lesson.description
    - if lesson.teachers.include?(current_user)
      .buy_pass.disabled
        %a{ href: edit_lesson_path(lesson) }
          %span
            = t('lesson.edit_lesson')
    - elsif lesson.user_already_applied?(current_user)
      .buy_pass.disabled
        %a.disabled
          %span
            = t('lesson.already_applied')
    - elsif !lesson.available?
      .buy_pass.disabled
        %a.disabled
          %span
            = t('lesson.no_place')
    - else
      .buy_pass
        %a{ href: get_buy_passes_path(lesson) }
          %span
            %b
              = lesson.place_price
            = t("currency")
  .delim
  .bot
    .text_block
      Teacher:
      = link_to lesson.teachers.first.full_name, user_path(lesson.teachers.first)
    .lesson_delimiter
    .text_block
      Rating:
      %b 4.8
    .lesson_delimiter
    .text_block
      City:
      = t("cities.#{lesson.city}")
    .lesson_delimiter
    .text_block
      Level:
      = t("lesson_level.#{lesson.level}")
    .lesson_delimiter
    .text_block
      Capacity:
      = lesson.capacity
    .lesson_delimiter
    .text_block
      Places taken:
      %span.places_count
        = lesson.places_taken
.delimiter
