.lesson-container.span6
  .lesson{ class: lesson_counter % 2 == 0 ? 'pull-left' : 'pull-right' }
    .lesson-ribbon-wrapper
      .lesson-ribbon= lesson.is_course? ? t('lesson_form.course') : t('lesson_form.lesson')
    %h2= link_to lesson.name, lesson_path(lesson)
    .item-illustration.pull-left
      - if lesson.image_attachments.present?
        - image = lesson.image_attachments.first.image_url(:gallery)
      - else
        - image = lesson.teacher.photo_url(:gallery)
      = link_to lesson_path(lesson) do
        = image_tag image
    .item-details.pull-right
      .info
        %i.lesson-icon-info
        = truncate(lesson.teacher.full_name, length: 22)
      .address
        %i.lesson-icon-address
        = t("lesson_form.#{lesson.city}") + ', '
        = lesson.address_line
      .spacer
      .start-date
        %i.lesson-icon-date
        = Russian::strftime(lesson.start_datetime, '%d %B')
      .start-time
        %i.lesson-icon-time
        = t('lesson.begin_at', time: lesson.start_datetime.strftime('%H:%M'))
    .clearfix
    .description= truncate_html(lesson.description, length: 320, omission: '...')
    .price-box
      .left
        %b= calculate_price(lesson)
        = t('currency')
      .right= link_to t('lesson.peek_inside'), lesson_path(lesson)
