- native_lesson_price = false unless defined?(native_lesson_price)
- from_course ||= false
.course-box{ class: lesson.course_id.present? ? 'course-box-prem' : '' }
  .entry-content
    .photo.hidden-phone
      = link_to dynamic_lesson_path(lesson, from_course) do
        = image_tag lesson.teacher.photo_url(:medium)
      .rating
        %b= lesson.teacher.total_rating
        ( #{t('lesson.rating')} )
    .entry-text
      .short-info
        - if lesson.course.present?
          = t('lesson.is_part_of_course_with_param', course_name: lesson.course.name)
        - else
          = t('lesson.lesson')
      %h3
        - lesson_name = lesson.enabled? ? lesson.name : "#{lesson.name} #{t('hints.lesson_not_confirmed')}"
        = link_to lesson_name, dynamic_lesson_path(lesson, from_course)
      .author= lesson.teacher.full_name
      .tags= lesson.interest.translation + ', ' + lesson.sub_interest.translation
      .meta.meta2.no-border
        .time
          %span
            %i.icon-time
            = Russian::strftime(lesson.start_datetime, '%d %B')
          %span= t('lesson.start_at', time: lesson.start_datetime.strftime('%H:%M'))
        %address
          %i.icon-map-marker
          = t("lesson.address", { city: t("lesson.cities.#{lesson.city.downcase}"), address_line: lesson.address_line })
  .entry-footer
    - if lesson.buyable_for?(current_user)
      - if lesson.course_id.present? && !lesson.course.allow_split_buy?
        = link_to t('lesson.buy_place_course'), get_buy_course_passes_path(lesson.course), class: 'btn btn-success'
      - else
        = link_to t('lesson.buy_place_lesson'), get_buy_passes_path(lesson), class: 'btn btn-success'
    .price
      = t('lesson.price')
      %b= calculate_price(lesson, native_lesson_price)
      = t('currency')
    %ul.places-data
      %li.prod-all
        = t('lesson.capacity')
        %b= lesson.capacity
      %li.prod-sold
        = t('lesson.places_taken')
        %b= lesson.places_taken
      %li.prod-left
        = t('lesson.places_left')
        %b= lesson.free_places_count
