.lesson_wrapper
  .invisible
  .title
    = link_to lesson.name, lesson_path(lesson)
  .body
    .text= lesson.description
    - if lesson.teachers.include?(current_user)
      .buy_pass.disabled
        %a{ href: edit_lesson_path(lesson) }
          %span
            = t('lesson.edit_lesson')
    - elsif lesson.user_already_applied?(current_user)
      .buy_pass.disabled
        %a.disabled
          %span
            = t('lesson.already_applied')
    - elsif !lesson.available?
      .buy_pass.disabled
        %a.disabled
          %span
            = t('lesson.no_place')
    - else
      .buy_pass
        %a{ href: get_buy_passes_path(lesson) }
          %span
            %b
              = lesson.place_price
            = t("currency")
  .delim
  .bot
    .text_block
      = t('lesson.teacher') + ':'
      = link_to lesson.teachers.first.full_name, user_path(lesson.teachers.first)
    .lesson_delimiter
    .text_block
      = t('lesson.rating') + ':'
      %b= lesson.teachers.first.ratings.sum(&:rating)
    .lesson_delimiter
    .text_block
      = t('lesson.city') + ':'
      = t("lesson.cities.#{lesson.city}")
    .lesson_delimiter
    .text_block
      = t('lesson.level') + ':'
      = t("lesson.lesson_level.#{lesson.level}")
    .lesson_delimiter
    .text_block
      = t('lesson.capacity') + ':'
      = lesson.capacity
    .lesson_delimiter
    .text_block
      = t('lesson.places_taken') + ':'
      %span.places_count
        = lesson.places_taken
.delimiter
