- lesson = lesson_with_comments
.course-box{ class: lesson.is_premium? ? 'course-box-prem' : '' }
  .entry-content
    .photo.hidden-phone
      = link_to user_path(lesson.teacher) do
        = image_tag lesson.teacher.photo_url(:medium)
      .rating
        %b= lesson.teacher.total_rating
        ( #{t('lesson.rating')} )
    .entry-text
      .short-info
        - if lesson.course.present?
          = t('lesson.course_consists_of', lessons_count: lesson.course.lessons.count)
        - else
          = t('lesson.lesson')
      %h3= link_to lesson.name, lesson_path(lesson)
      .author= lesson.teacher.full_name
      .tags= t("interests.#{lesson.interest.name}") + ', ' + t("sub_interests.#{lesson.sub_interest.name}")
      .meta
        .time
          %span
            %i.icon-time
            = Russian::strftime(lesson.start_datetime, '%d %B')
          %span= t('lesson.start_at', time: lesson.start_datetime.strftime('%H:%M'))
        %address
          %i.icon-map-marker
          = t("lesson.address", { city: t("lesson.cities.#{lesson.city.downcase}"), address_line: lesson.address_line })
  -# TODO add comments view
  .comments
    .entry-footer.comments-column
      .comments-box
        = render lesson.comments, locals: { lesson: lesson }
      .comments-form
        = form_for lesson.comments.new do |f|
          = f.hidden_field :commentable_type
          = f.hidden_field :commentable_id
          .textarea-holder.clearfix
            = f.text_area :body, placeholder: t('comment.textarea_placeholder'), size: '16', type: 'text'
            %button.btn.submittable{:type => "button"} Enter