.course-box{ class: lesson.is_premium? ? 'course-box-prem' : '' }
  .entry-content
    .photo.hidden-phone
      = link_to user_path(lesson.teacher) do
        = image_tag lesson.teacher.photo_url(:medium)
      .rating
        %b= lesson.teacher.total_rating
        ( #{t('lesson.rating')} )
    .entry-text
      .short-info
        - if lesson.course.present?
          = t('lesson.is_part_of_course_with_param', course_name: lesson.course.name)
        - else
          = t('lesson.lesson')
      %h3= link_to lesson.name, lesson_path(lesson)
      .author= lesson.teacher.full_name
      .tags= t("interests.#{lesson.interest.name}") + ', ' + t("sub_interests.#{lesson.sub_interest.name}")
      .meta.meta2.no-border
        .time
          %span
            %i.icon-time
            = Russian::strftime(lesson.start_datetime, '%d %B')
          %span= t('lesson.start_at', time: lesson.start_datetime.strftime('%H:%M'))
        %address
          %i.icon-map-marker
          = t("lesson.address", { city: t("lesson.cities.#{lesson.city.downcase}"), address_line: lesson.address_line })
  .entry-footer
    - if lesson.buyable_for?(current_user)
      = link_to t('lesson.buy_place'), get_buy_passes_path(lesson), class: 'btn btn-success'
    .price
      = t('lesson.price')
      %b= lesson.place_price
      = t('currency')
    %ul.places-data
      %li.prod-all
        = t('lesson.capacity')
        %b= lesson.capacity
      %li.prod-sold
        = t('lesson.places_taken')
        %b= lesson.places_taken
      %li.prod-left
        = t('lesson.places_left')
        %b= lesson.free_places_count