- only_lessons ||= false
.lesson_wrapper{ class: lesson.course.present? && !only_lessons ? 'course_lesson' : '' }
  .invisible
  .body
    .lesson_left
      .title
        = link_to lesson.name, lesson_path(lesson)
      .delim
      .text= truncate_html(lesson.description, length: 700)
      - if lesson.course.present? && !only_lessons
        .hint
          .hint_text= t "lesson.hint_course_lessons"
          .hint_body
            %ol
              - lesson.course.lessons.each do |course_lesson|
                %li{ class: course_lesson.passed? ? "disabled" : "" }
                  = link_to course_lesson.name, lesson_path(course_lesson), class: lesson == course_lesson ? 'current' : ''
    .lesson_right
      = render '/lessons/lesson_management', lesson: lesson
    .delimiter
  .bot
    .text_block
      = t('lesson.teacher') + ':'
      = link_to lesson.teachers.first.full_name, user_path(lesson.teachers.first)
    .lesson_delimiter
    .text_block
      = t('lesson.rating') + ':'
      %b= lesson.teachers.first.ratings.sum(&:rating)
    .lesson_delimiter
    .text_block
      = t('lesson.city') + ':'
      = t("lesson.cities.#{lesson.city}")
    .lesson_delimiter
    .text_block
      = t('lesson.capacity') + ':'
      = lesson.capacity
    .lesson_delimiter
    .text_block
      = t('lesson.places_taken') + ':'
      %span.places_count
        = lesson.places_taken
    .delimiter
.delimiter
