.span3.offset1
  .lesson-general-form
    -# Capacity
    .form-row{ class: error_fields.include?(:capacity) ? 'error' : ''}
      - capacity_change_disabled = lesson.places_taken > 0
      = label_tag :capacity, class: 'form-label' do
        %sup.warn *
        = t 'lesson_form.capacity'
      = text_field_tag :capacity, (lesson.capacity || 10), class: 'text-input input-full-width input-tooltip', placeholder: '10', readonly: capacity_change_disabled, data: { placement: 'left', 'original-title' => t('lesson_form.tooltips.capacity')  }

    -# Address
    .form-row{ class: error_fields.include?(:address_line) ? 'error' : ''}
      - address_change_disabled = lesson.places_taken > 0
      = label_tag :address_line, class: 'form-label' do
        %sup.warn *
        = t 'lesson_form.address_line'
      = text_field_tag :address_line, lesson.address_line, class: 'text-input input-full-width input-tooltip', placeholder: t('lesson_form.address_line_placeholder'), readonly: address_change_disabled, data: { placement: 'left', 'original-title' => t('lesson_form.tooltips.address_line')  }

    -# Price
    .form-row.price-row{ class: error_fields.include?(:place_price) ? 'error' : ''}
      - price_change_disabled = lesson.places_taken > 0
      = label_tag :place_price, class: 'form-label' do
        %sup.warn *
        = t 'lesson_form.place_price'
      = text_field_tag :place_price, (lesson.place_price || 200), class: 'text-input input-full-width input-tooltip', placeholder: '200', readonly: price_change_disabled, data: { placement: 'left', 'original-title' => t('lesson_form.tooltips.place_price') }

    -# Price enabled?
    .form-row{ class: error_fields.include?(:sale_enabled) ? 'error' : ''}
      = label_tag :sale_enabled, class: 'form-label' do
        %sup.warn *
        = t 'lesson_form.sale_enabled'
        = link_to '#', class: 'custom-content-popover', data: { placement: :left } do
          %i.icon-question-sign
        %div.hide.custom-content-popover-body
          .pro-additional
            %ol
              %li
                %b= t 'user.hint.sale_enabled.selected'
                = t 'user.hint.sale_enabled.selected_hint'
              %li
                %b= t 'user.hint.sale_enabled.unselected'
                = t 'user.hint.sale_enabled.unselected_hint'

      = check_box_tag :sale_enabled, 'on', lesson.sale_enabled?, rel: 'bootstrap-switch'

    - hide_price_class = lesson.sale_enabled? ? '' : 'hide'

    -# Adjustment strategy
    .form-row.adjustment-strategy-row{ class: error_fields.include?(:adjustment_strategy) ? "error #{hide_price_class}" : hide_price_class}
      = label_tag :adjustment_strategy, class: 'form-label' do
        %sup.warn *
        = t 'lesson_form.adjustment_strategy'
        = link_to '#', class: 'custom-content-popover', data: { placement: :left } do
          %i.icon-question-sign
        %div.hide.custom-content-popover-body
          .pro-additional
            %ol
              %li
                %b= t 'user.hint.price_adjustment.selected'
                = t 'user.hint.price_adjustment.selected_hint', commission: Lesson::HUMAN_FULL_PERCENT
              %li
                %b= t 'user.hint.price_adjustment.unselected'
                = t 'user.hint.price_adjustment.unselected_hint', commission: Lesson::HUMAN_FULL_PERCENT

      = check_box_tag :adjustment_used, 'on', lesson.adjustment_used?, rel: 'bootstrap-switch'

    -# Start Date and Time
    .form-row.datetimepicker.input-append{ class: error_fields.include?(:start_datetime) ? 'error' : ''}
      - date_change_disabled = lesson.places_taken > 0
      = label_tag :start_time, class: 'form-label' do
        %sup.warn *
        = t 'lesson_form.start_time'
      %span.add-on
        %i{ data: { 'time-icon' => 'icon-time', 'date-icon' => 'icon-calendar' } }
      = text_field_tag :start_time, lesson.start_datetime.try(:to_s, :no_time_zone_change_db), class: 'text-input input-full-width text-center input-tooltip', id: 'lesson-start', readonly: date_change_disabled, data: { format: 'yyyy-MM-dd hh:mm:ss', placement: 'left', 'original-title' => t('lesson_form.tooltips.start_datetime') }

    -# Duration
    .form-row{ class: error_fields.include?(:duration) ? 'error' : ''}
      - duration_change_disabled = lesson.places_taken > 0
      = label_tag :hours_duration, class: 'form-label' do
        %sup.warn *
        = t 'lesson_form.duration'
      = select_tag :hours_duration, hours_options(lesson.duration), class: 'text-input input-full-width text-center', id: 'lesson-duration', readonly: duration_change_disabled
      = select_tag :minutes_duration, minutes_options(lesson.duration), class: 'text-input input-full-width text-center', id: 'lesson-duration', readonly: duration_change_disabled

  .add-file
    = hidden_field_tag :attached_files, lesson.file_attachments.map(&:id).join('|'), id: 'attached-files-holder'
    = label_tag :upload_file, class: 'form-label' do
      = t('lesson_form.attach_files')
      (#{ FileUploader.new.extension_white_list.join(', ')})
    %ol#attached_files
      - lesson.file_attachments.each do |file_attachment|
        %li
          = link_to file_attachment_url(file_attachment), file_attachment_url(file_attachment)
          = link_to '', '#', class: 'remove-file', data: { 'file-attachment-id' => file_attachment.id }

    .clearfix#lesson_file_attachment{ data: { url: file_attachments_path } }
      .progress.progress-striped.active.hide
        .bar
      .custom-file
        = file_field_tag 'file_attachment[file]'
        = link_to t('lesson_form.upload_file'), '#', class: 'btn btn-info btn-block btn-form'
