- lesson ||= Lesson.new(course_id: params[:course_id])
- error_fields = lesson.errors.keys
- lesson_certificates ||= nil
- form_to = form_method == :put ? lesson_path(lesson) : lessons_path
= form_tag form_to, method: form_method do
  %script#lesson_file{ type: 'text/x-tmpl'}
    %div
  .lesson-form
    = hidden_field_tag :course_id, lesson.course_id
    .row-fluid
      .span8
        .lesson-title{ class: error_fields.include?(:name) ? 'error' : '' }
          = text_field_tag :title, lesson.name, class: 'text-input input-full-width input-tooltip', id: 'lesson-price', placeholder: t('lesson_form.lesson_title_placeholder'), data: { 'original-title' => t('lesson_form.tooltips.title') }
          .title-hint= t 'lesson_form.lesson_title'
        .author
          %h2
            = t 'lesson_form.teacher'
            %b= current_user.full_name
        .meta-settings.clearfix
          .pull-left
            .category-select.pull-left{ data: { interests: interests_as_json(interests) }, class: lesson.course_id.present? ? 'hide' : '' }
              %label{:for => "category-select"}
                %sup.warn *
                = t 'lesson_form.category'
              = select_tag :interest_id, interest_options(interests, (lesson.interest_id || lesson.course.try(:interest_id))), id: 'category-select', class: 'select-inline'
              ,
            .sub-category-select.pull-left{ class: lesson.course_id.present? ? 'hide' : ''}
              %label{:for => "section-select"}
                %sup.warn *
                = t 'lesson_form.sub_category'
              - selected_interest = lesson.interest || interests.first
              = select_tag :sub_interest_id, sub_interest_options(selected_interest, (lesson.sub_interest_id || lesson.course.try(:sub_interest_id))), id: 'section-select', class: 'select-inline'
              ,
            %label= t 'lesson_form.main_tags'
          .tags-appender-box
            = hidden_field_tag :tags, lesson.tags.map(&:name).join('|'), id: 'tags-holder'
            - lesson.tags.each do |tag|
              .tag-item
                %span= tag
                %a.remove
            .tags-appender
              = text_field_tag nil
              = link_to t('lesson_form.add_more'), '#'
        .description-box
          %h3= t 'lesson_form.description'
          .description-edit
            - description_class = 'with-wysihtml5 lesson-description-edit'
            - description_class += ' error' if error_fields.include?(:description_top) || error_fields.include?(:description_bottom)
            = text_area_tag :description_top, lesson.description_top, class: description_class
            - if error_fields.include?(:description_top) || error_fields.include?(:description_bottom)
              .row-fluid
                .span12.description-error= t('lesson_form.tooltips.description')
            .gallery-edit
              = hidden_field_tag :gallery_images, lesson.image_attachments.map(&:id).join('|'), id: 'gallery-images-holder'
              .row-fluid
                .span8
                  %span &lt;img&gt;
                  .user-gallery.carousel.slide#gallery-carousel
                    .carousel-inner
                      - if lesson.image_attachments.blank?
                        .item.blank.active= image_tag 'http://placehold.it/470x300'
                      - else
                        - lesson.image_attachments.each_with_index do |image_attachment, index|
                          .item{ class: (index == 0 ? 'active' : ''), data: { 'attachment-id' => image_attachment.id } }
                            = image_tag image_attachment.image.url(:gallery)
                    %a.carousel-control.left{"data-slide" => "prev", :href => "#gallery-carousel"} &lsaquo;
                    %a.carousel-control.right{"data-slide" => "next", :href => "#gallery-carousel"} &rsaquo;
                  %span &lt;/img&gt;
                .span4
                  %h4= t 'lesson_form.create_gallery'
                  %ol#gallery-images
                    - lesson.image_attachments.each do |image_attachment|
                      %li
                        = link_to image_attachment_url(image_attachment), image_attachment_url(image_attachment)
                        = link_to '', '#', class: 'remove-2', data: { 'attachment-id' => image_attachment.id }
                  #gallery-image-attachment{ data: { url: create_gallery_attachment_image_attachments_path } }
                    .progress.progress-striped.active.hide
                      .bar

                    .image-file
                      = file_field_tag 'image_attachment[image]'
                      = link_to '#', class: 'btn btn-edit' do
                        %span +
                        \&lt;img&gt;
            = text_area_tag :description_bottom, lesson.description_bottom, class: description_class
            - if error_fields.include?(:description_top) || error_fields.include?(:description_bottom)
              .row-fluid
                .span12.description-error= t('lesson_form.tooltips.description')
      = render 'lesson_form_sidebox', lesson: lesson, error_fields: error_fields, lesson_certificates: lesson_certificates

  .button-bar.text-center
    = link_to t('lesson_form.save_lesson'), '#', class: 'btn btn-warning', id: 'lesson-submit'
    = link_to t('lesson_form.cancel'), root_path, class: 'btn btn-inverse'
