.span3
  %aside
    %h2= t('hints.categories')
    %nav.side-nav
      %ul
        - interests.each do |interest|
          %li{ class: "cat-#{interest.name}" }
            = link_to '#', class: selected_interest.try(:id) == interest.id ? 'active' : '' do
              %span.icon
              %span.text= t("interests.#{interest.name}")
              %span.state
            .sub-level
              %ul
                - interest.sub_interests.each do |sub_interest|
                  %li
                    = link_to sub_interest_lessons_path(interest, sub_interest), class: selected_sub_interest.try(:id) == sub_interest.id ? 'active' : '' do
                      %span= t("sub_interests.#{sub_interest.name}")
                      %i ( #{lesson_counts[sub_interest.id].to_i} )