- lesson = profile_suitable_lesson
- user = lesson.teachers.first
.suitable_lesson{ class: view_type }
  .avatar_wrapper
    .avatar= image_tag user.image_attachment.try(:image).try(:url, :medium)
  .lesson_body
    .title= link_to lesson.name.truncate(view_type == :profile ? 60 : 120), lesson_path(lesson), class: 'blue_link'
    .interests= [t("interests.#{lesson.interest.name}"), t("sub_interests.#{lesson.sub_interest.name}")].join(", ")
    .suitable_lesson_left
      .teacher_name= link_to user.full_name, user_path(user)
      .lesson_address= t("lesson.address", { city: t("lesson.cities.#{lesson.city.downcase}"), address_line: lesson.address_line })
    .suitable_lesson_right
      .start_datetime
        - if view_type == :profile
          .month= l(lesson.start_datetime, format: '%b')[0..-2]
          .day= lesson.start_datetime.day
        - else
          .day
            .number= lesson.start_datetime.day
            .week_day= l(lesson.start_datetime, format: '%a')
            .delimiter
          .month= l(lesson.start_datetime, format: '%B')
    .delimiter
  .delimiter
- if profile_suitable_lesson_counter % 2 == 1
  .suitable_lesson_horizontal_delimiter
- else
  .suitable_lesson_vertical_delimiter
