- lesson = suggested_lesson
.course-box.course-box-coming
  .entry-content
    .photo.hidden-phone
      = link_to dynamic_lesson_path(lesson) do
        = image_tag lesson.teacher.photo_url(:medium)
    .entry-text
      %header.entry-header
        .short-info
          - if lesson.course.present?
            = t('lesson.is_part_of_course_with_param', course_name: lesson.course.name)
          - else
            = t('lesson.lesson')
        %h3= link_to lesson.name, dynamic_lesson_path(lesson)
      .meta
        %address
          %i.icon-map-marker
          = t("lesson.address", { city: t("lesson.cities.#{lesson.city.downcase}"), address_line: lesson.address_line })
        .time
          %span
            %i.icon-time
            = t('lesson.start_at', time: lesson.start_datetime.strftime('%H:%M'))
            = Russian::strftime(lesson.start_datetime, '%d %B')
      = link_to t('more'), dynamic_lesson_path(lesson), class: 'btn btn-info pull-right'
