.author-info
  .row
    .span8
      .course-box
        .entry-content
          .photo.hidden-phone
            = link_to user_path(teacher) do
              = image_tag teacher.photo_url(:medium)
            .rating
              %b= teacher.total_rating
              ( #{t('lesson.rating')} )
          .entry-text
            %header.entry-header
              .author= teacher.full_name
              .tags= user_skill_list(teacher)
            - if teacher.promo_text.present?
              %p= teacher.promo_text.try(:html_safe)
            - else
              .bottom-btn.pull-left
                = link_to t('user.edit_user_data'), edit_user_path(current_user), class: 'btn btn-info'
              .clearfix
