
%h1
  Edit Lesson

-# TODO
-# i16e the form

%div
  = semantic_form_for @lesson do |f|
    = f.semantic_errors
    - if params[:course_id]
      = f.input :course_id, as: :hidden, input_html: { value: params[:course_id] }
    = f.input :name
    = f.input :city, as: :select, collection: Lesson::SUPPORTED_CITIES.map{ |city| t("lesson_form.#{city}") }
    = f.input :level, as: :select, collection: options_for_select(%w(beginner low medium high expert).map{ |option| t("lesson_form.#{option}") }, @lesson.level.capitalize)
    = f.input :capacity, as: :number
    = f.input :place_price, as: :number
    = f.input :start_datetime, as: :datetime_select, label: "Start date and time"
    Duration
    = f.input :hours, as: :select, collection: options_for_select((0..12).map{|i| [pluralize(i, 'hour'), i] }, @lesson.duration / 60), label: false
    = f.input :minutes, as: :select, collection: options_for_select([0, 15, 30, 45].map{ |i| [ pluralize(i, 'minute'), i ] }, @lesson.duration % 60), label: false
    = f.input :interest, as: :select, collection: Interest.all.map{ |i| [i.name.capitalize, i.id] }
    = f.input :sub_interest, as: :select, collection: @lesson.interest.sub_interests{ |i| [i.name.capitalize, i.id] }
    = f.input :description, as: :text
    = f.input :tease_description, as: :text
    = f.submit

- Interest.includes(:sub_interests).each do |interest|
  .invisible{id: "interest_options_#{interest.id}"}
    = options_for_select(interest.sub_interests.map{ |i| [i.name.capitalize, i.id] })