= content_for :title, t("meta.lessons.title", pre_word: @pre_word )
= content_for :meta_description, t("meta.lessons.description", pre_word: @pre_word)
= content_for :meta_keywords, t("meta.lessons.keywords", pre_word: @pre_word)
%h1.hide= t "meta.lessons.header", pre_word: @pre_word
%section
  .container
    .heading
      .pull-right
        %form.form-search.form-inline
          %input{:placeholder => "Поиск по урокам...", :type => "text"}/
          %button.btn.btn-warning{:type => "submit"}
            %i.icon-search.icon-white
      %h1 Обзор по классам
    .main.row
      = render 'navigation', interests: @interests, lesson_counts: @lesson_counts, selected_interest: @selected_interest, selected_sub_interest: @selected_sub_interest
      .span8.offset1.main-column
        = render @lessons
.pagination-wrapper
  .container
    .row
      .span8.offset4
        .pagination.clearfix
          %ul
            %li
              %a{:href => "#"} Предыдущая
            %li
              %a{:href => "#"} 1
            %li.active
              %a{:href => "#"} 2
            %li &hellip;
            %li
              %a{:href => "#"} 10
            %li
              %a{:href => "#"} Следущая