= content_for :title, t("meta.lessons.title", pre_word: @pre_word )
= content_for :meta_description, t("meta.lessons.description", pre_word: @pre_word)
= content_for :meta_keywords, t("meta.lessons.keywords", pre_word: @pre_word)
%h1.hide= t "meta.lessons.header", pre_word: @pre_word
%section
  .container
    .heading
      .pull-right
        = form_tag search_lessons_path, method: :get, class: 'form-search form-inline' do
          = text_field_tag :query, nil, placeholder: t('hints.search_lessons') + '...'
          = button_tag type: 'submit', class: 'btn btn-warning' do
            %i.icon-search.icon-white
      %h1= t('hints.classes_overview')
    .main.row
      = render 'navigation', interests: @interests, lesson_counts: @lesson_counts, selected_interest: @selected_interest, selected_sub_interest: @selected_sub_interest
      .span8.offset1.main-column
        - if @lessons.present?
          = render @lessons
        - else
          .no-lessons
            .hint= t 'lesson.no_lessons_here'
            .be-the-first-btn= link_to t('lesson.be_the_first'), new_lesson_path, class:'btn btn-success'
.pagination-wrapper
  .container
    .row
      .span8.offset4
        .pagination.clearfix
          = paginate @lessons