#lesson_wrapper
  #navigation_wrapper
    #navigation
      .opened
        = params[:interest_id].blank? ? @interests.first.id : params[:interest_id]
      .left
        - @interests.each do |interest|
          .switch{data: { id: interest.id }}
            .image
      .mid
        %ul.root
          - @interests.each do |interest|
            %li{data: { id: interest.id } }
              = link_to t("interests.#{interest.name}"), interest_lessons_path(interest.name, interest)
              %ul.sub
                - interest.sub_interests.each do |sub_interest|
                  %li
                    \-
                    = link_to t("sub_interests.#{sub_interest.name}"), sub_interest_lessons_path(interest.name, interest, sub_interest.name, sub_interest)
    .delimiter
  #lessons
    = render @lessons
  #load_more_lessons
    = form_tag index_by_page_lessons_path do
      = hidden_field_tag :page, 2
      = hidden_field_tag :interest_id, params[:interest_id]
      = hidden_field_tag :sub_interest_id, params[:sub_interest_id]
      = submit_tag "Load More"