%h1
  New Lesson
  - if @course
    = "for #{@course.name}"
= render partial: 'lesson_form', locals: { interests: @interests, course: @course, lesson: @lesson }

- @interests.each do |interest|
  .invisible{id: "interest_options_#{interest.id}"}
    = options_for_select(interest.sub_interests.map{ |i| [i.name.capitalize, i.id] })
