- form_to ||= lessons_path

%script#lesson_file{ type: 'text/x-tmpl'}
  %div

%section
  .container
    .heading
      %h1= t 'lesson_form.create_lesson'
    .border-box.create-lesson
      = form_tag form_to do
        .lesson-form
          .row-fluid
            .span8
              .lesson-title
                %input#lesson-price.text-input.input-full-width{:placeholder => t('lesson_form.lesson_title_placeholder'), :type => "text"}/
                .title-hint= t 'lesson_form.lesson_title'
              .author
                %h2
                  = t 'lesson_form.teacher'
                  %b= current_user.full_name
              .meta-settings.clearfix
                .pull-left
                  .category-select.pull-left{ data: { interests: interests_as_json(@interests) } }
                    %label{:for => "category-select"}
                      %sup.warn *
                      = t 'lesson_form.category'
                    = select_tag :interest_id, interest_options(@interests), id: 'category-select', class: 'select-inline'
                  ,
                  %label{:for => "section-select"}
                    %sup.warn *
                    = t 'lesson_form.sub_category'
                  = select_tag :sub_interest_id, sub_interest_options(@interests.first), id: 'section-select', class: 'select-inline'
                  ,
                  %label= t 'lesson_form.main_tags'
                .tags-appender-box
                  = hidden_field_tag :tags, '', id: 'tags-holder'
                  .tags-appender
                    = text_field_tag nil
                    = link_to t('lesson_form.add_more'), '#'
              .description-box
                %h3 Описание урока
                .description-edit
                  %p
                    %span.symbol &lt;b&gt;
                    %b But I must explain to you how all this mistaken idea
                    %span.symbol &lt;/b&gt;
                    of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                  %p
                    No one rejects, dislikes, or avoids
                    %span.symbol &lt;a&gt;
                    %a{:href => "#"} pleasure itself, because it is pleasure
                    = succeed "," do
                      %span.symbol &lt;/a&gt;
                    but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some
                  .gallery-edit
                    .row-fluid
                      .span8
                        %span &lt;img&gt;
                        %img{:alt => "", :src => "/assets/img-gallery-1.jpg"}/
                        %span &lt;/img&gt;
                      .span4
                        %h4 Создать галерею
                        %ol
                          %li
                            %a{:href => "#"} https://docs.google.com/docum/d/13KwTBxc2Bg-AiSGyARR72SoomNEvEuLOvoW6UI_g/
                            %a.remove-2{:href => "#"}
                        %a.btn.btn-edit{:href => "#"}
                          %span +
                          \&lt;img&gt;
                  %p
                    No one rejects, dislikes, or avoids
                    %span.symbol &lt;u&gt;
                    %u pleasure itself, because it is pleasure,
                    %span.symbol &lt;/u&gt;
                    but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                .description-footer.clearfix
                  .pull-left
                    %a.btn.btn-edit{:href => "#"}
                      %b b
                    %a.btn.btn-edit{:href => "#"}
                      %i i
                    %a.btn.btn-edit{:href => "#"}
                      %u u
                  .pull-right
                    %a.btn.btn-edit{:href => "#"}
                      %span +
                      \&lt;a&gt;
                    %a.btn.btn-edit{:href => "#"}
                      %span +
                      \&lt;img&gt;
                    %a.btn.btn-edit{:href => "#"}
                      %span +
                      \&lt;video&gt;
            .span3.offset1
              .lesson-general-form
                .form-row
                  = label_tag :place_price, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.place_price'
                  = text_field_tag :place_price, nil, class: 'text-input input-full-width', placeholder: '200'
                .form-row
                  = label_tag :capacity, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.capacity'
                  = text_field_tag :capacity, nil, class: 'text-input input-full-width', placeholder: '10'

                .form-row
                  = label_tag :address_line, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.address_line'
                  = text_field_tag :address_line, nil, class: 'text-input input-full-width', placeholder: t('lesson_form.address_line_placeholder')

                .form-row
                  = label_tag :day, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.start_date_time'
                  .triple-input<
                    = text_field_tag :day, nil, class: 'text-input input-full-width input-1 text-center', id: 'lesson-date', placeholder: t('lesson_form.day')
                    = text_field_tag :month, nil, class: 'text-input input-full-width input-2 text-center', placeholder: t('lesson_form.month')
                    = text_field_tag :year, nil, class: 'text-input input-full-width input-3 text-center', placeholder: t('lesson_form.year')
                .form-row
                  = label_tag :start_time, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.start_time'
                  = text_field_tag :start_time, nil, class: 'text-input input-full-width text-center', id: 'lesson-start', placeholder: '00:00', type: 'time'
                .form-row
                  = label_tag :duration, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.duration'
                  = text_field_tag :duration, nil, class: 'text-input input-full-width text-center', id: 'lesson-duration', placeholder: '00:00', type: 'time'
              .add-file
                = label_tag :upload_file, t('lesson_form.upload_file'), class: 'form-label'
                %ol#attached_files

                .clearfix#lesson_file_attachment{ data: { url: file_attachments_path } }
                  .progress.progress-striped.active.hide
                    .bar
                  .custom-file
                    = file_field_tag 'file_attachment[file]'
                    = link_to t('lesson_form.upload_file'), '#', class: 'btn btn-info btn-block btn-form'
                  -#%a.btn.btn-warning.pull-right
                  -#  %span.icon-plus.icon-white +
                  -#.input-holder
                  -#  = text_field_tag :new_lesson_attachment, nil, class: 'text-input input-full-width'
        .button-bar.text-center
          = link_to t('lesson_form.save_lesson'), '#', class: 'btn btn-warning submittable'
          = link_to t('lesson_form.cancel'), '#', class: 'btn btn-inverse'#push



-#%h1.italic_header
-#  - if @course
-#    = t "headers.new_lesson_for", course: @course.name
-#  - else
-#    = t "headers.new_lesson"
-#= render partial: 'lesson_form', locals: { interests: @interests, course: @course, lesson: @lesson }
-#= render partial: 'invisible_interests', locals: { interests: @interests }
