- @lesson ||= Lesson.new
%section
  .container
    .heading
      %h1= t 'lesson_form.create_lesson'
      = @lesson.errors.inspect
    .border-box.create-lesson
      - form_to ||= lessons_path
      = form_tag form_to do
        %script#lesson_file{ type: 'text/x-tmpl'}
          %div
        .lesson-form
          .row-fluid
            .span8
              .lesson-title
                = text_field_tag :title, params[:title], class: 'text-input input-full-width', id: 'lesson-price', placeholder: t('lesson_form.lesson_title_placeholder')
                .title-hint= t 'lesson_form.lesson_title'
              .author
                %h2
                  = t 'lesson_form.teacher'
                  %b= current_user.full_name
              .meta-settings.clearfix
                .pull-left
                  .category-select.pull-left{ data: { interests: interests_as_json(@interests) } }
                    %label{:for => "category-select"}
                      %sup.warn *
                      = t 'lesson_form.category'
                    = select_tag :interest_id, interest_options(@interests, params[:interest_id]), id: 'category-select', class: 'select-inline'
                  ,
                  %label{:for => "section-select"}
                    %sup.warn *
                    = t 'lesson_form.sub_category'
                  - selected_interest = params[:interest_id].present? ? @interests.find(params[:interest_id]) : @interests.first
                  = select_tag :sub_interest_id, sub_interest_options(selected_interest, params[:sub_interest_id]), id: 'section-select', class: 'select-inline'
                  ,
                  %label= t 'lesson_form.main_tags'
                .tags-appender-box
                  = hidden_field_tag :tags, params[:tags], id: 'tags-holder'
                  - if params[:tags].present?
                    - params[:tags].split('|').reject(&:blank?).each do |tag|
                      .tag-item
                        %span= tag
                        %a.remove
                  .tags-appender
                    = text_field_tag nil
                    = link_to t('lesson_form.add_more'), '#'
              .description-box
                %h3= t 'lesson_form.description'
                = hidden_field_tag :description_top, params[:description_top], id: 'description-top-holder'
                = hidden_field_tag :description_bot, params[:description_top], id: 'description-bot-holder'
                .description-edit
                  .description-part1.editable-div.last-edited.input-tooltip{ class: (params[:description_top].blank? ? 'has-placeholder' : ''), data: { 'original-title' => t('lesson_form.tooltips.description') } }
                    - if params[:description_top].present?
                      = params[:description_top].html_safe
                    - else
                      %i= t('lesson_form.description_placeholder')
                  .gallery-edit
                    - if session[:image_attachments].present?
                      - gallery_images = session[:image_attachments].map{ |image_attachment| image_attachment[:image_attachment_id] }.join('|')
                    - else
                      - gallery_images = ''
                    = hidden_field_tag :gallery_images, gallery_images, id: 'gallery-images-holder'
                    .row-fluid
                      .span8
                        %span &lt;img&gt;
                        .user-gallery.carousel.slide#gallery-carousel
                          .carousel-inner
                            - if session[:image_attachments].blank?
                              .item.blank.active= image_tag 'http://placehold.it/470x300'
                            - else
                              - session[:image_attachments].each_with_index do |image_attachment, index|
                                .item{ class: (index == 0 ? 'active' : ''), data: { 'attachment-id' => image_attachment[:image_attachment_id] } }
                                  = image_tag image_attachment[:image_url]
                          %a.carousel-control.left{"data-slide" => "prev", :href => "#gallery-carousel"} &lsaquo;
                          %a.carousel-control.right{"data-slide" => "next", :href => "#gallery-carousel"} &rsaquo;
                        %span &lt;/img&gt;
                      .span4
                        %h4= t 'lesson_form.create_gallery'
                        %ol#gallery-images
                          - session[:image_attachments].try(:each) do |image_attachment|
                            %li
                              = link_to image_attachment[:image_attachment_path], image_attachment[:image_attachment_path]
                              = link_to '', '#', class: 'remove-2', data: { 'attachment-id' => image_attachment[:image_attachment_id] }
                        #gallery-image-attachment{ data: { url: create_gallery_attachment_image_attachments_path } }
                          .progress.progress-striped.active.hide
                            .bar

                          .image-file
                            = file_field_tag 'image_attachment[image]'
                            = link_to '#', class: 'btn btn-edit' do
                              %span +
                              \&lt;img&gt;

                  .description-part2.editable-div.input-tooltip{ class:(params[:description_bot].blank? ? 'has-placeholder' : ''), data: { 'original-title' => t('lesson_form.tooltips.description') }}
                    - if params[:description_bot].present?
                      = params[:description_bot].html_safe
                    - else
                      %i= t('lesson_form.description_placeholder')
                -#.description-footer.clearfix
                -#  .pull-left
                -#    %a.btn.btn-edit.tag-edit{:href => "#", data: { tag_type: 'b' }}
                -#      %b b
                -#    %a.btn.btn-edit.tag-edit{:href => "#", data: { tag_type: 'i' }}
                -#      %i i
                -#    %a.btn.btn-edit.tag-edit{:href => "#", data: { tag_type: 'u' }}
                -#      %u u
                -#  .pull-right
                -#    %a.btn.btn-edit{:href => "#", data: { tag_type: 'a' }}
                -#      %span +
                -#      \&lt;a&gt;
                -#    %a.btn.btn-edit{:href => "#"}
                -#      %span +
                -#      \&lt;img&gt;
                -#    %a.btn.btn-edit{:href => "#"}
                -#      %span +
                -#      \&lt;video&gt;
            .span3.offset1
              .lesson-general-form
                .form-row
                  = label_tag :place_price, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.place_price'
                  = text_field_tag :place_price, params[:place_price], class: 'text-input input-full-width input-tooltip', placeholder: '200', data: { placement: 'left', 'original-title' => t('lesson_form.tooltips.place_price') }
                .form-row
                  = label_tag :capacity, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.capacity'
                  = text_field_tag :capacity, params[:capacity], class: 'text-input input-full-width input-tooltip', placeholder: '10', data: { placement: 'left', 'original-title' => t('lesson_form.tooltips.capacity')  }

                .form-row
                  = label_tag :address_line, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.address_line'
                  = text_field_tag :address_line, params[:address_line], class: 'text-input input-full-width input-tooltip', placeholder: t('lesson_form.address_line_placeholder'), data: { placement: 'left', 'original-title' => t('lesson_form.tooltips.address_line')  }

                .form-row.datetimepicker.input-append
                  = label_tag :start_time, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.start_time'
                  %span.add-on
                    %i{ data: { 'time-icon' => 'icon-time', 'date-icon' => 'icon-calendar' } }
                  = text_field_tag :start_time, params[:start_time], class: 'text-input input-full-width text-center input-tooltip', id: 'lesson-start', data: { format: 'dd/MM/yyyy hh:mm:ss', placement: 'top', 'original-title' => t('lesson_form.tooltips.start_datetime') }

                .form-row
                  = label_tag :hours_duration, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.duration'
                  = select_tag :hours_duration, options_for_select(hours_options, params[:hours_duration]), class: 'text-input input-full-width text-center', id: 'lesson-duration'
                  = select_tag :minutes_duration, options_for_select(minutes_options, params[:minutes_duration]), class: 'text-input input-full-width text-center', id: 'lesson-duration'

              .add-file
                - if session[:file_attachments].present?
                  - file_attachments = session[:file_attachments].map{ |file_attachment| file_attachment[:file_attachment_id] }.join('|')
                - else
                  - file_attachments = ''
                = hidden_field_tag :attached_files, file_attachments, id: 'attached-files-holder'
                = label_tag :upload_file, class: 'form-label' do
                  = t('lesson_form.attach_files')
                  (#{ FileUploader.new.extension_white_list.join(', ')})
                %ol#attached_files
                  - session[:file_attachments].try :each do |file_attachment|
                    %li
                      = link_to file_attachment[:file_attachment_path], file_attachment[:file_attachment_path]
                      = link_to '', '#', class: 'remove-file', data: { 'file-attachment-id' => file_attachment[:file_attachment_id]}

                .clearfix#lesson_file_attachment{ data: { url: file_attachments_path } }
                  .progress.progress-striped.active.hide
                    .bar
                  .custom-file
                    = file_field_tag 'file_attachment[file]'
                    = link_to t('lesson_form.upload_file'), '#', class: 'btn btn-info btn-block btn-form'
        .button-bar.text-center
          = link_to t('lesson_form.save_lesson'), '#', class: 'btn btn-warning', id: 'lesson-submit'
          = link_to t('lesson_form.cancel'), '#', class: 'btn btn-inverse'
