%section
  .container
    .heading
      %h1= t 'lesson_form.create_lesson'
    .border-box.create-lesson
      - form_to ||= lessons_path
      = form_tag form_to do
        %script#lesson_file{ type: 'text/x-tmpl'}
          %div
        .lesson-form
          .row-fluid
            .span8
              .lesson-title
                %input#lesson-price.text-input.input-full-width{:placeholder => t('lesson_form.lesson_title_placeholder'), :type => "text"}/
                .title-hint= t 'lesson_form.lesson_title'
              .author
                %h2
                  = t 'lesson_form.teacher'
                  %b= current_user.full_name
              .meta-settings.clearfix
                .pull-left
                  .category-select.pull-left{ data: { interests: interests_as_json(@interests) } }
                    %label{:for => "category-select"}
                      %sup.warn *
                      = t 'lesson_form.category'
                    = select_tag :interest_id, interest_options(@interests), id: 'category-select', class: 'select-inline'
                  ,
                  %label{:for => "section-select"}
                    %sup.warn *
                    = t 'lesson_form.sub_category'
                  = select_tag :sub_interest_id, sub_interest_options(@interests.first), id: 'section-select', class: 'select-inline'
                  ,
                  %label= t 'lesson_form.main_tags'
                .tags-appender-box
                  = hidden_field_tag :tags, '', id: 'tags-holder'
                  .tags-appender
                    = text_field_tag nil
                    = link_to t('lesson_form.add_more'), '#'
              .description-box
                %h3= t 'lesson_form.description'
                = hidden_field_tag :description_top
                = hidden_field_tag :description_bottom
                .description-edit
                  .description-part1.editable-div.has-placeholder.last-edited
                    %i= t('lesson_form.description_placeholder')
                  .gallery-edit
                    .row-fluid
                      .span8
                        %span &lt;img&gt;
                        .user-gallery.carousel.slide#gallery-carousel
                          .carousel-inner
                            .item.blank.active= image_tag 'http://placehold.it/470x300'
                          %a.carousel-control.left{"data-slide" => "prev", :href => "#gallery-carousel"} &lsaquo;
                          %a.carousel-control.right{"data-slide" => "next", :href => "#gallery-carousel"} &rsaquo;
                        %span &lt;/img&gt;
                      .span4
                        %h4 Создать галерею
                        %ol#gallery-images
                        #gallery-image-attachment{ data: { url: create_gallery_attachment_image_attachments_path } }
                          .progress.progress-striped.active.hide
                            .bar

                          .image-file
                            = file_field_tag 'image_attachment[image]'
                            = link_to '#', class: 'btn btn-edit' do
                              %span +
                              \&lt;img&gt;

                  .description-part2.editable-div.has-placeholder
                    %i= t('lesson_form.description_placeholder')
                -#.description-footer.clearfix
                -#  .pull-left
                -#    %a.btn.btn-edit.tag-edit{:href => "#", data: { tag_type: 'b' }}
                -#      %b b
                -#    %a.btn.btn-edit.tag-edit{:href => "#", data: { tag_type: 'i' }}
                -#      %i i
                -#    %a.btn.btn-edit.tag-edit{:href => "#", data: { tag_type: 'u' }}
                -#      %u u
                -#  .pull-right
                -#    %a.btn.btn-edit{:href => "#", data: { tag_type: 'a' }}
                -#      %span +
                -#      \&lt;a&gt;
                -#    %a.btn.btn-edit{:href => "#"}
                -#      %span +
                -#      \&lt;img&gt;
                -#    %a.btn.btn-edit{:href => "#"}
                -#      %span +
                -#      \&lt;video&gt;
            .span3.offset1
              .lesson-general-form
                .form-row
                  = label_tag :place_price, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.place_price'
                  = text_field_tag :place_price, nil, class: 'text-input input-full-width', placeholder: '200'
                .form-row
                  = label_tag :capacity, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.capacity'
                  = text_field_tag :capacity, nil, class: 'text-input input-full-width', placeholder: '10'

                .form-row
                  = label_tag :address_line, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.address_line'
                  = text_field_tag :address_line, nil, class: 'text-input input-full-width', placeholder: t('lesson_form.address_line_placeholder')

                .form-row
                  = label_tag :day, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.start_date_time'
                  .triple-input<
                    = text_field_tag :day, nil, class: 'text-input input-full-width input-1 text-center', id: 'lesson-date', placeholder: t('lesson_form.day')
                    = text_field_tag :month, nil, class: 'text-input input-full-width input-2 text-center', placeholder: t('lesson_form.month')
                    = text_field_tag :year, nil, class: 'text-input input-full-width input-3 text-center', placeholder: t('lesson_form.year')
                .form-row
                  = label_tag :start_time, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.start_time'
                  = text_field_tag :start_time, nil, class: 'text-input input-full-width text-center', id: 'lesson-start', placeholder: '00:00', type: 'time'
                .form-row
                  = label_tag :duration, class: 'form-label' do
                    %sup.warn *
                    = t 'lesson_form.duration'
                  = text_field_tag :duration, nil, class: 'text-input input-full-width text-center', id: 'lesson-duration', placeholder: '00:00', type: 'time'
              .add-file
                = label_tag :upload_file, t('lesson_form.attach_files'), class: 'form-label'
                %ol#attached_files

                .clearfix#lesson_file_attachment{ data: { url: file_attachments_path } }
                  .progress.progress-striped.active.hide
                    .bar
                  .custom-file
                    = file_field_tag 'file_attachment[file]'
                    = link_to t('lesson_form.upload_file'), '#', class: 'btn btn-info btn-block btn-form'
        .button-bar.text-center
          = link_to t('lesson_form.save_lesson'), '#', class: 'btn btn-warning submittable'
          = link_to t('lesson_form.cancel'), '#', class: 'btn btn-inverse'
