%h1
  New Course Form
%div
  = semantic_form_for Course.new, url: lessons_path do |f|
    = f.semantic_errors
    = f.input :name
    = f.input :city, as: :select, collection: Lesson::SUPPORTED_CITIES
    = f.input :times_per_week, as: :number
    = f.input :description, as: :text
    = f.input :tease_descriptions, as: :text
    = f.submit