%h1.italic_header
  - if @course
    = t "headers.new_lesson_for", course: @course.name
  - else
    = t "headers.new_lesson"
= render partial: 'lesson_form', locals: { interests: @interests, course: @course, lesson: @lesson }

- @interests.each do |interest|
  .invisible{id: "interest_options_#{interest.id}"}
    = options_for_select(interest.sub_interests.map{ |i| [t("sub_interests.#{i.name}").capitalize, i.id] })
