%h1 Lesson: #{@lesson.name}

%div
  -#TODO insert ratings
  Author:
  = link_to @lesson.teachers.first.full_name, user_path(@lesson.teachers.first.id)
  , rating:
%div
  Contact the author:
  - @lesson.teachers.first.user_registrations.map do |p|
    = link_to p.provider.capitalize, p.provider_url, target: "_blank"
- if @lesson.course_id
  %div
    Course name:
    = link_to "#{@lesson.course.name}", course_path(@lesson.course.id)
%div
  City:
  = @lesson.city
%div
  Level:
  = @lesson.level
%div
  Capacity:
  = @lesson.capacity
%div
  Places_taken:
  = @lesson.places_taken
%div
  Place_price:
  = @lesson.place_price
%div
  Start_datetime:
  = @lesson.start_datetime
%div
  Interest:
  = @lesson.interest.name
%div
  Sub interest:
  = @lesson.sub_interest.name
%div
  Description:
  = @lesson.description
- if current_user.shares.where(lesson_id: @lesson.id).first
  %div
    = link_to "Edit lesson", edit_lesson_path(@lesson.id)