%h1 Lesson: #{@lesson.name}

%div
  -#TODO insert ratings
  Teacher:
  = link_to @lesson.teachers.first.full_name, user_path(@lesson.teachers.first)
  , rating:
- if @lesson.course_id
  %div
    Course name:
    = link_to @lesson.course.name, course_path(@lesson.course)
%div
  City:
  = @lesson.city
%div
  Level:
  = @lesson.level.capitalize
%div
  Capacity:
  = @lesson.capacity
%div
  Places_taken:
  = @lesson.places_taken
%div
  Place_price:
  = @lesson.place_price
%div
  Start_datetime:
  = @lesson.start_datetime
%div
  Interest:
  = @lesson.interest.name
%div
  Sub interest:
  = @lesson.sub_interest.name
%div
  Description:
  = @lesson.description
%div
  - if @lesson.teachers.include?(current_user)
    = link_to "Edit lesson", edit_lesson_path(@lesson)
  - elsif @lesson.user_already_applied?(current_user)
    Already applied
  - elsif @lesson.available?
    = form_tag buy_passes_path do
      = hidden_field_tag :lesson_id, @lesson.id
      = submit_tag "Buy place"
  - elsif @lesson.already_in_watchlist?(current_user)
    = form_tag add_to_watchlist_passes_path do
      = submit_tag "Added to watchlist", disabled: true
  - else
    #add_to_watchlist
      = form_tag add_to_watchlist_passes_path do
        = hidden_field_tag :lesson_id, @lesson.id
        = submit_tag "Add to watchlist"