= content_for :title, t("meta.course_lesson.title", pre_word: @lesson.name )
= content_for :meta_description, t("meta.course_lesson.description", pre_word: @lesson.name)
= content_for :meta_keywords, t("meta.course_lesson.keywords", pre_word: @lesson.name)
- teacher = @lesson.teachers.first
%h1.hide= t "meta.course_lesson.header", pre_word: @lesson.name


%section.border-rounded-wrapper
  .container
    .row
      .span8
        .sub-title Уникальный урок.
        %article.main-article
          %header
            %h1 Как я провел лето или зачем нужны трусы на пляже?
            %h2 Иванов Иван Иванович
            .tags
              %a{:href => "#"}> Сказки
              ,
              = succeed "," do
                %a{:href => "#"} Романы
              = succeed "." do
                %a{:href => "#"} Искуство писателя
          %p
            %b Sed ut perspiciatis unde omnis
            iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          %p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
          #myCarousel.hidden-phone.carousel.slide{:style => "width: 470px"}
            / Carousel items
            .carousel-inner
              .active.item
                %img{:alt => "", :src => "/assets/img-gallery-1.jpg"}/
              .item
                %img{:alt => "", :src => "/assets/img-gallery-2.jpg"}/
              .item
                %img{:alt => "", :src => "/assets/img-gallery-3.jpg"}/
              .item
                %img{:alt => "", :src => "/assets/img-gallery-4.jpg"}/
            / Carousel nav
            %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
            %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
          %p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
          %p
            No one rejects, dislikes, or avoids
            = succeed "," do
              %a{:href => "#"} pleasure itself, because it is pleasure
            but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
      .span3.offset1
        %aside
          .sidebox
            .price-box
              .price
                Цена:
                %b 275,00
                грн.
              %a{:href => "#"} Купить билет
            .general-info
              %address
                %i.icon-map-marker
                Одесса.,  ул. Екатериненская 115
              .time
                %span
                  %i.icon-time
                  27 Марта
                %span Начало в 15:00
              .duration
                %i.icon-timing
                Продолжительность  3:00ч.
            %ul.places-data
              %li.prod-all
                Всего:
                %b 20
              %li.prod-sold
                Купили:
                %b 9
              %li.prod-left
                Осталось:
                %b 11
            %ul.person-list
              %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                %a{:href => "#"}
                %div
                  .popover-holder.clearfix
                    %a.popover-user-photo{:href => "#"}
                      %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                    .popover-user-text
                      %b
                        %a{:href => "#"} Артур Павлюк 1
                      %p UI Дизайн, Веб разработки, Фотография
              %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                %a{:href => "#"}
                %div
                  .popover-holder.clearfix
                    %a.popover-user-photo{:href => "#"}
                      %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                    .popover-user-text
                      %b
                        %a{:href => "#"} Артур Павлюк 2
                      %p UI Дизайн, Веб разработки, Фотография
              %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                %a{:href => "#"}
                %div
                  .popover-holder.clearfix
                    %a.popover-user-photo{:href => "#"}
                      %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                    .popover-user-text.3
                      %b
                        %a{:href => "#"} Артур Павлюк
                      %p UI Дизайн, Веб разработки, Фотография
              %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                %a{:href => "#"}
                %div
                  .popover-holder.clearfix
                    %a.popover-user-photo{:href => "#"}
                      %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                    .popover-user-text
                      %b
                        %a{:href => "#"} Артур Павлюк 4
                      %p UI Дизайн, Веб разработки, Фотография
              %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                %a{:href => "#"}
                %div
                  .popover-holder.clearfix
                    %a.popover-user-photo{:href => "#"}
                      %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                    .popover-user-text
                      %b
                        %a{:href => "#"} Артур Павлюк 5
                      %p UI Дизайн, Веб разработки, Фотография
              %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                %a{:href => "#"}
                %div
                  .popover-holder.clearfix
                    %a.popover-user-photo{:href => "#"}
                      %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                    .popover-user-text
                      %b
                        %a{:href => "#"} Артур Павлюк 6
                      %p UI Дизайн, Веб разработки, Фотография
              %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                %a{:href => "#"}
                %div
                  .popover-holder.clearfix
                    %a.popover-user-photo{:href => "#"}
                      %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                    .popover-user-text
                      %b
                        %a{:href => "#"} Артур Павлюк 7
                      %p UI Дизайн, Веб разработки, Фотография
              %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                %a{:href => "#"}
                %div
                  .popover-holder.clearfix
                    %a.popover-user-photo{:href => "#"}
                      %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                    .popover-user-text
                      %b
                        %a{:href => "#"} Артур Павлюк 8
                      %p UI Дизайн, Веб разработки, Фотография
              %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                %a{:href => "#"}
                %div
                  .popover-holder.clearfix
                    %a.popover-user-photo{:href => "#"}
                      %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                    .popover-user-text
                      %b
                        %a{:href => "#"} Артур Павлюк 9
                      %p UI Дизайн, Веб разработки, Фотография
              %li
                %a{:href => "#"}
              %li
                %a{:href => "#"}
              %li
                %a{:href => "#"}
              %li
                %a{:href => "#"}
              %li
                %a{:href => "#"}
              %li
                %a{:href => "#"}
              %li
                %a{:href => "#"}
              %li
                %a{:href => "#"}
              %li
                %a{:href => "#"}
              %li
                %a{:href => "#"}
              %li
                %a{:href => "#"}
          .flat-side-box
            %p Загруженные файлы:
            %ul
              %li
                %a{:href => "#"}
                  %i.icon-pdf
                  %span Этот курс в pdf.
    .author-info
      .row
        .span8
          .course-box
            .entry-content
              .photo.hidden-phone
                %a{:href => "#"}
                  %img{:alt => "", :src => "/assets/img-none.jpg"}/
                .rating
                  %b> 87
                  ( рейтинг )
              .entry-text
                %header.entry-header
                  .author Иванов Иван Иванович
                  .tags
                    %a{:href => "#"}> Сказки
                    ,
                    = succeed "," do
                      %a{:href => "#"} Романы
                    = succeed "." do
                      %a{:href => "#"} Искуство писателя
                %p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                %p No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure
    .comments
      .row
        .span8
          .comments-column
            %h3
              %i.icon-comments.hidden-phone
              Оставить свой вопрос преподавателю:
            .comments-box
              .comment-row.clearfix
                .user-photo
                  %a{:href => "#"}
                    %img{:alt => "", :height => "29", :src => "/assets/user-icon.gif", :width => "29"}/
                .comment-content
                  .comment-title
                    %h4
                      Иванов Иван Иванович
                      %i (препадователь)
                    %span 19:09  27.03.2013
                  %p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
              .comment-row.comment-row-user.clearfix
                .user-photo
                  %a{:href => "#"}
                    %img{:alt => "", :height => "29", :src => "/assets/user-icon.gif", :width => "29"}/
                .comment-content
                  .comment-title
                    %h4 Иванов Иван Иванович
                    %span 19:09  27.03.2013
                  %p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
            .comments-form
              %form
                .input-append.clearfix
                  %textarea.span5{:placeholder => "Оставить сообщение...", :size => "16", :type => "text"}
                  %button.btn{:type => "button"} Enter
:javascript
  (function($) {



  })(jQuery);



-#
-#- if @lesson.course
-#  .course_lesson_panel
-#    .left
-#      %span.label
-#        = t "lesson.is_part_of_course"
-#      %span.course_name
-#        = link_to @lesson.course.name, course_path(@lesson.course), class: 'blue_link'
-#    .right
-#      %span= link_to t("lesson.go_to_course"), course_path(@lesson.course), class: 'blue_link'
-#    .delimiter
-#.single_lesson_wrapper
-#  .lesson
-#    .hint
-#      = link_to t("interests.#{@lesson.interest.name}"), interest_lessons_path(@lesson.interest)
-#      \/
-#      = link_to t("sub_interests.#{@lesson.sub_interest.name}"), sub_interest_lessons_path(@lesson.interest, @lesson.sub_interest)
-#    .title= @lesson.name
-#    .delim
-#    .body
-#      .hint.left_hint= t "course.hint.description"
-#      .delimiter
-#      .left
-#        .description
-#          = @lesson.description.html_safe
-#        .delim
-#        .additional_lesson_info
-#          .additional_left
-#            .address_line= t("lesson.address", { city: t("lesson.cities.#{@lesson.city.downcase}"), address_line: @lesson.address_line })
-#            .start_datetime
-#              = @lesson.start_datetime.to_formatted_s(:time)
-#              %span.date
-#                = "(" + l(@lesson.start_datetime, format: "%d %B %Y") + ")"
-#            .duration
-#              = t "lesson_form.hours", count: @lesson.duration / 60
-#              = t "lesson_form.minutes", count: @lesson.duration % 60
-#          .additional_right
-#            - if @lesson.teachers.include?(current_user)
-#              .buy_pass
-#                %a{ href: lesson_path(@lesson) }
-#                  %span
-#                    %b
-#                      = @lesson.place_price
-#                    = t("currency")
-#            - elsif @lesson.user_already_applied?(current_user)
-#              .buy_pass.disabled
-#                %a.disabled
-#                  %span
-#                    = t('lesson.already_applied')
-#            - elsif !@lesson.available?
-#              .buy_pass.disabled
-#                %a.disabled
-#                  %span
-#                    = t('lesson.no_place')
-#            - elsif @lesson.passed?
-#              .buy_pass.disabled
-#                %a.disabled
-#                  %span
-#                    = t('lesson.already_passed')
-#            - else
-#              .buy_pass
-#                %a{ href: get_buy_passes_path(@lesson) }
-#                  %span
-#                    %b
-#                      = @lesson.place_price
-#                    = t("currency")
-#            .delimiter
-#            .places_available
-#              .counts= "#{@lesson.places_taken} / #{@lesson.capacity}"
-#              .students= t("lesson.students")
-#          .delimiter
-#        .delim
-#        .buttons
-#          - if @lesson.teachers.include?(current_user)
-#            .orange_button
-#              %a{ href: edit_lesson_path(@lesson) }
-#                %span
-#                  = t('lesson.edit_lesson')
-#          - elsif !@lesson.passed? && @lesson.available? && !@lesson.user_already_applied?(current_user)
-#            .green_button
-#              %a{ href: get_buy_passes_path(@lesson) }
-#                %span
-#                  = t('lesson.buy_pass')
-#          .delimiter
-#        .share_buttons
-#          .vk_share{ data: { lesson_name: @lesson.name, button_text: t("vk_share_button.button_text"), common_title: t("vk_share_button.post_title"), url: lesson_url(@lesson) } }
-#          .delimiter
-#        .delimiter
-#      .delimiter
-#      .teacher_info
-#        .teacher_left
-#          - if teacher.image_attachment.try(:image, :medium)
-#            .avatar
-#              %a{ href: user_path(teacher) }
-#                = image_tag teacher.image_attachment.try(:image, :thumb)
-#          - else
-#            .avatar.missing
-#              %a{ href: user_path(teacher) }
-#                = image_tag 'missing.png'
-#          .rating
-#            = teacher.ratings.sum(&:rating)
-#        .teacher_right
-#          .name= link_to teacher.full_name, user_path(teacher)
-#          .tease_description= @lesson.course.try(:tease_description).try(:html_safe) || @lesson.tease_description.html_safe
-#        .delimiter
-#
-#  .comments_wrapper
-#    .comments
-#      = render @lesson.comments, locals: { lesson: @lesson }
-#    .comment_form{ class: @lesson.comments.any? ? 'with_top_border' : '' }
-#      .ajax_loader.invisible
-#      = form_for @lesson.comments.new do |f|
-#        = f.hidden_field :lesson_id
-#        - if current_user.blank?
-#          = f.text_area :body, placeholder: t('comment.textarea_disabled'), readonly: true
-#        - else
-#          = f.text_area :body, placeholder: t('comment.textarea_placeholder')
-#          .submit_error.invisible= t "comment.body_is_blank"
-#          .submit.submittable
-#            %a
-#              %span= t 'comment.submit_message'
-#        .delimiter