= content_for :title, t("meta.course_lesson.title", pre_word: @lesson.name )
= content_for :meta_description, t("meta.course_lesson.description", pre_word: @lesson.name)
= content_for :meta_keywords, t("meta.course_lesson.keywords", pre_word: @lesson.name)
%h1.invisible= t "meta.course_lesson.header", pre_word: @lesson.name

- if @lesson.course
  .course_lesson_panel
    .left
      %span.label
        = t "lesson.is_part_of_course"
      %span.course_name
        = link_to @lesson.course.name, course_path(@lesson.course), class: 'blue_link'
    .right
      %span= link_to t("lesson.go_to_course"), course_path(@lesson.course), class: 'blue_link'
    .delimiter
.single_lesson_wrapper
  .lesson
    .title= @lesson.name
    .delim
    .body
      .hint.left_hint= t "course.hint.description"
      .hint.right_hint
        = t("lesson_form.start_date_time") + ":"
        %span.start_datetime= @lesson.start_datetime
      .delimiter
      .left= @lesson.description.html_safe
      .right
        = render '/lessons/lesson_management', lesson: @lesson
      .delimiter
    .body
      .hint.left_hint= t "course.hint.tease_description"
      .delimiter
      .left= @lesson.tease_description.html_safe
      .right
      .delimiter
      .bot
        .text_block
          = t('lesson.teacher') + ':'
          = link_to @lesson.teachers.first.full_name, user_path(@lesson.teachers.first), class: 'blue_link'
        .lesson_delimiter
        .text_block
          = t('lesson.rating') + ':'
          %b= @lesson.teachers.first.ratings.sum(&:rating)
        .lesson_delimiter
        .text_block
          = t('lesson.city') + ':'
          = t "lesson.cities.#{@lesson.city}"
        .lesson_delimiter
        .text_block
          = t('lesson.level') + ':'
          = t "lesson.lesson_level.#{@lesson.level}"
        .lesson_delimiter
        .text_block
          = t('lesson.capacity') + ':'
          = @lesson.capacity
        .lesson_delimiter
        .text_block
          = t('lesson.places_taken') + ':'
          %span.places_count
            = @lesson.places_taken
        .lesson_delimiter
        .text_block
          = t "interests.#{@lesson.interest.name}"
        .lesson_delimiter
        .text_block
          = t "sub_interests.#{@lesson.sub_interest.name}"
        .delimiter
  .comments_wrapper
    .comments
      = render @lesson.comments, locals: { lesson: @lesson }
    .comment_form{ class: @lesson.comments.any? ? 'with_top_border' : '' }
      .ajax_loader.invisible
      = form_for @lesson.comments.new do |f|
        = f.hidden_field :lesson_id
        - if current_user.blank?
          = f.text_area :body, placeholder: t('comment.textarea_disabled'), readonly: true
        - else
          = f.text_area :body, placeholder: t('comment.textarea_placeholder')
          .submit_error.invisible= t "comment.body_is_blank"
          .submit.submittable
            %a
              %span= t 'comment.submit_message'
        .delimiter