= content_for :title, t("meta.course_lesson.title", pre_word: @lesson.name )
= content_for :meta_description, t("meta.course_lesson.description", pre_word: @lesson.name)
= content_for :meta_keywords, t("meta.course_lesson.keywords", pre_word: @lesson.name)
%h1.hide= t "meta.course_lesson.header", pre_word: @lesson.name

%section.border-rounded-wrapper
  .container
    .row
      .span8
        .sub-title
          - if @lesson.course
            = t "lesson.is_part_of_course"
            = link_to @lesson.course.name, course_path(@lesson.course)
          - else
            = t('lesson.lesson')
        %article.main-article
          %header
            %h1= @lesson.name
            %h2= @lesson.teacher.full_name
            .tags
              = link_to t("interests.#{@lesson.interest.name}"), interest_lessons_path(@lesson.interest)
              = ','
              = link_to t("sub_interests.#{@lesson.sub_interest.name}"), sub_interest_lessons_path(@lesson.interest, @lesson.sub_interest)
            .pull-right.vk_share{ data: { lesson_name: @lesson.name, button_text: t("vk_share_button.button_text"), common_title: t("vk_share_button.post_title"), url: lesson_url(@lesson) } }
            .clearfix

          %p= @lesson.description.try(:html_safe)
          - if @lesson.image_urls(:gallery).present?
            #myCarousel.hidden-phone.carousel.slide{:style => "width: 470px"}
              / Carousel items
              .carousel-inner
                - @lesson.image_urls(:gallery).each_with_index do |image_url, index|
                  .item{ class: index == 0 ? 'active' : '' }
                    = image_tag image_url
              / Carousel nav
              - if @lesson.image_urls(:gallery).count > 1
                %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
                %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
      .span3.offset1
        %aside
          .sidebox
            .price-box
              .price
                = t('lesson.price')
                %b= @lesson.place_price
                = t('currency')
              - if lesson_buyable?(@lesson)
                = link_to t('lesson.buy_place'), get_buy_passes_path(@lesson)
              - else
                = link_to '', '#'
            .general-info
              %address
                %i.icon-map-marker
                = t("lesson.address", { city: t("lesson.cities.#{@lesson.city.downcase}"), address_line: @lesson.address_line })
              .time
                %span
                  %i.icon-time
                  = Russian::strftime(@lesson.start_datetime, '%d %B')
                %span= t('lesson.start_at', time: @lesson.start_datetime.strftime('%H:%M'))
              .duration
                %i.icon-timing
                = "#{t('lesson_form.duration')} #{@lesson.duration / 60}:#{@lesson.duration % 60}#{t('lesson.hours_short')}"
            %ul.places-data
              %li.prod-all
                = t('lesson.capacity')
                %b= @lesson.capacity
              %li.prod-sold
                = t('lesson.places_taken')
                %b= @lesson.places_taken
              %li.prod-left
                = t('lesson.places_left')
                %b= @lesson.free_places_count
            %ul.person-list
              - @lesson.students.each do |student|
                %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                  %a{:href => "#"}
                  %div
                    .popover-holder.clearfix
                      %a.popover-user-photo{:href => "#"}
                        = image_tag student.photo_url(:thumb), height: 50, width: 50
                      .popover-user-text
                        %b
                          = link_to student.full_name, user_path(student)
                        %p
                          = student.skills.map{ |skill| t("sub_interests.#{skill.sub_interest.name}") }.join(', ')

              - @lesson.free_places_count.times do
                %li
                  - if lesson_buyable?(@lesson)
                    = link_to '', get_buy_passes_path(@lesson)
                  - else
                    = link_to '', '#'
          - if @lesson.file_attachments.present?
            .flat-side-box
              %p= t('lesson.uploaded_files')
              %ul
                - @lesson.file_attachments.each do |file_attachment|
                  %li
                    = link_to file_attachment.file.url do
                      - if file_attachment.file.file.extension.downcase == 'pdf'
                        %i.icon-pdf
                      - else
                        %i.icon-file
                      %span= file_attachment.short_summary || file_attachment.file.url
    .author-info
      .row
        .span8
          .course-box
            .entry-content
              .photo.hidden-phone
                = link_to user_path(@lesson.teacher) do
                  = image_tag @lesson.teacher.photo_url(:medium)
                .rating
                  %b= @lesson.teacher.total_rating
                  ( #{t('lesson.rating')} )
              .entry-text
                %header.entry-header
                  .author= @lesson.teacher.full_name
                  .tags= user_skill_list(@lesson.teacher)
                %p= @lesson.teacher.promo_text.try(:html_safe)
    .comments
      .row
        .span8
          .comments-column
            %h3
              %i.icon-comments.hidden-phone
              = t('hints.leave_a_comment')
            .comments-box
              = render @lesson.comments, locals: { lesson: @lesson }

            .comments-form
              = form_for @lesson.comments.new do |f|
                .input-append.clearfix
                  = f.hidden_field :lesson_id
                  - if current_user.blank?
                    = f.text_area :body, placeholder: t('comment.textarea_disabled'), readonly: true
                  - else
                    %textarea.span5{ placeholder: t('comment.textarea_placeholder'), size: '16', type: 'text', name: 'comment[body]' }
                    %button.btn.submittable{:type => "button"} Enter


-#.single_lesson_wrapper
-#  .lesson
-#    .hint
-#      = link_to t("interests.#{@lesson.interest.name}"), interest_lessons_path(@lesson.interest)
-#      \/
-#      = link_to t("sub_interests.#{@lesson.sub_interest.name}"), sub_interest_lessons_path(@lesson.interest, @lesson.sub_interest)
-#    .title= @lesson.name
-#    .delim
-#    .body
-#      .hint.left_hint= t "course.hint.description"
-#      .delimiter
-#      .left
-#        .description
-#          = @lesson.description.html_safe
-#        .delim
-#        .additional_lesson_info
-#          .additional_left
-#            .address_line= t("lesson.address", { city: t("lesson.cities.#{@lesson.city.downcase}"), address_line: @lesson.address_line })
-#            .start_datetime
-#              = @lesson.start_datetime.to_formatted_s(:time)
-#              %span.date
-#                = "(" + l(@lesson.start_datetime, format: "%d %B %Y") + ")"
-#            .duration
-#              = t "lesson_form.hours", count: @lesson.duration / 60
-#              = t "lesson_form.minutes", count: @lesson.duration % 60
-#          .additional_right
-#            - if @lesson.teachers.include?(current_user)
-#              .buy_pass
-#                %a{ href: lesson_path(@lesson) }
-#                  %span
-#                    %b
-#                      = @lesson.place_price
-#                    = t("currency")
-#            - elsif @lesson.user_already_applied?(current_user)
-#              .buy_pass.disabled
-#                %a.disabled
-#                  %span
-#                    = t('lesson.already_applied')
-#            - elsif !@lesson.available?
-#              .buy_pass.disabled
-#                %a.disabled
-#                  %span
-#                    = t('lesson.no_place')
-#            - elsif @lesson.passed?
-#              .buy_pass.disabled
-#                %a.disabled
-#                  %span
-#                    = t('lesson.already_passed')
-#            - else
-#              .buy_pass
-#                %a{ href: get_buy_passes_path(@lesson) }
-#                  %span
-#                    %b
-#                      = @lesson.place_price
-#                    = t("currency")
-#            .delimiter
-#            .places_available
-#              .counts= "#{@lesson.places_taken} / #{@lesson.capacity}"
-#              .students= t("lesson.students")
-#          .delimiter
-#        .delim
-#        .buttons
-#          - if @lesson.teachers.include?(current_user)
-#            .orange_button
-#              %a{ href: edit_lesson_path(@lesson) }
-#                %span
-#                  = t('lesson.edit_lesson')
-#          - elsif !@lesson.passed? && @lesson.available? && !@lesson.user_already_applied?(current_user)
-#            .green_button
-#              %a{ href: get_buy_passes_path(@lesson) }
-#                %span
-#                  = t('lesson.buy_pass')
-#          .delimiter
-#        .share_buttons
-#          .vk_share{ data: { lesson_name: @lesson.name, button_text: t("vk_share_button.button_text"), common_title: t("vk_share_button.post_title"), url: lesson_url(@lesson) } }
-#          .delimiter
-#        .delimiter
-#      .delimiter
-#      .teacher_info
-#        .teacher_left
-#          - if teacher.image_attachment.try(:image).try(:url, :medium)
-#            .avatar
-#              %a{ href: user_path(teacher) }
-#                = image_tag teacher.image_attachment.try(:image, :thumb)
-#          - else
-#            .avatar.missing
-#              %a{ href: user_path(teacher) }
-#                = image_tag 'missing.png'
-#          .rating
-#            = teacher.ratings.sum(&:rating)
-#        .teacher_right
-#          .name= link_to teacher.full_name, user_path(teacher)
-#          .tease_description= @lesson.course.try(:tease_description).try(:html_safe) || @lesson.tease_description.html_safe
-#        .delimiter
-#
-#  .comments_wrapper
-#    .comments
-#      = render @lesson.comments, locals: { lesson: @lesson }
-#    .comment_form{ class: @lesson.comments.any? ? 'with_top_border' : '' }
-#      .ajax_loader.invisible
-#      = form_for @lesson.comments.new do |f|
-#        = f.hidden_field :lesson_id
-#        - if current_user.blank?
-#          = f.text_area :body, placeholder: t('comment.textarea_disabled'), readonly: true
-#        - else
-#          = f.text_area :body, placeholder: t('comment.textarea_placeholder')
-#          .submit_error.invisible= t "comment.body_is_blank"
-#          .submit.submittable
-#            %a
-#              %span= t 'comment.submit_message'
-#        .delimiter