= content_for :title, t("meta.course_lesson.title", pre_word: @lesson.name )
= content_for :meta_description, t("meta.course_lesson.description", pre_word: @lesson.name)
= content_for :meta_keywords, t("meta.course_lesson.keywords", pre_word: @lesson.name)
%h1.hide= t "meta.course_lesson.header", pre_word: @lesson.name

%section.border-rounded-wrapper
  .container
    .row
      .span8
        .sub-title
          - if @lesson.course
            = t "lesson.is_part_of_course"
            = link_to @lesson.course.name, course_path(@lesson.course)
          - else
            = t('lesson.lesson')
        %article.main-article
          %header
            %h1= @lesson.name
            %h2= @lesson.teacher.full_name
            .tags
              = link_to t("interests.#{@lesson.interest.name}"), interest_lessons_path(@lesson.interest)
              = ','
              = link_to t("sub_interests.#{@lesson.sub_interest.name}"), sub_interest_lessons_path(@lesson.interest, @lesson.sub_interest)
          %p= @lesson.description_top.try(:html_safe)
          - if @lesson.image_urls(:gallery).present?
            = render 'lessons_carousel', image_urls: @lesson.image_urls(:gallery)
          %p= @lesson.description_bottom.try(:html_safe)
          .pull-right.vk_share{ data: { lesson_name: @lesson.name, button_text: t("vk_share_button.button_text"), common_title: t("vk_share_button.post_title"), url: lesson_url(@lesson) } }
          .clearfix
      .span3.offset1
        = render 'sidebox', object: @lesson
    = render 'teacher_info', teacher: @lesson.teacher

    = render 'comments/form', commentable: @lesson