= content_for :title, t("meta.course_lesson.title", pre_word: @lesson.name )
= content_for :meta_description, t("meta.course_lesson.description", pre_word: @lesson.name)
= content_for :meta_keywords, t("meta.course_lesson.keywords", pre_word: @lesson.name)
%h1.hide= t "meta.course_lesson.header", pre_word: @lesson.name

%section.border-rounded-wrapper
  .container
    .row= render 'lesson_descriptive_body', lesson: @lesson, show_subtitle: true, is_in_form: false
    = render 'teacher_info', teacher: @lesson.teacher

    = render 'comments/form', commentable: @lesson