#forgot.hide.without-password-block
  = form_tag '/d/users/password', autocomplete: 'off' do
    .form-row{ class: flash[:alert].present? ? 'error' : '' }
      = label_tag 'user[email]', 'e-Mail', class: 'form-label'
      = text_field_tag 'user[email]', '', class: 'text-input input-full-width'
      - if flash[:alert].present?
        .form-error-message
          %sup *
          = flash[:alert]
    .form-btn-row.clearfix
      %button.btn.btn-warning.from-submit.pull-right{:type => "submit"}= t 'auth.send'