.span8
  .sub-title
    = raw t('lesson.course_consists_of', lessons_count: course.lessons.count)
  %article.main-article
    %header
      %h1= course.name
      %h2= course.user.full_name
      .tags
        = link_to t("interests.#{course.interest.name}"), interest_lessons_path(course.interest)
        = ','
        = link_to t("sub_interests.#{course.sub_interest.name}"), sub_interest_lessons_path(course.interest, course.sub_interest)
    %p= course.description.html_safe
    .course-label-holder
      .divider
      .divider-m20
      .course-label
        %p= t 'course.hint.includes_lessons'
        %span
          = t 'course.hint.total'
          %b= course.lessons.count
          = t 'lessons', count: course.lessons.count
    = render course.lessons.upcoming, native_lesson_price: current_user == course.user, from_course: true
