- course ||= Course.new
- error_fields = course.errors.keys
- form_to = form_method == :put ? course_path(course) : courses_path

= form_tag form_to, method: form_method do
  .border-box.create-course
    .course-form.lesson-form
      .row-fluid
        .span8
          .lesson-title{ class: error_fields.include?(:name) ? 'error' : '' }
            = text_field_tag :title, course.name, class: 'text-input input-full-width input-tooltip', id: 'lesson-price', placeholder: t('course_form.enter_title'), data: { 'original-title' => t('lesson_form.tooltips.title') }
            .title-hint= t 'course_form.course_title'
          .author
            %h2
              = t 'lesson_form.teacher'
              %b= current_user.full_name
          .meta-settings.clearfix
            .pull-left
              .category-select.pull-left{ data: { interests: interests_as_json(interests) } }
                %label{:for => "category-select"}
                  %sup.warn *
                  = t 'lesson_form.category'
                = select_tag :interest_id, interest_options(interests, course.interest_id), id: 'category-select', class: 'select-inline'
              ,
              %label{:for => "section-select"}
                %sup.warn *
                = t 'lesson_form.sub_category'
              - selected_interest = course.interest || interests.first
              = select_tag :sub_interest_id, sub_interest_options(selected_interest, course.sub_interest_id), id: 'section-select', class: 'select-inline'
              ,
              %label= t 'lesson_form.main_tags'
            .tags-appender-box
              = hidden_field_tag :tags, course.tags.map(&:name).join('|'), id: 'tags-holder'
              - course.tags.each do |tag|
                .tag-item
                  %span= tag
                  %a.remove
              .tags-appender
                = text_field_tag nil
                = link_to t('lesson_form.add_more'), '#'
          .description-box.course-description-box
            %h3= t 'course_form.course_description'
            = hidden_field_tag :description, course.description, id: 'course-description-holder'
            .description-edit.course-description-edit{ class: error_fields.include?(:description) ? 'error' : ''}
              - description_class = course.description.blank? ? 'has-placeholder ' : ''
              .editable-div.last-edited.course-editable-div.input-tooltip{ class: description_class, data: { 'original-title' => t('lesson_form.tooltips.description') } }
                - if course.description.present?
                  = course.description.html_safe
                - else
                  %i= t('lesson_form.description_placeholder')
            -#.description-footer.clearfix
            -#  .pull-left
            -#    %a.btn.btn-edit{:href => "#"}
            -#      %b b
            -#    %a.btn.btn-edit{:href => "#"}
            -#      %i i
            -#    %a.btn.btn-edit{:href => "#"}
            -#      %u u
            -#  .pull-right
            -#    %a.btn.btn-edit{:href => "#"}
            -#      %span +
            -#      \&lt;a&gt;
            -#    %a.btn.btn-edit{:href => "#"}
            -#      %span +
            -#      \&lt;img&gt;
            -#    %a.btn.btn-edit{:href => "#"}
            -#      %span +
            -#      \&lt;video&gt;
        .span3.offset1
          .course-sidebox
            .course-counter
              .clearfix
                .pull-left= t 'course_form.lessons_in_course'
                .number= course.lessons.count
              .clearfix
                .pull-left= t 'course_form.total_places'
                .number= course.lessons.map(&:capacity).map(&:to_i).sum
              .clearfix
                .pull-left= t 'course_form.total_course_price'
                .number= course.lessons.map(&:adjusted_price).map(&:to_i).sum
            - if course.lessons.present?
              .lessons-list
                - course.lessons.upcoming.each_with_index do |lesson, index|
                  .general-info
                    %h4= t 'lesson.will_take_place', index: index + 1
                    %address
                      %i.icon-map-marker
                      = t("lesson.address", { city: t("lesson.cities.#{lesson.city.downcase}"), address_line: lesson.address_line })
                    .time
                      %span
                        %i.icon-time
                        = Russian::strftime(lesson.start_datetime, '%d %B')
                      %span= t('lesson.start_at', time: lesson.start_datetime.strftime('%H:%M'))
                    .duration
                      %i.icon-timing
                      = format_duration(lesson.duration)

    .button-bar.text-center
      = hidden_field_tag :proceed_to_lesson_form, false, class: 'proceed-to-lesson-form'
      = link_to t('lesson.add_course_lesson'), '#', class: 'btn btn-success add-course-lesson'

    - course.lessons.each_with_index do |lesson, index|
      .clearfix
        %h3.lesson-short-title #{t('lesson.lesson')} #{index + 1}
      .lessons-row
        .row-fluid= render 'lessons/lesson_descriptive_body', lesson: lesson, show_subtitle: false, is_in_form: true
    - if course.lessons.present?
      .button-bar.text-center
        = hidden_field_tag :proceed_to_lesson_form, false, class: 'proceed-to-lesson-form'
        = link_to t('lesson.add_course_lesson'), '#', class: 'btn btn-success add-course-lesson'


    .button-bar.course-button-bar.text-center
      = link_to t('course_form.save_course'), '#', class: 'btn btn-warning course-submit'
      = link_to t('course_form.cancel'), root_path, class: 'btn btn-inverse'