- course ||= Course.new
- errors = course.errors.messages
- selected_interest = course.try(:interest) ? course.interest : interests.first

.lesson_form
  = form_for course do |f|
    .line
      .full_line_input
        .hint
          = t "course_form.name"
          - if errors[:name]
            %span.error= "(#{errors[:name].first})"
        .text_input
          = f.text_field :name
      .delimiter
    .line
      .half_line_input.left
        .hint
          = t "course_form.city"
          - if errors[:city]
            %span.error= "(#{errors[:city].first})"
        .select_input
          = f.select :city, APP_CONFIG["supported_cities"].map{ |city| t("course_form.#{city.downcase}") }
      .half_line_input.right
        .hint
          = t "course_form.times_per_week"
          - if errors[:times_per_week]
            %span.error= "(#{errors[:times_per_week].first})"
        .select_input
          = f.select :times_per_week, (1..20).to_a
      .delimiter
    .line
      .full_line_input
        .hint
          = t "course_form.course_description"
          - if errors[:description]
            %span.error= "(#{errors[:description].first})"
        .textarea_input
          = f.text_area :description
      .delimiter
    .delim
    .line
      .half_line_input.left
        .hint
          = t "course_form.select_interests"
        .interest.dynamic_input.select_input
          = f.select :interest_id, interests.map{ |i| [t("interests.#{i.name}").capitalize, i.id] }
      .half_line_input.right
        .hint
          = " "
        .sub_interest.dynamic_input.select_input
          = f.select :sub_interest_id, selected_interest.sub_interests.map{ |i| [t("sub_interests.#{i.name}").capitalize, i.id] }
      .delimiter
    .delim
    .line
      .full_line_input
        .hint
          = t "course_form.tease_description"
          - if errors[:tease_description]
            %span.error= "(#{errors[:tease_description].first})"
        .textarea_input
          = f.text_area :tease_description
      .delimiter
    .line
      .create_lesson.submittable
        %a
          - if course.new_record?
            %span= t("course_form.create_course")
          - else
            %span= t("course_form.edit_course")
      .delimiter