- course ||= Course.new
- error_fields = course.errors.keys
- form_to = form_method == :put ? course_path(course) : courses_path

= form_tag form_to, method: form_method do
  .border-box.create-course
    .course-form.lesson-form
      .row-fluid
        .span8
          .lesson-title{ class: error_fields.include?(:name) ? 'error' : '' }
            = text_field_tag :title, course.name, class: 'text-input input-full-width input-tooltip', id: 'lesson-price', placeholder: t('course_form.enter_title'), data: { 'original-title' => t('lesson_form.tooltips.title') }
            .title-hint= t 'course_form.course_title'
          .author
            %h2
              = t 'lesson_form.teacher'
              %b= current_user.full_name
          .meta-settings.clearfix
            .pull-left
              .category-select.pull-left{ data: { interests: interests_as_json(interests) } }
                %label{:for => "category-select"}
                  %sup.warn *
                  = t 'lesson_form.category'
                = select_tag :interest_id, interest_options(interests, course.interest_id), id: 'category-select', class: 'select-inline'
              ,
              %label{:for => "section-select"}
                %sup.warn *
                = t 'lesson_form.sub_category'
              - selected_interest = course.interest || interests.first
              = select_tag :sub_interest_id, sub_interest_options(selected_interest, course.sub_interest_id), id: 'section-select', class: 'select-inline'
              ,
              %label= t 'lesson_form.main_tags'
            .tags-appender-box
              = hidden_field_tag :tags, course.tags.map(&:name).join('|'), id: 'tags-holder'
              - course.tags.each do |tag|
                .tag-item
                  %span= tag
                  %a.remove
              .tags-appender
                = text_field_tag nil
                = link_to t('lesson_form.add_more'), '#'
          .description-box
            %h3= t 'course_form.course_description'
            - description_class = 'with-wysihtml5 course-description-edit'
            - description_class += ' error' if error_fields.include?(:description)
            = text_area_tag :description, course.description, class: description_class
            - if error_fields.include?(:description)
              .row-fluid
                .span12.description-error= t('lesson_form.tooltips.course_description')
          .row-fluid.course-hint
            .span12
              = check_box_tag :allow_split_buy, nil, course.allow_split_buy, class: 'pull-left'
              = label_tag :allow_split_buy do
                = t('hints.allow_split_buy')
                = link_to '#', class: 'custom-content-popover', data: { placement: :top } do
                  %i.icon-question-sign
                %div.hide.custom-content-popover-body
                  .pro-additional
                    %ol
                      %li
                        %b= t 'user.hint.allow_split_buy.selected'
                        = t 'user.hint.allow_split_buy.selected_hint', commission: Lesson::HUMAN_FULL_PERCENT
                      %li
                        %b= t 'user.hint.allow_split_buy.unselected'
                        = t 'user.hint.allow_split_buy.unselected_hint', commission: Lesson::HUMAN_FULL_PERCENT
          .row-fluid.course-hint{ class: course.allow_split_buy? ? 'hide' : ''}
            .span12
              = check_box_tag :changeable_price, nil, course.changeable_price, class: 'pull-left'
              = label_tag :changeable_price do
                = t('hints.changeable_price')
                = link_to '#', class: 'custom-content-popover', data: { placement: :bottom } do
                  %i.icon-question-sign
                %div.hide.custom-content-popover-body
                  .pro-additional
                    %ol
                      %li
                        %b= t 'user.hint.changeable_price.selected'
                        = t 'user.hint.changeable_price.selected_hint', commission: Lesson::HUMAN_FULL_PERCENT
                      %li
                        %b= t 'user.hint.changeable_price.unselected'
                        = t 'user.hint.changeable_price.unselected_hint', commission: Lesson::HUMAN_FULL_PERCENT
        .span3.offset1
          .course-sidebox
            .course-counter
              .clearfix
                .pull-left= t 'course_form.lessons_in_course'
                .number= course.lessons.count
              .clearfix
                .pull-left= t 'course_form.total_places'
                .number= course.lessons.map(&:capacity).map(&:to_i).sum
              .clearfix
                .pull-left= t 'course_form.total_course_price'
                .number= course.lessons.map(&:adjusted_price).map(&:to_i).sum
            - if course.lessons.present?
              .lessons-list
                - course.lessons.upcoming.each do |lesson|
                  .general-info
                    %h4= t 'lesson.will_take_place', lesson: lesson.name
                    %address
                      %i.icon-map-marker
                      = t("lesson.address", { city: t("lesson.cities.#{lesson.city.downcase}"), address_line: lesson.address_line })
                    .time
                      %span
                        %i.icon-time
                        = t('lesson.start_at', time: lesson.start_datetime.strftime('%H:%M'))
                        = Russian::strftime(lesson.start_datetime, '%d %B')
                    .duration
                      %i.icon-timing
                      = format_duration(lesson.duration)
          .course-sidebox
            .course-counter
              .clearfix.user-hint
                %b= t 'course.hint.user_note_1'
                = t 'course.hint.user_note_2_1'
                %span= t 'course.hint.user_note_2_2'
                = t 'course.hint.user_note_2_3'

    .button-bar.text-center
      = hidden_field_tag :proceed_to_lesson_form, false, class: 'proceed-to-lesson-form'
      = link_to 'Сохранить курс и добавить урок', '#', class: 'btn btn-success add-course-lesson'

    - course.lessons.each_with_index do |lesson, index|
      .clearfix
        %h3.lesson-short-title #{t('lesson.lesson')} #{index + 1}
      .lessons-row
        .row-fluid= render 'lessons/lesson_descriptive_body', lesson: lesson, show_subtitle: false, is_in_form: true
    - if course.lessons.present?
      .button-bar.text-center
        = hidden_field_tag :proceed_to_lesson_form, false, class: 'proceed-to-lesson-form'
        = link_to t('course_form.save_course_and_add_lesson'), '#', class: 'btn btn-success add-course-lesson'


    .button-bar.course-button-bar.text-center
      - unless course.new_record?
        = link_to t('course_form.save_course'), '#', class: 'btn btn-warning course-submit'
      = link_to t('course_form.cancel'), root_path, class: 'btn btn-inverse'
