.span3.offset1
  %aside
    .sidebox.course-sidebox
      .price-box
        .price
          = t 'lesson.price'
          %b
            - if course.lessons.present?
              = '%d,00' % course.calculate_lessons_price
            - else
              0.00
          = t 'currency'
        - if course.buyable_for?(current_user) && !course.allow_split_buy?
          = link_to t('lesson.buy_place_course'), get_buy_course_passes_path(course)
        - elsif course.is_owner?(current_user)
          = link_to t('course_form.edit_course'), edit_course_path(course), class: 'edit'

      .lessons-list
        - upcoming_lessons = course.lessons.upcoming
        - upcoming_lessons.each do |lesson|
          .general-info
            %h4= t 'lesson.will_take_place', lesson: lesson.name
            %address
              %i.icon-map-marker
              = t("lesson.address", { city: t("lesson.cities.#{lesson.city.downcase}"), address_line: lesson.address_line })
            .time
              %span
                %i.icon-time
                = t('lesson.start_at', time: lesson.start_datetime.strftime('%H:%M'))
                = Russian::strftime(lesson.start_datetime, '%d %B')
            .duration
              %i.icon-timing
              = format_duration(lesson)
            - if course.allow_split_buy?
              .sales-info= t('user.lesson_percentage_bought', percent: ((lesson.places_taken.to_f / lesson.capacity.to_f)*100).to_i)
