%h1
  Edit Course
%div
  = semantic_form_for @course do |f|
    = f.semantic_errors
    = f.input :name
    = f.input :city, as: :select, collection: Lesson::SUPPORTED_CITIES.map{ |city| t("lesson_form.#{city}") }
    = f.input :times_per_week, as: :number
    = f.input :interest, as: :select, collection: Interest.all.map{ |i| [i.name.capitalize, i.id] }
    = f.input :sub_interest, as: :select, collection: SubInterest.all.map{ |i| [i.name.capitalize, i.id] }
    = f.input :description, as: :text
    = f.input :tease_descriptions, as: :text
    = f.submit
