= content_for :title, t("meta.course_lesson.title", pre_word: @course.name )
= content_for :meta_description, t("meta.course_lesson.description", pre_word: @course.name)
= content_for :meta_keywords, t("meta.course_lesson.keywords", pre_word: @course.name)
%h1.hide= t "meta.course_lesson.header", pre_word: @course.name

.course_page
  %section.border-rounded-wrapper
    .container
      .row
        = render 'course_descriptive_body', course: @course
        = render 'sidebox', course: @course

      #accordion.finished-lessons-accordion
        = render partial: 'passed_lesson', collection: @course.lessons - @course.lessons.upcoming
      = render 'lessons/teacher_info', teacher: @course.user

      = render 'comments/form', commentable: @course