= content_for :title, t("meta.course_lesson.title", pre_word: @course.name )
= content_for :meta_description, t("meta.course_lesson.description", pre_word: @course.name)
= content_for :meta_keywords, t("meta.course_lesson.keywords", pre_word: @course.name)
%h1.hide= t "meta.course_lesson.header", pre_word: @course.name

.course_page
  %section.border-rounded-wrapper
    .container
      .row
        .span8
          .sub-title
            = raw t('lesson.course_consists_of', lessons_count: @course.lessons.count)
          %article.main-article
            %header
              %h1= @course.name
              %h2= @course.user.full_name
              .tags
                = link_to t("interests.#{@course.interest.name}"), interest_lessons_path(@course.interest)
                = ','
                = link_to t("sub_interests.#{@course.sub_interest.name}"), sub_interest_lessons_path(@course.interest, @course.sub_interest)
            %p= @course.description
            .course-label-holder
              .divider
              .divider-m20
              .course-label
                %p= t 'course.hint.includes_lessons'
                %span
                  = t 'course.hint.total'
                  %b= @course.lessons.count
                  = t 'lessons', count: @course.lessons.count
            = render @course.lessons.upcoming
        .span3.offset1
          %aside
            .sidebox.course-sidebox
              .price-box
                .price
                  Цена:
                  %b 2705,00
                  грн.
                %a{:href => "#"} билет на весь курс
              .lessons-list
                - @course.lessons.upcoming.each_with_index do |lesson, index|
                  .general-info
                    %h4= t 'lesson.will_take_place', index: index + 1
                    %address
                      %i.icon-map-marker
                      = t("lesson.address", { city: t("lesson.cities.#{lesson.city.downcase}"), address_line: lesson.address_line })
                    .time
                      %span
                        %i.icon-time
                        = Russian::strftime(lesson.start_datetime, '%d %B')
                      %span= t('lesson.start_at', time: lesson.start_datetime.strftime('%H:%M'))
                    .duration
                      %i.icon-timing
                      = format_duration(lesson.duration)
                -#.general-info
                -#  %h4 Урок 2, будет проходить:
                -#  %address
                -#    %i.icon-map-marker
                -#    Одесса.,  ул. Екатериненская 115
                -#  .time
                -#    %span
                -#      %i.icon-time
                -#      27 Марта
                -#    %span Начало в 15:00
                -#  .duration
                -#    %i.icon-timing
                -#    Продолжительность  3:00ч.
      #accordion.finished-lessons-accordion
        = render partial: 'passed_lesson', collection: @course.lessons - @course.lessons.upcoming
      = render 'lessons/teacher_info', teacher: @course.user

      = render 'comments/form', commentable: @course

      -#.comments
      -#  .row
      -#    .span8
      -#      .comments-column
      -#        %h3
      -#          %i.icon-comments.hidden-phone
      -#          Оставить свой вопрос преподавателю:
      -#        .comments-box
      -#          .comment-row.clearfix
      -#            .user-photo
      -#              %a{:href => "#"}
      -#                %img{:alt => "", :height => "29", :src => "/assets/user-icon.gif", :width => "29"}/
      -#            .comment-content
      -#              .comment-title
      -#                %h4
      -#                  Иванов Иван Иванович
      -#                  %i (препадователь)
      -#                %span 19:09  27.03.2013
      -#              %p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
      -#          .comment-row.comment-row-user.clearfix
      -#            .user-photo
      -#              %a{:href => "#"}
      -#                %img{:alt => "", :height => "29", :src => "/assets/user-icon.gif", :width => "29"}/
      -#            .comment-content
      -#              .comment-title
      -#                %h4 Иванов Иван Иванович
      -#                %span 19:09  27.03.2013
      -#              %p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
      -#        .comments-form
      -#          %form
      -#            .input-append.clearfix
      -#              %textarea.span5{:placeholder => "Оставить сообщение...", :size => "16", :type => "text"}
      -#              %button.btn{:type => "button"} Enter






-#.single_course_wrapper
-#  .course
-#    .title= @course.name
-#    .delim
-#    .body
-#      .hint= t("course.hint.description")
-#      .delimiter
-#      .left= @course.description.html_safe
-#      .right
-#        %table
-#          %tr
-#            %td.field= t("lesson.teacher") + ":"
-#            %td.content= link_to @course.user.full_name, user_path(@course.user)
-#          %tr
-#            %td.field= t("lesson.rating") + ":"
-#            %td.content= @course.user.ratings.sum(&:rating)
-#          %tr
-#            %td.field= t("lesson.city") + ":"
-#            %td.content= t("lesson.cities.#{@course.city}").capitalize
-#          %tr
-#            %td.field= t("lesson.interest") + ":"
-#            %td.content= link_to t("interests.#{@course.interest.name}"), interest_lessons_path(@course.interest)
-#          %tr
-#            %td.field= t("lesson.sub_interest") + ":"
-#            %td.content= link_to t("sub_interests.#{@course.sub_interest.name}"), sub_interest_lessons_path(@course.interest, @course.sub_interest)
-#        - if current_user && @course.user == current_user
-#          .course_administration
-#            .edit_button
-#              %a{ href: edit_course_path(@course) }
-#                %span= t "lesson_form.edit_course"
-#            .add_lesson_course_button
-#              %a{ href: new_course_lesson_lessons_path(@course) }
-#                %span= t "lesson.add_course_lesson"
-#            .delimiter
-#      .delimiter
-#  .course_lessons_wrapper
-#    .course_lessons_hint= t("course.hint.includes_lessons")
-#    = render @course.lessons, only_lessons: true