= content_for :title, t("meta.course_lesson.title", pre_word: @course.name )
= content_for :meta_description, t("meta.course_lesson.description", pre_word: @course.name)
= content_for :meta_keywords, t("meta.course_lesson.keywords", pre_word: @course.name)
%h1.hide= t "meta.course_lesson.header", pre_word: @course.name

.course_page
  %section.border-rounded-wrapper
    .container
      .row
        .span8
          .sub-title
            Данный Курс содержит
            %b 5
            уроков
          %article.main-article
            %header
              %h1 Как я провел лето или зачем нужны трусы на пляже?
              %h2 Иванов Иван Иванович
              .tags
                %a{:href => "#"}> Сказки
                ,
                = succeed "," do
                  %a{:href => "#"} Романы
                = succeed "." do
                  %a{:href => "#"} Искуство писателя
            %p
              %b Sed ut perspiciatis unde omnis
              iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            %p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
            .course-label-holder
              .divider
              .divider-m20
              .course-label
                %p Уроки в составе этого курса
                %span
                  всего
                  %b 5
                  уроков
            .course-box
              .entry-content
                .photo.hidden-phone
                  %a{:href => "#"}
                    %img{:alt => "", :src => "/assets/missing.jpg"}/
                  .rating
                    %b> 87
                    ( рейтинг )
                .entry-text
                  %header.entry-header
                    .short-info
                      Курс состоит из
                      %b 5
                      уроков.
                    %h3
                      %a{:href => "#"} Как я провел лето или зачем нужны трусы на пляже?
                    .author Иванов Иван Иванович
                    .tags
                      %a{:href => "#"}> Сказки
                      ,
                      = succeed "," do
                        %a{:href => "#"} Романы
                      = succeed "." do
                        %a{:href => "#"} Искуство писателя
                  .meta
                    .time
                      %span
                        %i.icon-time
                        27 Марта
                      %span Начало в 15:00
                    %address
                      %i.icon-map-marker
                      Одесса.,  ул. Екатериненская 115
              .entry-footer
                %a.btn.btn-success{:href => "#"} Купить билет
                .price
                  Цена:
                  %b 275,00
                  грн.
                %ul.places-data
                  %li.prod-all
                    Всего мест:
                    %b 20
                  %li.prod-sold
                    Купленно:
                    %b 9
                  %li.prod-left
                    Осталось:
                    %b 11
            .course-box
              .entry-content
                .photo.hidden-phone
                  %a{:href => "#"}
                    %img{:alt => "", :src => "/assets/missing.jpg"}/
                  .rating
                    %b> 87
                    ( рейтинг )
                .entry-text
                  %header.entry-header
                    .short-info
                      Курс состоит из
                      %b 5
                      уроков.
                    %h3
                      %a{:href => "#"} Как я провел лето или зачем нужны трусы на пляже?
                    .author Иванов Иван Иванович
                    .tags
                      %a{:href => "#"}> Сказки
                      ,
                      = succeed "," do
                        %a{:href => "#"} Романы
                      = succeed "." do
                        %a{:href => "#"} Искуство писателя
                  .meta
                    .time
                      %span
                        %i.icon-time
                        27 Марта
                      %span Начало в 15:00
                    %address
                      %i.icon-map-marker
                      Одесса.,  ул. Екатериненская 115
              .entry-footer
                %a.btn.btn-success{:href => "#"} Купить билет
                .price
                  Цена:
                  %b 275,00
                  грн.
                %ul.places-data
                  %li.prod-all
                    Всего мест:
                    %b 20
                  %li.prod-sold
                    Купленно:
                    %b 9
                  %li.prod-left
                    Осталось:
                    %b 11
        .span3.offset1
          %aside
            .sidebox
              .price-box
                .price
                  Цена:
                  %b 2705,00
                  грн.
                %a{:href => "#"} билет на весь курс
              .general-info
                %address
                  %i.icon-map-marker
                  Одесса.,  ул. Екатериненская 115
                .duration
                  %i.icon-timing
                  Продолжительность  3:00ч.
              %ul.places-data
                %li.prod-all
                  Всего:
                  %b 20
                %li.prod-sold
                  Купили:
                  %b 9
                %li.prod-left
                  Осталось:
                  %b 11
              %ul.person-list
                %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                  %a{:href => "#"}
                  %div
                    .popover-holder.clearfix
                      %a.popover-user-photo{:href => "#"}
                        %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                      .popover-user-text
                        %b
                          %a{:href => "#"} Артур Павлюк 1
                        %p UI Дизайн, Веб разработки, Фотография
                %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                  %a{:href => "#"}
                  %div
                    .popover-holder.clearfix
                      %a.popover-user-photo{:href => "#"}
                        %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                      .popover-user-text
                        %b
                          %a{:href => "#"} Артур Павлюк 2
                        %p UI Дизайн, Веб разработки, Фотография
                %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                  %a{:href => "#"}
                  %div
                    .popover-holder.clearfix
                      %a.popover-user-photo{:href => "#"}
                        %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                      .popover-user-text.3
                        %b
                          %a{:href => "#"} Артур Павлюк
                        %p UI Дизайн, Веб разработки, Фотография
                %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                  %a{:href => "#"}
                  %div
                    .popover-holder.clearfix
                      %a.popover-user-photo{:href => "#"}
                        %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                      .popover-user-text
                        %b
                          %a{:href => "#"} Артур Павлюк 4
                        %p UI Дизайн, Веб разработки, Фотография
                %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                  %a{:href => "#"}
                  %div
                    .popover-holder.clearfix
                      %a.popover-user-photo{:href => "#"}
                        %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                      .popover-user-text
                        %b
                          %a{:href => "#"} Артур Павлюк 5
                        %p UI Дизайн, Веб разработки, Фотография
                %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                  %a{:href => "#"}
                  %div
                    .popover-holder.clearfix
                      %a.popover-user-photo{:href => "#"}
                        %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                      .popover-user-text
                        %b
                          %a{:href => "#"} Артур Павлюк 6
                        %p UI Дизайн, Веб разработки, Фотография
                %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                  %a{:href => "#"}
                  %div
                    .popover-holder.clearfix
                      %a.popover-user-photo{:href => "#"}
                        %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                      .popover-user-text
                        %b
                          %a{:href => "#"} Артур Павлюк 7
                        %p UI Дизайн, Веб разработки, Фотография
                %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                  %a{:href => "#"}
                  %div
                    .popover-holder.clearfix
                      %a.popover-user-photo{:href => "#"}
                        %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                      .popover-user-text
                        %b
                          %a{:href => "#"} Артур Павлюк 8
                        %p UI Дизайн, Веб разработки, Фотография
                %li.active{"data-placement" => "bottom", "data-toggle" => "popover"}
                  %a{:href => "#"}
                  %div
                    .popover-holder.clearfix
                      %a.popover-user-photo{:href => "#"}
                        %img{:alt => "", :height => "50", :src => "/assets/img-1.jpg", :width => "50"}/
                      .popover-user-text
                        %b
                          %a{:href => "#"} Артур Павлюк 9
                        %p UI Дизайн, Веб разработки, Фотография
                %li
                  %a{:href => "#"}
                %li
                  %a{:href => "#"}
                %li
                  %a{:href => "#"}
                %li
                  %a{:href => "#"}
                %li
                  %a{:href => "#"}
                %li
                  %a{:href => "#"}
                %li
                  %a{:href => "#"}
                %li
                  %a{:href => "#"}
                %li
                  %a{:href => "#"}
                %li
                  %a{:href => "#"}
                %li
                  %a{:href => "#"}
            .flat-side-box
              %p Загруженные файлы:
              %ul
                %li
                  %a{:href => "#"}
                    %i.icon-pdf
                    %span Этот курс в pdf.
      #accordion.finished-lessons-accordion
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse-1"}
            №1 Урок такой то, уже прошел.
        #collapse-1.accordion-body.collapse
          .accordion-inner
            .row
              .span8
                .course-box
                  .entry-content
                    .photo.hidden-phone
                      %a{:href => "#"}
                        %img{:alt => "", :src => "/assets/missing.jpg"}/
                      .rating
                        %b> 87
                        ( рейтинг )
                    .entry-text
                      %header.entry-header
                        .short-info
                          Курс состоит из
                          %b 5
                          уроков.
                        %h3
                          %a{:href => "#"} Как я провел лето или зачем нужны трусы на пляже?
                        .author Иванов Иван Иванович
                        .tags
                          %a{:href => "#"}> Сказки
                          ,
                          = succeed "," do
                            %a{:href => "#"} Романы
                          = succeed "." do
                            %a{:href => "#"} Искуство писателя
                      .meta
                        .time
                          %span
                            %i.icon-time
                            27 Марта
                          %span Начало в 15:00
                        %address
                          %i.icon-map-marker
                          Одесса.,  ул. Екатериненская 115
                  .entry-footer
                    %a.btn.btn-success.disabled{:href => "#"} Урок прошел
                    .price
                      Цена:
                      %b 275,00
                      грн.
                    %ul.places-data
                      %li.prod-all
                        Всего мест:
                        %b 20
                      %li.prod-sold
                        Купленно:
                        %b 9
                      %li.prod-left
                        Осталось:
                        %b 11
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse-2"}
            №2 Урок такой то, уже прошел.
        #collapse-2.accordion-body.collapse
          .accordion-inner
            .row
              .span8
                .course-box
                  .entry-content
                    .photo.hidden-phone
                      %a{:href => "#"}
                        %img{:alt => "", :src => "/assets/missing.jpg"}/
                      .rating
                        %b> 87
                        ( рейтинг )
                    .entry-text
                      %header.entry-header
                        .short-info
                          Курс состоит из
                          %b 5
                          уроков.
                        %h3
                          %a{:href => "#"} Как я провел лето или зачем нужны трусы на пляже?
                        .author Иванов Иван Иванович
                        .tags
                          %a{:href => "#"}> Сказки
                          ,
                          = succeed "," do
                            %a{:href => "#"} Романы
                          = succeed "." do
                            %a{:href => "#"} Искуство писателя
                      .meta
                        .time
                          %span
                            %i.icon-time
                            27 Марта
                          %span Начало в 15:00
                        %address
                          %i.icon-map-marker
                          Одесса.,  ул. Екатериненская 115
                  .entry-footer
                    %a.btn.btn-success.disabled{:href => "#"} Урок прошел
                    .price
                      Цена:
                      %b 275,00
                      грн.
                    %ul.places-data
                      %li.prod-all
                        Всего мест:
                        %b 20
                      %li.prod-sold
                        Купленно:
                        %b 9
                      %li.prod-left
                        Осталось:
                        %b 11
      .author-info
        .row
          .span8
            .course-box
              .entry-content
                .photo.hidden-phone
                  %a{:href => "#"}
                    %img{:alt => "", :src => "/assets/missing.jpg"}/
                  .rating
                    %b> 87
                    ( рейтинг )
                .entry-text
                  %header.entry-header
                    .author Иванов Иван Иванович
                    .tags
                      %a{:href => "#"}> Сказки
                      ,
                      = succeed "," do
                        %a{:href => "#"} Романы
                      = succeed "." do
                        %a{:href => "#"} Искуство писателя
                  %p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                  %p No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure
      .comments
        .row
          .span8
            .comments-column
              %h3
                %i.icon-comments.hidden-phone
                Оставить свой вопрос преподавателю:
              .comments-box
                .comment-row.clearfix
                  .user-photo
                    %a{:href => "#"}
                      %img{:alt => "", :height => "29", :src => "/assets/user-icon.gif", :width => "29"}/
                  .comment-content
                    .comment-title
                      %h4
                        Иванов Иван Иванович
                        %i (препадователь)
                      %span 19:09  27.03.2013
                    %p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                .comment-row.comment-row-user.clearfix
                  .user-photo
                    %a{:href => "#"}
                      %img{:alt => "", :height => "29", :src => "/assets/user-icon.gif", :width => "29"}/
                  .comment-content
                    .comment-title
                      %h4 Иванов Иван Иванович
                      %span 19:09  27.03.2013
                    %p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
              .comments-form
                %form
                  .input-append.clearfix
                    %textarea.span5{:placeholder => "Оставить сообщение...", :size => "16", :type => "text"}
                    %button.btn{:type => "button"} Enter






-#.single_course_wrapper
-#  .course
-#    .title= @course.name
-#    .delim
-#    .body
-#      .hint= t("course.hint.description")
-#      .delimiter
-#      .left= @course.description.html_safe
-#      .right
-#        %table
-#          %tr
-#            %td.field= t("lesson.teacher") + ":"
-#            %td.content= link_to @course.user.full_name, user_path(@course.user)
-#          %tr
-#            %td.field= t("lesson.rating") + ":"
-#            %td.content= @course.user.ratings.sum(&:rating)
-#          %tr
-#            %td.field= t("lesson.city") + ":"
-#            %td.content= t("lesson.cities.#{@course.city}").capitalize
-#          %tr
-#            %td.field= t("lesson.interest") + ":"
-#            %td.content= link_to t("interests.#{@course.interest.name}"), interest_lessons_path(@course.interest)
-#          %tr
-#            %td.field= t("lesson.sub_interest") + ":"
-#            %td.content= link_to t("sub_interests.#{@course.sub_interest.name}"), sub_interest_lessons_path(@course.interest, @course.sub_interest)
-#        - if current_user && @course.user == current_user
-#          .course_administration
-#            .edit_button
-#              %a{ href: edit_course_path(@course) }
-#                %span= t "lesson_form.edit_course"
-#            .add_lesson_course_button
-#              %a{ href: new_course_lesson_lessons_path(@course) }
-#                %span= t "lesson.add_course_lesson"
-#            .delimiter
-#      .delimiter
-#  .course_lessons_wrapper
-#    .course_lessons_hint= t("course.hint.includes_lessons")
-#    = render @course.lessons, only_lessons: true