.navigation-list
  .pull-left.list-item= link_to t('admin.lessons'), admin_lessons_path, class: 'btn btn-warning'
  .pull-left.list-item= link_to t('admin.users'), admin_users_path, class: 'btn btn-warning'
  .pull-left.list-item= link_to t('admin.visits'), admin_campaigns_path, class: 'btn btn-warning'
  .pull-left.list-item= link_to t('admin.sub_interests'), admin_sub_interests_path, class: 'btn btn-warning'
  .pull-left.list-item= link_to t('admin.email_distribution'), new_admin_email_distribution_path, class: 'btn btn-warning'

  .pull-right= link_to t('auth.sign_out'), sign_out_admin_sessions_path, class: 'btn btn-info'
