%li.clickable_popover{"data-placement" => "bottom"}
  = link_to '#', class: 'status-link' do
    = current_user.has_vk_email? ? 1 : 0
  - if current_user.has_vk_email?
    %div
      .event-dropdown
        .dropdown-title= t 'global_notifications.attention'
        %ul.event-list
          %li.clearfix
            .event-meta.clearfix
              %span.date.pull-right= current_user.last_sign_in_at.to_s(:russian)
              %span= t 'global_notifications.vk_email.email_not_valid'
            = link_to t('global_notifications.vk_email.change_email'), edit_user_path(current_user), class: 'dropdown-link pull-right'
  - else
    %div
      .event-dropdown
        .dropdown-title=t 'no_new_notifications'
