.courses-page
  %table.table.table-striped.table-hover.table-condensed
    %tr
      %th #ID
      %th= t('admin.interest')
      %th= t('admin.sub_interest')
      %th= t('admin.name')
      %th= t('admin.created_at')
      %th= t('admin.lesson_count')
      %th= t('admin.teacher_id')
      %th= t('admin.teacher_full_name')
      %th= t('admin.teacher_course_email')
    - @courses.each do |course|
      %tr{ class: course.lessons.count.zero? ? 'error' : 'success' }
        %td= course.id
        %td= t("interests.#{course.interest.name}")
        %td= t("sub_interests.#{course.sub_interest.name}")
        %td= course.name.truncate(80)
        %td= course.created_at.to_s(:no_time_zone_change_db)
        %td
          %b= course.lessons.count
        %td= course.user.try(:id)
        %td= course.user.try(:full_name)
        %td= course.user.try(:email)

.pagination-wrapper
  .container
    .row
      .span8.offset4
        .pagination.clearfix
          = paginate @courses