!!!
%html
  %head
    %title Teachme
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .body-wrapper
      .header-top
        .left
          .logo
            %a{href: root_path}
              = image_tag "logo.png"
        .mid
          .learn-link
            %a{href: lessons_path}
              = image_tag "sun-top.png"
        .right
          - if signed_in?
            .auth
              .profile
                - if current_user.image_attachment.try(:image, :thumb)
                  .image
                    = image_tag current_user.image_attachment.image(:thumb)
                .name
                  = current_user.full_name
                .profile_button
                  %a{ href: user_path(current_user) }
                    %span
                      = t("auth.profile")
              .sign_out
                %a{ href: destroy_user_session_path, data: { method: 'delete' } }
                  %span
          - else
            .auth
              .sign_in_button
                %a{ href: new_user_session_path }
                  %span
                    = t("auth.sign_in")
        .delim
        .header-bottom
          .study-link
            %a{href: new_lesson_path}
              = image_tag "sun-bottom.png"
      .main
        = yield
      .delim
      .footer-wrapper
        .content
          .links
            = link_to "Main"
            = link_to "Contacts"
            = link_to "Perspectives"
            = link_to "Help"
          .social-links
          .dc-logo

- User.all.each do |user|
  = link_to user.first_name, user_path(user)