!!!
%html
  %head
    %title Teachme
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .fb-root
    .vk_api_transport
    - if flash[:error]
      .alert-error= flash[:error]
    .body-wrapper
      .header-top
        .left
          .logo
            %a{href: root_path}
              = image_tag "logo.png"
        .mid
          .learn-link
            %a{href: lessons_path}
              %span
        .right
          - if signed_in?
            .auth
              .profile
                - if current_user.image_attachment.try(:image, :thumb)
                  .image
                    = image_tag current_user.image_attachment.image(:thumb)
                .name
                  = current_user.full_name
                .profile_button
                  %a{ href: user_path(current_user) }
                    %span
                      = t("auth.profile")
              .sign_out
                %a{ href: destroy_user_session_path, data: { method: 'delete' } }
                  %span
          - else
            .auth
              .sign_in_button
                %a{ href: new_user_session_path }
                  %span
                    = t("auth.sign_in")
        .delim
        .header-bottom
          .study-link
            %a{href: new_lesson_path}
              %span
      .main
        = yield
      .delim
      .footer-wrapper
        .content
          .links
            = link_to t("static_pages.names.main"), root_path
            = link_to t("static_pages.names.contacts"), static_page_path(:contacts)
            = link_to t("static_pages.names.perspectives"), static_page_path(:perspectives)
            = link_to t("static_pages.names.help"), static_page_path(:help)
          .social-links
            #vk_like
            .fb-like{ data: { send: 'false', layout: 'button_count', width: 400, 'show-faces' => 'false', font: 'arial'} }
          .dc-logo
    .invisible
      = image_tag "sun-bottom-hover.png"
      = image_tag "sun-top-hover.png"
    -# Yandex metrics
    %noscript
      %div
        %img{ src: "//mc.yandex.ru/watch/18629929", style: "position:absolute; left:-9999px;", alt: "" }
- if Rails.env.to_s == 'development'
  - User.all.each do |user|
    = link_to user.first_name, user_path(user)