!!!
%html
  %head
    %title
      = "#{content_for?(:title) ? yield(:title) : t('meta.default_title')} | #{t('meta.site_name')}"
    %meta{name: :description, content: content_for?(:meta_description) ? yield(:meta_description) : t('meta.default_description') }
    %meta{name: :keywords, content: content_for?(:meta_keywords) ? yield(:meta_keywords) : t('meta.default_keywords') }
    %meta{'http-equiv' => 'content-type', content: 'text/html; charset=UTF-8'}
    = stylesheet_link_tag  'application', :media => 'all'
    = stylesheet_link_tag  'http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic'
    = stylesheet_link_tag  'http://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic'
    = csrf_meta_tags
  %body
    #fb-root
    .vk_api_transport
    - if flash[:error]
      .flash-alert.hide
        = flash[:error]
        %span.close x
    - if flash[:notice]
      .flash-notice.hide
        = flash[:notice]
        %span.close x
    %header#header
      .header-wrapper
        .container
          %strong.logo
            = link_to 'Teach Me', root_path
          %nav.main-nav
            = link_to t('headers.classes'), classes_path
            = link_to t('headers.staff_room'), teachers_path

          - if signed_in?
            %nav.user-nav
              %ul
                = render 'layout_partials/unread_message_notifications'
                = render 'layout_partials/unread_event_notifications'
                %li.clickable_popover.user-link-holder{"data-placement" => "bottom"}
                  = link_to user_path(current_user), class: 'user-link' do
                    = image_tag current_user.photo_url(:thumb)
                  %div
                    .popover-holder.clearfix
                      %ul.nav-dropdown
                        %li
                          = link_to t('auth.profile'), user_path(current_user)
                        %li
                          = link_to t('user.my_interests'), user_interests_path(current_user)
                        %li
                          = link_to t('user.edit_user_data'), edit_user_path(current_user)
                        %li
                          = link_to t('auth.sign_out'), destroy_user_session_path, data: { method: 'delete' }
          - else
            %nav.action-nav
              = link_to t('auth.sign_in'), new_user_session_path
    #wrapper= yield
    %footer
      .footer-top
        .container.clearfix
          %nav
            = link_to t('headers.classes'), classes_path
            = link_to t('headers.staff_room'), teachers_path
          %nav
            %a{:href => "#"} О нас
            %a{:href => "#"} Как это работает?
            = link_to t('static_pages.names.main'), root_path
            = link_to t('static_pages.names.contacts'), static_page_path(:contacts)
            = link_to t('static_pages.names.perspectives'), static_page_path(:perspectives)
            = link_to t('static_pages.names.help'), static_page_path(:help)
      .footer-bottom
        .container.clearfix
          %ul.social-nav
            %li
              %a.footer-fb{:href => "#"} facebook
            %li
              %a.footer-tw{:href => "#"} twitter
            %li
              %a.footer-rss{:href => "#"} rss
            %li
              %a.footer-vk{:href => "#"} vk
          %p &copy; Teach-me.com.ua  2013
    - unless Rails.env.development?
      %noscript
        %div
          %img{ src: '//mc.yandex.ru/watch/18629929', style: 'position:absolute; left:-9999px;', alt: '' }
    = javascript_include_tag 'application'
-#- if Rails.env.development?
-#  .users
-#    - User.all.each do |user|
-#      = link_to user.first_name, user_path(user)
-#  %pre.session_dump
-#    = session.to_yaml
-#  %pre.params_dump
-#    = params.to_yaml
-#  %pre.referrer_dump
-#    = request.referer.inspect