!!!
%html
  %head
    %title
      = "#{content_for?(:title) ? yield(:title) : t('meta.default_title')} | #{t('meta.site_name')}"
    %meta{name: :description, content: content_for?(:meta_description) ? yield(:meta_description) : t('meta.default_description') }
    %meta{name: :keywords, content: content_for?(:meta_keywords) ? yield(:meta_keywords) : t('meta.default_keywords') }
    %meta{'http-equiv' => 'content-type', content: 'text/html; charset=UTF-8'}
    = stylesheet_link_tag  'application', :media => 'all'
    = stylesheet_link_tag  'http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic'
    = stylesheet_link_tag  'http://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic'
    = csrf_meta_tags
  %body
    #fb-root
    .vk_api_transport
    - if flash[:error]
      .alert-error= flash[:error]
    %header#header
      .header-wrapper
        .container
          %strong.logo
            = link_to 'Teach Me', root_path
          %nav.main-nav
            %a{:href => "#"} Классы
            %a{:href => "#"} Учительская
          - if signed_in?
            %nav.user-nav
              %ul
                %li.message-link-holder.clickable_popover{"data-placement" => "bottom"}
                  %a.message-link{:href => "#"}
                    %span (0)
                    %i message
                  -#%div
                  -#  .message-dropdown
                  -#    .dropdown-title У вас есть новые сообщения ( 0 ):
                  -#    %ul.message-list
                  -#      -# TODO for each user.message do
                  -#        -#%li.clearfix
                  -#        -#  %table.message-meta{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  -#        -#    %tr
                  -#        -#      %td От:
                  -#        -#      %td.message-sender
                  -#        -#        Артур Павлюк
                  -#        -#        %i (новое)
                  -#        -#    %tr
                  -#        -#      %td Когда:
                  -#        -#      %td 15 мин назад
                  -#        -#    %tr
                  -#        -#      %td Тема:
                  -#        -#      %td Я иду в на урок по php, ты как?
                  -#        -#  %p Ан мэль мольлиз дикырыт факилиз, Ан мэль мольлиз рыт факилиз, фиэрэнт волуптатум аккоммодары эа...
                  -#        -#  %a.dropdown-link.pull-right{:href => "#"} Ответить
                %li.clickable_popover{"data-placement" => "bottom"}
                  %a.status-link{:href => "#"} 0
                  -#%div
                  -#  .event-dropdown
                  -#    .dropdown-title Ближайшие события:
                  -#    %ul.event-list
                  -#      -# TODO for each user.event do
                  -#        -#%li.clearfix
                  -#        -#  .event-meta.clearfix
                  -#        -#    %span.date.pull-right 31.05.2013
                  -#        -#    %span Начало урока:
                  -#        -#  .event-title
                  -#        -#    %a{:href => "#"} Как я провел лето или зачем нужны трусы н...
                  -#        -#  %div Иванов Иван Иванович
                  -#        -#  .tags
                  -#        -#    %a{:href => "#"}> Сказки
                  -#        -#    ,
                  -#        -#    = succeed "," do
                  -#        -#      %a{:href => "#"} Романы
                  -#        -#    = succeed "." do
                  -#        -#      %a{:href => "#"} Искуство писателя
                  -#        -#  %a.dropdown-link.pull-right{:href => "#"} Перейти

                %li.clickable_popover.user-link-holder{"data-placement" => "bottom"}
                  = link_to user_path(current_user), class: 'user-link' do
                    = image_tag current_user.photo_url(:thumb)
                  %div
                    .popover-holder.clearfix
                      %ul.nav-dropdown
                        %li
                          = link_to t('auth.profile'), user_path(current_user)
                        %li
                          = link_to t('user.my_interests'), user_interests_path(current_user)
                        %li
                          %a{:href => "#"} Изменить данные
                        %li
                          = link_to t('auth.sign_out'), destroy_user_session_path, data: { method: 'delete' }
          - else
            %nav.action-nav
              = link_to t('auth.sign_in'), new_user_session_path
    = yield
    %footer
      .footer-top
        .container.clearfix
          %nav
            %a{:href => "#"} Классы
            %a{:href => "#"} Учительская
          %nav
            %a{:href => "#"} О нас
            %a{:href => "#"} Как это работает?
            = link_to t('static_pages.names.main'), root_path
            = link_to t('static_pages.names.contacts'), static_page_path(:contacts)
            = link_to t('static_pages.names.perspectives'), static_page_path(:perspectives)
            = link_to t('static_pages.names.help'), static_page_path(:help)
      .footer-bottom
        .container.clearfix
          %ul.social-nav
            %li
              %a.footer-fb{:href => "#"} facebook
            %li
              %a.footer-tw{:href => "#"} twitter
            %li
              %a.footer-rss{:href => "#"} rss
            %li
              %a.footer-vk{:href => "#"} vk
          %p &copy; Teach-me.com.ua  2013
    - unless Rails.env.development?
      %noscript
        %div
          %img{ src: '//mc.yandex.ru/watch/18629929', style: 'position:absolute; left:-9999px;', alt: '' }
    = javascript_include_tag 'application'
    = tinymce(theme: 'simple') if content_for?(:init_tinymce)

- if Rails.env.development?
  .users
    - User.all.each do |user|
      = link_to user.first_name, user_path(user)
  %pre.session_dump
    = session.to_yaml
  %pre.params_dump
    = params.to_yaml