!!! Final
%html
  %head
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}/
    %title= t 'mailer.welcome.title'
    :css
      body {
          margin: 0;
          background: #ebecec;
      }
  %body{:bottommargin => '0', :leftmargin => '0', :rightmargin => '0', :topmargin => '0'}
    #mailsub
      %table{:bgcolor => '#ebecec', :cellpadding => '0', :cellspacing => '0', :style => 'background: #ebecec;', :width => '100%'}
        %tr
          %td{:style => 'line-height: 0; font-size: 0;'}
            %img{:height => '60', :src => mailer_image_url('none.gif'), :width => '1'}/
        %tr
          %td
            %table{:align => 'center', :bgcolor => '#fff', :cellpadding => '0', :cellspacing => '0', :style => 'background: #fff;', :width => '600'}
              = render 'mail_header', icon: @header_icon
              / Content
              %tr
                %td
                  %table{:cellpadding => '0', :cellspacing => '0', :width => '100%'}
                    %tr
                      %td{:style => 'line-height: 0; font-size: 0;'}
                        %img{:height => '1', :src => 'http://teach-me.com.ua/assets/mailer/none.gif', :width => '40'}/
                      %td
                        %table{:cellpadding => '0', :cellspacing => '0', :width => '520'}
                          = yield
                          = render 'contacts'
                      %td{:style => 'line-height: 0; font-size: 0;'}
                        %img{:height => '1', :src => 'http://teach-me.com.ua/assets/mailer/none.gif', :width => '40'}/
              / Content END
              = render 'footer'
        %tr
          %td{:style => 'line-height: 0; font-size: 0;'}
            %img{:height => '60', :src => 'http://teach-me.com.ua/assets/mailer/none.gif', :width => '1'}/
